.icon-button {
    width: 40px; /* 버튼 크기 */
    height: 40px;
    border: none;
    border-radius: 50%; /* 원형 버튼 */
    background-color: transparent; /* 배경 투명 */
    background-image: url('/assets_mobile/images/icon/chatboot.png'); /* 업로드한 아이콘 이미지 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    background-position: center;
    cursor: pointer;
}

.icon-button:hover {
    opacity: 0.8; /* 마우스 오버 시 투명도 조절 */
}

.button-container {
    position: absolute;
    left: -15px;  /* 왼쪽 정렬 */
    top: 50%;
    transform: translateY(-50%);
}