@charset "UTF-8";

/*=================================================================================
 * Common style
 =================================================================================*/
/* 오우 가이드*/
.guide-table-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.guide-table-wrap th, .guide-table-wrap td {
    font-size: 18px;
    text-align: left;
    padding: 10px 20px;
}

.guide-table-wrap td:nth-child(3) {
    font-size: 15px;
    line-height: 2;
}

/*=================================================================================
 * Layout style
 =================================================================================*/
.page-wrapper {
    position: relative;
    width: 100%;
    min-width: 1500px;
    min-height: 100%;
    background-color: #F0F1F2;
}

.dashboard-layout-header {
    position: relative;
    width: 100%;
    height: 68px;
    box-shadow: 0px 0px 10px rgba(0, 4, 10, 0.08);
    background: #fff;
    transition: all .3s;
    z-index: 11;
}

.dashboard-layout-contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 68px);
    overflow: hidden;
}

.dashboard-layout-left {
    width: 260px;
    height: 100%;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    transition: left 0.3s ease;
    z-index: 10;
}

.dashboard-layout-right {
    position: relative;
    width: calc(100% - 260px);
    transition: all 0.3s;
    overflow: auto;
}

.dashboard-layout-popup {
}

.row {
    display: flex;
    margin-bottom: 24px;
}

.row:last-child {
    margin-bottom: 0;
}

.row > section, .row > .section {
    margin-right: 24px;
}

.row > section:last-child, .row > .section:last-child {
    margin-right: 0;
}

.col section, .col .section {
    margin-bottom: 24px;
}

.col section:last-child .col .section:last-child {
    margin-bottom: 0;
}

/*=================================================================================
 * (Layout) Header / Footer style
=================================================================================*/
.dashboard-layout-header header {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

header .left {
    display: flex;
    align-items: center;
    width: 250px;
    flex-shrink: 0;
}

/* 버튼 스타일 */
.open_menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px; /* 버튼 크기 축소 */
    height: 30px;
    background: transparent;
    border: none;
    position: relative;
    gap: 4px; /* 막대 간격 줄이기 */
    transition: transform 0.3s ease-in-out;
}

/* 햄버거 바 기본 디자인 */
.open_menu .bar {
    display: block;
    width: 20px; /* 기본 바 길이 축소 */
    height: 2px; /* 바 두께 줄이기 */
    background-color: #333; /* 기본 색상 */
    border-radius: 10px; /* 둥근 막대 */
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

/* `☰` → `>` 변형 (부드러운 연결) */
.open_menu.menu_open .bar:first-child {
    transform: translateY(6px) rotate(30deg); /* 위쪽 바 ↘ 방향 */
    width: 18px; /* 길이 줄이기 */
    transform-origin: right;
}

.open_menu.menu_open .bar:nth-child(2) {
    width: 18px; /* 가운데 바 유지 */
}

.open_menu.menu_open .bar:last-child {
    transform: translateY(-6px) rotate(-30deg); /* 아래쪽 바 ↗ 방향 */
    width: 18px; /* 길이 줄이기 */
    transform-origin: right;
}

/* 호버 시 효과 */
.open_menu:hover .bar {
    background-color: #555; /* 호버 시 색상 변경 */
}

/* 버튼 클릭 시 살짝 눌리는 효과 */
.open_menu:active {
    transform: scale(0.95);
}


header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-left: 24px; /* 왼쪽 여백 */
    margin-right: 24px; /* 오른쪽 여백 */
    width: 108px;
    height: 30px; /* 이미지 높이 */
}

header .logo h1 {
    font-size: 23px;
    font-weight: bold;
    line-height: 23.87px;;
    color: #333333;
}


header .btn-aigpt {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    gap: 6px;
    background-color: #E8F5F4;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #119891;
}

header .btn-aigpt::after {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    background: url('../images/icon/ico-aigpt-right.svg') no-repeat center
}

header .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

header .right .header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

header .right .info {
    display: flex;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}

@media (max-width: 880px) {
    header .right .info {
        display: none;
    }
}

header .right .info dl {
    padding: 5px 20px;
    text-align: center;
}

header .right .info dl:first-child {
    border-right: 1px solid #dedede;
}

header .right .info dl:first-child dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3069B3;
}

header .right .info dl dt {
    font-size: 13px;
    font-weight: 500;
}

header .right .info dl dd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #119891;
    text-align: center;
}

header .right .info dl dd span {
    font-size: 12px;
    font-weight: 400;
    opacity: .65;
}

header .right .weather {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #F4F4F4;
    border-radius: 10px;
    gap: 20px;
}

@media (max-width: 1350px) {
    header .right .weather {
        display: none;
    }
}

header .right .weather > div {
    display: flex;
    align-items: center;
}

header .right .weather .wt-main {
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    gap: 10px;
}

header .right .weather .wt-main .area {
    font-size: 14px;
    font-weight: 600;
}

header .right .weather .wt-graphic {
    display: flex;
    align-items: center;
}

header .right .weather .wt-graphic p {
    margin-left: 6px;
    font-size: 24px;
    font-weight: 700;
}

header .right .weather .wt-graphic .celsius {
    font-size: 13px;
    font-weight: 400;
    vertical-align: text-top;
}

header .right .weather .wt-detail {
    margin-right: 10px;
}

header .right .weather .wt-detail ul {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    gap: 20px
}

header .right .weather .wt-detail ul li {
    display: flex;
    align-items: center;
}

header .right .weather .wt-detail ul li img {
    margin-right: 6px;
}

header .right .alarm {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    gap: 8px;
}

header .right .alarm::after {
    content: '';
    width: 14px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    background: url('../images/icon/ico-userdetail.svg') no-repeat;
}

header .right .alarm-box {
    display: none;
    position: absolute;
    top: 60px;
    right: 200px;
    max-width: 400px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 2, 6, 0.08);
    border-radius: 3px;
}

header .right .alarm-box a.btn-gray {
    display: block;
    min-width: 120px;
    padding: 9px 16px;
    background-color: #EDEFF5;
    border-radius: 3px;
    color: #333333;
    font-weight: 700;
    text-align: center;
}

header .right .alarm-box .alarm-tab-links {
    display: flex;
    margin-left: 1px;
    margin-bottom: -1px;
    overflow: hidden;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 8px;
}

.alarm-tab-links li {
    position: relative;
}

.alarm-tab-links li a {
    display: inline-flex;
    justify-content: center;
    min-width: 127px;
    padding: 8px 32px 8px 32px;
    background-color: #3069B3;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    transition: all .3s;
}

header .right .alarm-box .alarm-tab-links a {
    background-color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #fff;
}

header .right .alarm-box .alarm-tab-item {
    display: none;
    max-height: 180px;
    overflow: auto;
    margin-bottom: 8px;
    transition: all .3s;
}

header .right .alarm-box .alarm-tab-item.active {
    display: block;
}

header .right .alarm-box table {
    border-top: none;
    font-size: 14px;
}

header .right .alarm-box .alarm-tab-links .active a {
    color: #3069B3;
    border-bottom: 2px solid #3069B3;
}

.num {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 2px 8px;
    background-color: #2EC9D6;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
}

table td.narrow-cell {
    width: 40px; /* 원하는 너비로 설정 */
    padding: 5px; /* 다른 셀보다 패딩을 줄일 수 있음 */
    text-align: center;
}

.alarm-tab-contents .table-wrap table {
    table-layout: fixed; /* 테이블 레이아웃 고정 */
    width: 100%; /* 테이블 너비를 100%로 설정 */
}

.alarm-tab-contents .table-wrap col.wp10 {
    width: 10%; /* 첫 번째 열 너비 고정 */
}

.alarm-tab-contents .table-wrap col.wp25 {
    width: 25%; /* 두 번째, 세 번째, 네 번째 열 너비 고정 */
}

.alarm-tab-contents .alarm-tab-item tr:hover {
    cursor: pointer;
}

header .right .user {
    display: flex;
    align-items: center;
    padding: 0 24px 0 0;
    font-size: 14px;
    font-weight: 500;
}

header .right .user img {
    width: 18px;
}

header .right .user .user-name {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

header .right .user::after {
    content: '';
    width: 14px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    background: url('../images/icon/ico-down.svg') no-repeat;
}

header .right .user-box {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
}

header .right .user-box ul {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 2, 6, 0.08);
    padding: 8px;
}

header .right .user-box a {
    display: block;
    min-width: 120px;
    padding: 9px 16px;
    font-size: 14px;
    color: #4D4D4D;
    text-align: center;
}

header .right .user-box a:hover {
    background-color: #EDEFF5;
    border-radius: 3px;
    color: #333333;
    font-weight: 700;
}

header .right .login, header .utill .logout {
    display: block;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: #F5F6FA;
    font-size: 12px;
    color: #808080;
    border-top: 1px solid #EBEBEB;
}

/*=================================================================================
 * (Layout) Nav style
=================================================================================*/
.dashboard-layout-sidebar {
    height: 100%;
    background-color: #031B4B;
    overflow: auto;
}

.layout-sidebar-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-sidebar-tab li {
    position: relative;
    width: 50%;
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
}

.layout-sidebar-tab li:last-child {
    border-right: none;
}

.layout-sidebar-tab li a {
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 46px;
    color: #bbbbbb;
}

.layout-sidebar-tab li.active a {
    color: #FFF;
}

.layout-sidebar-tab li.active a::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #5DDFDE;
    border-radius: 50%;
}

.layout-sidebar-tab li:last-child.active a::before {
    left: 25px;
}

.layout-sidebar-tabcont {
    min-height: calc(100% - 140px);
}

.layout-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.layout-nav::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 10px;
}

.layout-nav::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.layout-nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b6bf;
}

.layout-nav > ul {
    width: 100%;
    padding: 6px 12px;
}

.layout-nav > ul li a {
    color: #fff;
    transition: all .2s;
}

.layout-nav .dep1 li a:hover {
    color: #fff;
}

.layout-nav .dep1-1 {
    display: none;
}

.layout-nav .dep1 > li {
    position: relative;
    margin: 10px 0;
}

.layout-nav .dep1 > li > a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #bbbbbb;
    padding: 10px 14px;
    background: url('../images/icon/ico-lnb-bg.svg') no-repeat 92% 50%;
    font-size: 17px;
    font-weight: 600;
    border-radius: 16px 16px 0 0;
    transition: all .2s;
}

.layout-nav .dep1 > li > a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.layout-nav .dep1 > li .ico-lnb01::before {
    background: url('../images/icon/ico-lnb01-w.svg') no-repeat center;
}

.layout-nav .dep1 > li .ico-lnb02::before {
    background: url('../images/icon/ico-lnb02-w.svg') no-repeat center;
}

.layout-nav .dep1 > li .ico-lnb03::before {
    background: url('../images/icon/ico-lnb03-w.svg') no-repeat center;
}

.layout-nav .dep1 > li .ico-lnb04::before {
    background: url('../images/icon/ico-lnb04-w.svg') no-repeat center;
}

.layout-nav .dep1 > li .ico-lnb05::before {
    background: url('../images/icon/ico-lnb05-w.svg') no-repeat center;
}

.layout-nav .dep1 > li.on > a,
.layout-nav .dep1 > li.active > a {
    background: url('../images/icon/ico-lnb-on.svg') #fff no-repeat 92% 50%;
    color: #031B4B;
    font-weight: 700;
}

.layout-nav .dep1 > li.on .dep2 {
    display: block;
}

.layout-nav .dep1 > li.on .ico-lnb01::before {
    background: url('../images/icon/ico-lnb01-n.svg') no-repeat center;
}

.layout-nav .dep1 > li.on .ico-lnb02::before {
    background: url('../images/icon/ico-lnb02-n.svg') no-repeat center;
}

.layout-nav .dep1 > li.on .ico-lnb03::before {
    background: url('../images/icon/ico-lnb03-n.svg') no-repeat center;
}

.layout-nav .dep1 > li.on .ico-lnb04::before {
    background: url('../images/icon/ico-lnb04-n.svg') no-repeat center;
}

.layout-nav .dep1 > li.on .ico-lnb05::before {
    background: url('../images/icon/ico-lnb05-n.svg') no-repeat center;
}

.layout-nav .dep1 > li.active .ico-lnb01::before {
    background: url('../images/icon/ico-lnb01-n.png') no-repeat center;
}

.layout-nav .dep1 > li.active .ico-lnb02::before {
    background: url('../images/icon/ico-lnb02-n.png') no-repeat center;
}

.layout-nav .dep1 > li.active .ico-lnb03::before {
    background: url('../images/icon/ico-lnb03-n.png') no-repeat center;
}

.layout-nav .dep1 > li.active .ico-lnb04::before {
    background: url('../images/icon/ico-lnb04-n.png') no-repeat center;
}

.layout-nav .dep1 > li.active .ico-lnb05::before {
    background: url('../images/icon/ico-lnb05-n.png') no-repeat center;
}

.layout-nav .dep2 {
    display: none;
    padding: 15px 10px 15px 26px;
    background-color: #0D2960;
    border-radius: 0 0 15px 15px;
}

.layout-nav .dep2 > li {
    position: relative;
    padding-left: 16px;
    border-left: 2px solid #2E436C;
}

.layout-nav .dep2 > li.on,
.layout-nav .dep2 > li.active .dep3 {
    display: block;
}

.layout-nav .dep2 > li.active > a {
    color: #FFF;
}

.layout-nav .dep2 > li.active > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    display: block;
    width: 2px;
    height: 32px;
    background-color: #5DDFDE;
}

.layout-nav .dep2 > li > a {
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #bbbbbb;
}

.layout-nav .dep2 > li > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    display: block;
    width: 2px;
    height: 34px;
    background-color: #62708C;
}

.layout-nav .dep2 > li.on > a {
    font-weight: 700;
    color: #FFF;
}

.layout-nav .dep2 > li.on > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    display: block;
    width: 2px;
    height: 32px;
    background-color: #5DDFDE;
}

.layout-nav .dep3 {
    display: none;
    margin-left: 12px;
}

.layout-nav .dep3 > li > a {
    display: block;
    padding: 8px 0;
    font-size: 14px;
    color: #bbbbbb;
}

.layout-nav .dep3 > li.on > a {
    color: #FFF;
}

.layout-bookmark {
    display: none;
    overflow: hidden;
}

.layout-bookmark a {
    color: #bbbbbb;
}

.bookmark-list a:hover {
    color: #fff;
}

/*.bookmark-list {padding: 10px 20px;}*/
/*.bookmark-list > li {padding: 10px 0;}*/
/*.bookmark-list > li > a {color: #5DDFDE; font-size: 16px; font-weight: 700;}*/
/*.bookmark-list .depth2 {margin-top: 6px; margin-left: 10px; font-size: 14px;}*/
/*.bookmark-list .depth2 li {display: flex; align-items: center; padding: 6px 0;}*/
/*.bookmark-list .depth2 li::before {content: ''; display: inline-flex; align-items: center; width: 4px; height: 4px; background-color: #7F7F7F; border-radius: 50%; margin-right: 6px;}*/

/*.bookmark-list {padding: 10px 20px;}*/
/*.bookmark-list > li {padding: 10px 0;}*/
/*.bookmark-list > li > a {color: #5DDFDE; font-size: 16px; font-weight: 700;}*/
.bookmark-list {
    margin-top: 6px;
    margin-left: 10px;
    font-size: 14px;
}

.bookmark-list > li {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.bookmark-list > li::before {
    content: '';
    display: inline-flex;
    align-items: center;
    width: 4px;
    height: 4px;
    background-color: #7F7F7F;
    border-radius: 50%;
    margin-right: 6px;
}

.bookmark-list > li.on > a {
    color: #FFF;
}

.bookmark-list > li.on::before {
    background-color: #5DDFDE;
}

.bookmark {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 50px;
    color: #8F8F8F;
    line-height: 1;
}

.bookmark::before {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 13px;
    background: url('../images/icon/ico-bookmark.svg') no-repeat center;
}

.bookmark.on {
    color: #000;
}

.bookmark.on::before {
    background: url('../images/icon/ico-bookmark-on.svg') no-repeat center;
}

.layout-sidebar-bottom {
    padding: 30px 0;
    text-align: center;
    opacity: .3;
}

/*=================================================================================
 * (Layout) Contents style
=================================================================================*/
/* MDI */
.layout-mdi {
    background-color: #DDE1E4;
}

.layout-mdi ul {
    display: flex;
    align-items: center;
}

.layout-mdi ul li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #fff;
    border-right: 1px solid #DFE0E1;
    border-bottom: 1px solid #DFE0E1;
    font-size: 14px;
    font-weight: 500;
    color: #9B9BB2;
    gap: 30px;
    cursor: pointer;
}

.layout-mdi ul li.on {
    background-color: #F0F1F2;
    border-bottom: none;
    color: #05043E;
}

.layout-mdi ul li.home {
    width: 56px;
    justify-content: center;
}

.layout-mdi ul li.home a::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/icon/ico-mdi-home.svg') no-repeat center;
}

.layout-mdi ul li.home.on a::before {
    background: url('../images/icon/ico-mdi-home-on.svg') no-repeat center;
}

/* Page Title */
.page-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CDCDCD;
}

.page-title-wrap .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.page-title-wrap h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.page-title-wrap .page-navi {
    display: flex;
    align-items: center;
}

.page-title-wrap .page-navi > li {
    font-size: 14px;
    color: #808080;
    height: 20px;
    vertical-align: middle;
}

.page-title-wrap .page-navi > li::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../images/icon/ico-nav-next.svg') no-repeat center;
    vertical-align: inherit;
}

.page-title-wrap .page-navi > li:last-child {
    font-weight: 600;
    color: #4D4D4D;
}

.page-title-wrap .page-navi > li:last-child::after {
    display: none;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.title-wrap h3 {
    font-size: 20px;
    font-weight: 700;
    color: #292929;
}

.title-wrap ul {
    display: flex;
    align-items: center;
}

.title-wrap > div {
    display: flex;
    align-items: center;
}

.tit-desc {
    display: flex;
    align-items: center;
    color: #F95053;
    line-height: 1;
}

.tit-desc img {
    margin-right: 8px;
}

/*Contents*/
.layout-contents {
    min-height: calc(100% - 70px);
    padding: 20px 30px 30px 30px;
}


/*=================================================================================
 * Section style
=================================================================================*/
.section-box {
    margin-bottom: 20px;
}

section {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #E5E7EC;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    overflow: auto;
}

section .section-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*Search*/
.search-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
}

.search-wrap ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-wrap dl dt {
    font-size: 14px;
    font-weight: 700;
    color: #4d4d4d;
    margin-bottom: 4px;
}

/*Button*/
.button-wrap {
    margin-bottom: 16px;
}

.button-wrap ul {
    display: flex;
    align-items: center;
    gap: 6px;
}

.chart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: #666666;
}

/*=================================================================================
 * TAB style
 =================================================================================*/
.tab-links {
    display: flex;
    margin-left: 1px;
    margin-bottom: -1px;
    overflow: hidden;
}

.tab-links li {
    position: relative;
}

.tab-links li:first-child a {
    border-radius: 6px 0 0 0;
}

.tab-links li:last-child a {
    border-radius: 0 6px 0 0;
}

.tab-links li a {
    display: inline-flex;
    justify-content: center;
    min-width: 90px;
    padding: 8px 32px 8px 32px;
    background-color: #3069B3;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    transition: all .3s;
}

.tab-links li.active a {
    background-color: #fff;
    color: #03428E;
    font-weight: 700;
}

section .tab-links {
}

section .tab-links li a {
    padding: 8px 10px;
    margin-right: -1px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    color: #808080;
}

section .tab-links li:first-child a {
    border-radius: 12px 0 0 12px;
}

section .tab-links li:last-child a {
    border-radius: 0 12px 12px 0;
    margin-right: 0;
}

section .tab-links li.active a {
    background-color: #3069B3;
    color: #fff;
}

.tab-contents > section, .tab-item > .row > section:first-child {
    border-radius: 0 15px 15px 15px;
}

.tab-contents > .row > section {
    border-radius: 0 15px 15px 15px;
}

.tab-item {
    display: none;
    transition: all .3s;
}

.tab-item.active {
    display: block;
}

.filter-box {
    display: flex;
    align-items: center;
}

.filter-box li {
    width: 50%;
    text-align: center;
    border: 1px solid #C9C9C9;
    border-bottom: 1px solid #125DE6;
    border-radius: 6px 6px 0 0;
}

.filter-box li.on {
    border: 1px solid #125DE6;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}

.filter-box li.on a {
    color: #125DE6;
}

.filter-box li a {
    display: block;
    padding: 10px;
    color: #929BAA;
}

/*=================================================================================
 * Accordion style
=================================================================================*/
.aco-hd.active {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: all .35s;
}

.aco-hd .btn-aco-open {
    display: none;
}

.aco-hd.active .btn-aco-close {
    display: none;
}

.aco-hd.active .btn-aco-open {
    display: block;
}

.aco-cont {
    border-top: 1px solid #333;
    padding-top: 10px;
}

/*=================================================================================
 * Popup style
=================================================================================*/
.popup-overlay, .popup-wrapper {
    display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 560px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    z-index: 50;
}

.popup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

.popup-title h3, .popup-title h4 {
    font-size: 28px;
}

.popup-title .btn-popup-close {
    position: absolute;
    right: 30px;
}

.popup-contents {
}

.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.popup-button button, .popup-button .btn {
    width: auto;
    height: 36px;
    min-width: 85px;
    border: 1px solid #03428E;
    color: #03428E;
    font-size: 16px;
    font-weight: 700;
}

.popup-button button:hover, .popup-button .btn:hover {
    background-color: #F5F6FA;
    border: 1px solid #03428E;
    color: #03428E;
}

.popup-button .btn-navy {
    color: #fff;
}

.popup-button .btn-navy:hover {
    background-color: #03428E;
    color: #fff;
}

/*=================================================================================
 * Table style
 =================================================================================*/
.table-wrap {
    width: 100%;
    overflow: auto;
}

.ellipsis {
    width: 100%;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sum, .sum th, .sum td {
    background-color: #E9F9F9;
    border-bottom: 1px solid #D4D5D7;
    font-weight: 700;
}

.table-sum, .table-sum th, .table-sum td {
    background-color: #F4F6FA;
    font-weight: 700;
}

/*List style*/
table {
    font-family: 'Pretendard';
    font-size: 15px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #333;
}

table tr, table td, table td a {
    text-align: center;
    transition: all .2s;
}

table th {
    font-size: 15px;
    border-bottom: 1px solid #C6C6C6;
    background-color: #EDEFF5;
    padding: 0 10px;
    width: 160px;
    height: 48px;
    font-weight: 700;
}

table td {
    border-bottom: 1px solid #EBEBEB;
    height: 48px;
    padding: 5px 10px;
}

table td .ico-file {
    margin-left: 10px;
}

table td input[type="text"],
table td input[type="search"],
table td input[type="password"],
table td input[type="tel"],
table td input[type="email"],
table td input[type="number"] {
    line-height: 34px;
    font-size: 15px;
}

table tr .list-dot {
    padding-top: 5px;
}

table tr .list-dot li {
    font-size: 15px !important;
    font-weight: 500;
    color: #333333;
}

table tr .btn table, table tr .btn-blue, table tr .btn-lightnavy {
    height: 38px;
}

.write-table th {
    padding: 10px 20px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    text-align: left;
}

.write-table td {
    padding: 5px 12px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
}

.view-table thead tr th {
    border-right: 0;
}

.view-table th {
    border-right: 1px solid #D4D5D7;
    border-bottom: 1px solid #D4D5D7;
    text-align: left;
}

.view-table td {
    text-align: left;
}

.list-table tbody tr:hover,
.list-table tr:hover td {
    background-color: #E5F9F9;
}

.list-table tr th, .list-table tr td {
    text-align: center;
}

.list-table tr input[type="checkbox"] {
    margin: 0 auto;
}

.list-table tr input[type="checkbox"]:focus {
    outline: none;
}

/* 페이징  */
.paging-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.paging-wrap li {
    margin: 0 2px;
}

.paging-wrap li.on a {
    background-color: #03428E;
    color: #fff;
}

.paging-wrap li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    transition: all .2s;
}

.paging-wrap li a:hover {
    background-color: #C7DFF4;
}

.paging-wrap li a.disable {
    color: #B3B3B3;
}

.btn-first::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 14px;
    background: url('../images/icon/btn-first.svg') no-repeat center;
    vertical-align: middle;
}

.btn-last::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 14px;
    background: url('../images/icon/btn-last.svg') no-repeat center;
    vertical-align: middle;
}

.btn-prev::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 14px;
    background: url('../images/icon/btn-prev.svg') no-repeat center;
    vertical-align: middle;
}

.btn-next::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 14px;
    background: url('../images/icon/btn-next.svg') no-repeat center;
    vertical-align: middle;
}


/*=================================================================================
 * Card
 =================================================================================*/
/*Main Card*/
.page-dashboard .row.row-1 {
    margin-bottom: 0;
}

.card-wrap {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.card-wrap .swiper-slide {
    width: 25%;
}

.card-wrap section {
    border: 2px solid #E5E7EC;
    transition: transform 0.2s ease;
}

.card-wrap section:hover {
    transform: scale(1.1);
}

.card-wrap section .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-wrap section .title h3 {
    font-size: 16px;
}

.card-wrap section dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-wrap section dl dt {
    font-size: 17px;
}

.card-wrap section dl dd {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.card-wrap section dl:nth-child(2) {
    margin-bottom: 6px;
}

.card-wrap section dl:nth-child(2) dt {
    font-weight: 600;
}

.card-wrap section dl:last-child dd {
    font-size: 24px;
}

.card-wrap section .unit {
    margin-left: 8px;
    font-size: 14px;
    opacity: 0.45;
}

.card-wrap .swiper-slide:nth-child(1) section {
    background-color: #031B4B;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(2) section {
    background-color: #03428E;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(3) section {
    background-color: #3069B3;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(4) section {
    background-color: #C7DFF4;
    color: #031B4B;
}

.card-wrap .swiper-slide:nth-child(6) section {
    background-color: #031B4B;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(7) section {
    background-color: #03428E;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(8) section {
    background-color: #3069B3;
    color: #fff;
}

.card-wrap .swiper-slide:nth-child(9) section {
    background-color: #C7DFF4;
    color: #031B4B;
}

.card-wrap .swiper-slide:nth-child(1) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(1) section .btn-plus::after,
.card-wrap .swiper-slide:nth-child(2) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(2) section .btn-plus::after,
.card-wrap .swiper-slide:nth-child(3) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(3) section .btn-plus::after,
.card-wrap .swiper-slide:nth-child(6) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(6) section .btn-plus::after,
.card-wrap .swiper-slide:nth-child(7) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(7) section .btn-plus::after,
.card-wrap .swiper-slide:nth-child(8) section .btn-plus::before,
.card-wrap .swiper-slide:nth-child(8) section .btn-plus::after {
    background-color: #fff;
}

.card-btn-wrap {
    position: relative;
}

.card-btn-wrap .btn {
    width: 36px;
    height: 36px;
}

.card-btn-wrap .btn img {
    margin-right: 0;
}

.card-btn-wrap .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px !important;
    color: #000;
}

.card-btn-wrap .swiper-button-prev {
    left: auto !important;
    right: 86px !important;
    top: 60% !important;
}

.card-btn-wrap .swiper-button-next {
    left: auto !important;
    right: 43px !important;
    top: 60% !important;
}

.card-edit-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 20px;
}

.card-edit-wrap > section {
    width: 20%;
    width: 270px;
    cursor: pointer;
}

.card-edit-wrap > section.on {
    border: 2px solid #3069B3;
    color: #03428E;
}

.btn-hidden {
    display: block;
    width: 26px;
    height: 26px;
    background: url('../images/icon/btn-hidden.svg') no-repeat center;
}

.card-hidden .btn-hidden {
    background: url('../images/icon/btn-show.svg') no-repeat center;
    opacity: .6;
}

.card-edit-wrap > section.on .btn-hidden {
    background: url('../images/icon/btn-hidden-on.svg') no-repeat center;
}

.card-edit-wrap .card-hidden.on .btn-hidden {
    background: url('../images/icon/btn-show-on.svg') no-repeat center;
}

.card-edit-wrap > section.card-hidden h3, .card-edit-wrap > section.card-hidden dl {
    opacity: .3;
}

.card-edit-wrap .ui-state-highlight {
    position: relative;
    background: #F1F7FF !important;
    border: 2px dashed #3069B3;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.card-edit-wrap .ui-state-highlight::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/icon/ico-cardmove.svg') no-repeat;
}

.gesture-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #119891;
    border-radius: 10px;
    transition: all .3s;
    opacity: .65;
}

.gesture-box img {
    width: 60px;
}

.section-card-wrap {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.section-card-wrap section {
    width: 20%;
    box-shadow: none;
    padding: 16px 20px;
}

.section-card-wrap h3 {
    font-size: 17px;
    font-weight: 600;
}

.section-card-wrap .data {
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    margin: 9px 0;
}

.section-card-wrap dl {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-card-wrap dl dt {
    margin-right: 10px;
}

.section-card-wrap dl dd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-card-wrap dl dd .unit {
    margin-left: 3px;
}

.section-card-wrap section:nth-child(1) {
    background-color: #031B4B;
    color: #fff;
}

.section-card-wrap section:nth-child(2) {
    background-color: #03428E;
    color: #fff;
}

.section-card-wrap section:nth-child(3) {
    background-color: #3069B3;
    color: #fff;
}

.section-card-wrap section:nth-child(4) {
    background-color: #C7DFF4;
    color: #031B4B;
}


/*=================================================================================
 * Editor
 =================================================================================*/
.ck-editor__main {
    border: 1px solid #D5D7DC;
}

.ck-content {
    width: 440px;
    height: 500px;
    padding: 10px 20px !important;
    margin: 20px;
    border: 1px solid #D5D7DC;
}

.ck-content .table table {
    border: 1px solid #E5E7EC !important;
}

.ck-content .table table td, .ck-content .table table th {
    border: 1px solid #E5E7EC !important;
}

.ck-content .table table th {
    text-align: center !important;
    font-weight: 500;
}

.ck-editor__editable ul {
    width: 100%;
}

.ck-editor__editable ul li {
    position: relative;
    color: #333;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 2px;
    color: #666;
    font-weight: 500;
}

.ck-editor__editable ul li:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 5px;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 15px;
    vertical-align: middle;
    background: #666;
}


/*=================================================================================
 * Motion style
 =================================================================================*/
/* Motion */
.slidein {
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slidedown {
    animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*=================================================================================
 * Calendar style
 =================================================================================*/
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #808080;
    --fc-button-bg-color: #fff;
    --fc-button-border-color: #E4E4E4;
    --fc-button-hover-bg-color: #F5F6FA;
    --fc-button-hover-border-color: #4D4D4D;
    --fc-button-active-bg-color: #3069B3;
    --fc-button-active-border-color: #3069B3;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, .3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, .3);
    --fc-today-bg-color: rgba(229, 249, 249, 1);
    --fc-now-indicator-color: red;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #fff !important;
}

.fc-today-button {
    background-color: #3069B3 !important;
    color: #fff !important;
}

.fc-theme-standard th {
    height: 30px;
    line-height: 30px;
    background-color: #fff;
}

.fc .fc-daygrid-day-top {
    flex-direction: column-reverse;
}

.fc-daygrid-day {
    height: 100px;
}

.fc-direction-ltr {
    height: 660px;
}

.fc-scroller {
    overflow: hidden auto !important;
}

.fc-day-sun .fc-daygrid-day-number,
.fc-day-sun .fc-daygrid-day-top {
    color: #EC193A;
}