@charset "UTF-8";

/*=================================================================================
 * Common style
 =================================================================================*/
/* 가이드*/
.guide-table-wrap {max-width: 1200px; margin: 0 auto; padding: 40px 0;}
.guide-table-wrap th, .guide-table-wrap td {font-size: 18px; text-align: left; padding: 10px 20px;}
.guide-table-wrap td:nth-child(2) {font-size: 15px; line-height: 2;}


/*=================================================================================
 * Layout style
 =================================================================================*/
/*.mobile-wrapper {position: relative; width:100%; min-width:340px; max-width:1024px; min-height: 100%; margin: 0 auto;}*/
.mobile-wrapper {position: relative; width:100%; min-width:340px; max-width:1024px; min-height: 100%; margin: 0 auto; }
.mobile-layout-header {position: relative; width: 100%; height: 60px; border-bottom: 1px solid #EBEBEB; transition: all .3s; z-index: 11; }
.mobile-layout-contents {position: relative; display: flex; justify-content: space-between; width:100%; height: calc(100% - 60px); overflow: hidden;}
.mobile-layout-menu {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; transform: translateX(100%); transition: transform 0.3s ease; z-index: 60;}
.mobile-layout-menu.active {transform: translateX(0);}
.mobile-layout-popup {position: fixed; top: 0; left: 0; width: 100vh; z-index: 50;}
.layout-contents {width:100%;}
.row {display: flex; gap: 10px;}

/*=================================================================================
 * (Layout) Nav style
=================================================================================*/
header {position: relative; display: flex; justify-content: space-between; align-items: center; height: 100%; margin: 0 16px;}
header .left {display: flex; align-items: center; gap: 16px;}
header .right a {display: block;}

/* GNB */
.menu-wrapper {height: 100vh; background-color: #fff; display: flex; flex-direction: column;}
/*.menu-wrapper .menu-top {
    display: flex; justify-content: space-between; align-items: center;
    padding: 24px 20px 16px 20px; background-color: #3069B3; color: #fff;
}*/
.menu-wrapper .menu-top {
    display: flex; justify-content: space-between; align-items: center;
    padding: 24px 20px 16px 20px; background-color: rgb(40, 82, 225); color: #fff;
}
.menu-wrapper .menu-top a {display: inline-block; color: #fff;}
.menu-wrapper .menu-top .left {display: flex; align-items: baseline; gap: 12px;}
.menu-wrapper .menu-top .left .user-name {display: flex; align-items: baseline; gap:8px;}
.menu-wrapper .menu-top .left .user-name span {color: #ffffff; font-size: 20px; font-weight: 600;}
.menu-wrapper .menu-top .right {display: flex; align-items: center; gap: 8px;}

.menu-wrapper nav {
    display: flex; height: 100%; flex: 1;
}

.menu-wrapper nav .dep1 {
    width: 140px; height: 100vh; background-color: #d8ebfb;
    display: flex; flex-direction: column;
    border-right: solid 1px #163fe3;
}

.menu-wrapper nav .dep1 li {
    padding: 16px 24px; background-color: #fff; color: black; font-size: 17px;
    cursor: pointer; transition: background 0.3s;
}

/* dep1 활성화된 메뉴 */
.menu-wrapper nav .dep1 li.active {
    background-color: #6980e4; color: #fff;
}

/* dep2 (하위 메뉴) */
.menu-wrapper nav .dep2 {
    flex: 1; background-color: #fff; padding: 0; margin: 0;
}

/* dep2 하위 메뉴 리스트 기본적으로 숨김 */
.menu-wrapper nav .dep2 ul {
    display: none; padding: 0; margin: 0; list-style: none;
}

/* 선택된 dep2만 표시 */
.menu-wrapper nav .dep2 ul.active {
    display: block;
}

/* dep2 항목 */
.menu-wrapper nav .dep2 li {
    border-bottom: 1px solid #EDEDED;
}

/* dep2 링크 스타일 */
.menu-wrapper nav .dep2 li a {
    display: block; padding: 16px 24px; font-size: 17px; font-weight: 600;
}

/* 선택된 메뉴 */
.menu-wrapper nav .dep2 .on {
    color: #a9b1e6; font-weight: bold;
}
/*.menu-wrapper nav .dep2 .on {
    color: #3069B3; font-weight: bold;
}*/

/*=================================================================================
 * (Layout) Contents style
=================================================================================*/
.contents-wrap {padding: 0px 16px; margin-bottom: 20px;}
.nodata {display: flex; justify-content: center; align-items: center; min-height: 100px; color:#666666;}
.button-wrap {margin: 16px 16px;}
.button-wrap button {height: 46px; border-radius: 12px;}

/* Card */
.list-top-wrap {display: flex; justify-content: space-between; margin-bottom: 8px;}
.list-top-wrap .blue {font-weight: 700;}
.list-card-wrap {display: flex; flex-flow: row wrap; gap: 16px; width: 100%;}
/*.card-box {width: 100%; padding: 0 16px; background-color: #fff; border: 1px solid #119891; border-radius: 12px; border-left: 10px solid #119891;}*/
.card-box {width: 100%; padding: 16px;background-color: #FFFFFF;border: 1px solid #E0E0E0; border-radius: 12px;display: flex;flex-direction: column;position: relative;}
.badge {background: #FFC107; /* 기존 색상 유지 */    color: #666; /* 글씨 색 */    padding: 3px 8px; /* 패딩 줄임 */    border-radius: 12px; /* 모서리 둥글게 */font-size: 13px; /* 폰트 크기 줄임 */font-weight: bold;display: inline-block;}
.card-box.card-green {background-color: #F4FDFD; border: 1px solid #119891; border-left: 10px solid #119891;}
.card-box.card-blue {background-color: #F7FBFF; border: 1px solid #3069B3; border-left: 10px solid #3069B3;}
.card-box.card-black {background-color: #F8F8F8; border: 1px solid #1D1D1D; border-left: 10px solid #1D1D1D;}
.card-box.card-red {background-color: #fffafb; border: 1px solid #EC193A; border-left: 10px solid #EC193A;}
.card-box.card-white { background-color: #FFFFFF; border: 1px solid #DADADA; border-left: 10px solid #DADADA; }
.card-box.card-yellow { background-color: #FFF9DB; border: 1px solid #FFC107; border-left: 10px solid #FFC107; }
.card-box.card-orange { background-color: #FFE8D5; border: 1px solid #FF8C00; border-left: 10px solid #FF8C00; }

.card-box .card-tit {display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between; padding: 16px 0 12px 0; border-bottom: 1px solid #000; gap: 8px;}
.card-box .card-cont {padding: 2px 0 0 0;}
/*.card-box .card-cont dl {display: flex; align-items: center; justify-content: space-between;  padding: 8px 0; border-bottom: 1px solid #f4f4f4;}*/
.card-box .card-cont dl {display: flex; align-items: center; justify-content: space-between;  padding: 8px 0;  border-bottom: none;}
.card-box .card-cont dl dt {width: 90px; font-size: 13px; font-weight: 600; color: #777;}
.card-box .card-cont dl dd {width: calc(100% - 90px); font-size: 14px; font-weight: 500; text-align: right;}
.card-box .card-btn {display: flex; gap: 8px; padding: 8px 0;}
.card-box .card-btn button, .card-box .card-btn .btn { background-color: #119891; color: #fff; border:none;}
.card-green .card-btn button, .card-green .card-btn .btn {background-color: #119891 !important;}
.card-blue .card-btn button, .card-blue .card-btn .btn {background-color: #3069B3 !important;}
.card-black .card-btn button, .card-black .card-btn .btn {background-color: #1D1D1D !important;}
.card-red .card-btn button, .card-red .card-btn .btn {background-color: #EC193A !important;}

.card-box .card-cont .card-address dd {width: 100%; /* 원래 100% 유지 */font-size: 18px; /* 기존 크기 유지 */font-weight: bold; /* 기존 굵기 유지 */text-align: left; /* 왼쪽 정렬 유지 */word-break: keep-all; /* 한글 줄바꿈 개선 */overflow-wrap: break-word;}

.register-table thead tr.card-green th {
    background-color: #F4FDFD;
    border: 1px solid #119891;
    border-left: 10px solid #119891;
!important;
}

.register-table thead tr.card-blue th {
    background-color: #F7FBFF;
    border: 1px solid #3069B3;
    border-left: 10px solid #3069B3;
!important;
}

.register-table thead tr.card-black th {
    background-color: #F8F8F8;
    border: 1px solid #1D1D1D;
    border-left: 10px solid #1D1D1D;
!important;
}

.register-table thead tr.card-red th {
    background-color: #fffafb;
    border: 1px solid #EC193A;
    border-left: 10px solid #EC193A;
!important;
}

.register-table thead tr.card-white th {
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
    border-left: 10px solid #DADADA;
!important;
}

.register-table thead tr.card-yellow th {
    background-color: #FFF9DB;
    border: 1px solid #FFC107;
    border-left: 10px solid #FFC107;
!important;
}

.register-table thead tr.card-orange th {
    background-color: #FFE8D5;
    border: 1px solid #FF8C00;
    border-left: 10px solid #FF8C00;
!important;
}


/* status */
.status-tag {display: flex; align-items: center; gap: 8px;}
.status-tag > span {padding: 2px 10px; border-radius: 3px; font-size: 12px; font-weight: 700; line-height: 24px;}
.sta-green {background-color: #DEF3F1; color: #119891; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-blue {background-color: #E3EFFB; color: #3069B3;  border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-black {background-color: #E6E6E6; color: #1D1D1D;  border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-red {background: #FEE2E7; color:#EC193A; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-bggreen {background-color: #119891; color: #fff;}
.sta-bgred {background-color: #EC193A; color: #fff;}
.sta-bgnavy {background-color: #031B4B; color: #fff;}

/* 작업이력 팝업 - 티켓명 */
.ticket-tit {padding: 16px; background-color: #f8f8f8; border-radius: 5px;}
.ticket-tit dl {display: flex; justify-content: space-between; align-items: center;} 
.ticket-tit dl dt {font-size: 13px; font-weight: 600; color: #777;}
.ticket-tit dl dd {font-size: 16px; font-weight: 700; color: #111;}


/*=================================================================================
 * search style
=================================================================================*/
/*Search*/
.search-wrap {position: relative; padding: 0 16px; background-color: #fff; border-radius: 0 0 16px 16px; box-shadow: 0px 5px 10px rgba(0,4,10,0.2); margin-bottom: 20px;}
.search-wrap .srch-tit {display: flex; justify-content: space-between; padding: 16px 0;}
.search-wrap .srch-tit p {font-size: 15px; font-weight: 700;}
.search-wrap .srch-tit .btn-aco {transition: all .3s;}
.search-wrap .srch-cont {display: flex; flex-flow: row wrap;}
.search-wrap .srch-cont dl {width: 100%; padding: 16px 0; border-bottom: 1px solid #EFEFEF; }
.search-wrap .srch-cont dl dt {font-size: 13px; font-weight: 700; color: #4d4d4d; margin-bottom: 4px;}
.search-wrap .srch-cont .row {display:flex; width: 100%;}
.search-wrap .srch-btn {width: 100%; padding: 16px 0;}

.search-wrap-sp{position: relative; padding: 0 16px; background-color: #fff;}
.search-wrap-sp .srch-tit {display: flex; justify-content: space-between; padding: 16px 0;}
.search-wrap-sp .srch-tit p {font-size: 15px; font-weight: 700;}
.search-wrap-sp .srch-tit .btn-aco {transition: all .3s;}
.search-wrap-sp .srch-cont {display: flex; flex-flow: row wrap; margin-bottom:10px;}
.search-wrap-sp .srch-cont dl {width: 100%; padding: 16px 0; border-bottom: 1px solid #EFEFEF; }
.search-wrap-sp .srch-cont dl dt {font-size: 13px; font-weight: 700; color: #4d4d4d; margin-bottom: 4px;}
.search-wrap-sp .srch-cont .row {display:flex; width: 100%;}
.search-wrap-sp .srch-btn {width: 100%; padding: 16px 0;}

/*=================================================================================
 * Accordion style
=================================================================================*/
.aco-hd.active {border-bottom: none; transition: all .35s;}
.aco-hd.active .btn-aco {transform: rotate(180deg); transition: all .35s;}
.aco-cont {border-top: 1px solid #333; padding-top: 10px;}


/*=================================================================================
 * Popup style
=================================================================================*/
.popup-overlay {display: none;}
.popup-overlay {position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 20;}
.popup-wrapper {position: fixed; bottom: 0; left: 50%; transform: translateX(-50%) translateY(100%); width: 100%; background-color: #fff; padding: 0 24px; border-radius: 20px 20px 0 0; transition: transform 0.3s ease, opacity 0.3s ease; z-index: 60; opacity: 0;}
.popup-wrapper.active {transform: translateX(-50%) translateY(0); opacity: 1;}
.popup-title {display: flex; align-items: center; justify-content: space-between; padding: 20px 0 16px 0; margin-bottom: 16px; border-bottom: 1px solid #000;}
.popup-title h3, .popup-title h4 {font-size: 18px;}
.popup-title .btn-popup-close {position: absolute; right: 30px;}
.popup-contents {display: flex; flex-flow: column nowrap; max-height: calc(100vh - 260px); overflow: auto; gap: 16px;}
.popup-contents .list-card-wrap {overflow: auto;}
.popup-button {display: flex; justify-content: center; align-items: center; gap: 10px; margin: 16px 0;}
.popup-button button, .popup-button .btn {width: 100%; height: 46px; border: 1px solid #a9b1e6; background-color: #a9b1e6; border-radius: 12px; font-size: 15px; font-weight: 700;}


/*=================================================================================
 * Popup style
=================================================================================*/
.confirm-overlay {display: none;}
.confirm-overlay {position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 20;}
.confirm-wrapper {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; min-width: 320px; max-width: 768px; background-color: #fff; padding: 0 16px; border-radius: 20px; text-align: center; z-index: 60; opacity: 0; transition: all .3s;}
.confirm-wrapper.active {opacity: 1;}
.confirm-txt {display: flex; flex-flow: column wrap; align-items: center; justify-content: center; gap: 12px; padding: 36px 0 12px 0;}
.confirm-txt .txt-l {font-size: 22px; font-weight: 700;}
.confirm-contents {display: flex; flex-flow: column nowrap; max-height: calc(100vh - 260px); overflow: auto; gap: 16px;}
.confirm-contents .list-card-wrap {overflow: auto;}
.confirm-button {display: flex; justify-content: center; align-items: center; gap: 10px; margin: 16px 0;}
.confirm-button button, .popup-button .btn {width: 100%; height: 46px; border: 1px solid #03428E; background-color: #03428E; border-radius: 12px; font-size: 15px; font-weight: 700;}


/*=================================================================================
 * Write style (Mobile)
=================================================================================*/
.write-wrap {position: relative;}
.write-wrap dl {width: 100%; padding: 16px 0; border-bottom: 1px solid #EFEFEF; }
.write-wrap dl dt {font-size: 13px; font-weight: 700; color: #4d4d4d; margin-bottom: 4px;}
.write-wrap dl dd {display: flex; gap: 10px;}
.write-wrap dl dd > div {width: 100%;}
.write-wrap .row {display:flex; width: 100%;}
.write-wrap button, .write-wrap .btn {width: auto;}


/*=================================================================================
 * Table style
 =================================================================================*/
 .table-wrap {width:100%; overflow: auto;}
 .ellipsis {width:100%; max-width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
 .sum, .sum th, .sum td {background-color: #E9F9F9; border-bottom: 1px solid #D4D5D7; font-weight: 700;}
 .table-sum, .table-sum th, .table-sum td {background-color: #F4F6FA; font-weight: 700;}

 /*List style*/
 table {font-family: 'Pretendard'; font-size: 15px; width:100%; background-color:#fff; border-top: 1px solid #333;}
 table tr, table td, table td a {text-align: center; transition: all .2s;}
 table th {font-size: 15px; border-bottom:1px solid #C6C6C6; background-color:#EDEFF5; padding: 0 10px; height: 48px; font-weight: 700;}
 table td {border-bottom: 1px solid #EBEBEB; height: 48px; padding:5px 10px;}
 table td .ico-file {margin-left: 10px;}
 table td input[type="text"],
 table td input[type="search"],
 table td input[type="password"],
 table td input[type="tel"],
 table td input[type="email"],
 table td input[type="number"] {line-height: 34px; font-size: 15px;}
 table tr .list-dot {padding-top: 5px;}
 table tr .list-dot li {font-size: 15px !important; font-weight: 500; color:#333333;}
 table tr .btn table, table tr .btn-blue, table tr .btn-lightnavy {height: 38px;}

 .write-table th {padding: 10px 20px; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; text-align: left;}
 .write-table td {padding: 5px 12px; border-bottom:1px solid #e8e8e8; text-align: left;}
 
 .view-table thead tr th {border-right: 0;}
 .view-table th {border-right: 1px solid #D4D5D7; border-bottom: 1px solid #D4D5D7; text-align: left;}
 .view-table td {text-align: left;}

 .list-table tbody tr:hover, 
 .list-table tr:hover td {background-color: #E5F9F9;}
 .list-table tr th, .list-table tr td {text-align: center;}
 .list-table tr input[type="checkbox"] {margin: 0 auto;}
 .list-table tr input[type="checkbox"]:focus {outline: none;}
 


/*=================================================================================
 * Motion style
 =================================================================================*/
/* Motion */
.slidein {animation: slideIn 0.3s ease-in-out forwards;}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slidedown {animation: slideDown 0.3s ease-in-out forwards;}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}



/*=================================================================================
 * Loading style
 =================================================================================*/
.loading-wrap {z-index:1000;}
.bg-modal {position:fixed;top:0;left:0;background-color:#000;opacity:0.6;width:100%;height:100%;transition:all 0.4s 0s;}
.loader {position:fixed; top:calc(50% - 27px); left:calc(50% - 27px); width:48px;height:48px;border:3px solid #FFF;border-radius:50%;display:inline-block;animation:rotation 1s linear infinite;}
.loader::after{content:'';box-sizing:border-box;position:absolute;left:0;top:0;background:#5ddfde;width:16px;height:16px;transform:translate(-50%, 50%);border-radius:50%;}

.bg-modal2 {position:fixed;top:0;left:0;background-color:#fff;opacity:0.01;width:100%;height:100%;transition:all 0.4s 0s;}
.loader2{position:fixed;top:calc(50% - 48px);left:calc(50% - 48px);width:96px;height:96px;border-radius:12px;background-color:rgba(0, 0, 0, 0.5);}
.loader2 > span{position:fixed;top:calc(50% - 27px);left:calc(50% - 27px);width:48px;height:48px;border:3px solid #FFF;border-radius:50%;display:inline-block;animation:rotation 1s linear infinite;}
.loader2 > span::after{content:'';box-sizing:border-box;position:absolute;left:0;top:0;background:#5ddfde;width:16px;height:16px;transform:translate(-50%, 50%);border-radius:50%;}

@keyframes rotation{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/*=================================================================================
 * LOGIN (로그인)
 =================================================================================*/
.page-login {height: 100vh;}
.mobile-login-wrap {display: flex; flex-flow: column wrap; justify-content: center; align-items: center; height: 100%;}
.mobile-login-wrap .copyright {position: absolute; left: 50%; bottom: 20px; width: 100%; text-align: center; transform: translate(-50%, 0%); color: #868FAE;}
.login-wrap {display: flex; flex-flow: row wrap;}
.login-wrap {width: 100%; padding: 30px;}
.login-wrap .login-logo {width: 100%; text-align: center; margin-bottom: 36px;}
.login-wrap .login-form {width: 100%;}
.login-wrap .login-form dl {margin-bottom: 24px;}
.login-wrap .login-form dl dt {font-size: 14px; font-weight: 500; color: #77849C; margin-bottom: 6px;}
.login-wrap .login-form dl dd input {width: 100%; height: 48px;}
.login-wrap .login-form .check-save {display: flex; align-items: center; margin-bottom: 24px;}
.login-wrap .login-form .check-save label {margin-left: 10px;}
.login-wrap .login-form .btn-login {display: flex; justify-content: center; align-items: center; width: 100%; height: 56px; background-color: #03428e; color: #fff; border-radius: 5px; margin-bottom: 24px; font-size: 18px; font-weight: 700;}
.login-wrap .login-form .btn-login-etc {display: flex; justify-content: space-between; align-items: center; gap: 10px;}
.login-wrap .login-form .btn-login-etc li {width: 33.3%;}
.login-wrap .login-form .btn-login-etc a {font-size: 14px; padding: 4px;}
.hint, .hint-red {display: flex; align-items: center; margin-top: 6px; font-size: 13px;}
.hint img, .hint-red img {margin-right: 5px;}
.hint {color: #808080;}
.hint-red {color: #FF3055;}



/*=================================================================================
 * 티켓등록
 =================================================================================*/
.page-ticket-register .contents-wrap {border-top: 10px solid #F0F1F2; border-bottom: 10px solid #F0F1F2;}

/*=================================================================================
 * 모바일 로그아웃 팝업
 =================================================================================*/
.ax5-ui-dialog{
    min-width: 300px;
    min-height: 204px;
}

.ax5-ui-dialog .ax-dialog-body{
    min-width: 300px;
    min-height: 204px;
    padding: 50px 0 40px 0;
}

.ax5-ui-dialog .ax-dialog-body .ax-dialog-msg{
    padding-bottom: 20px;
}

.ax5-ui-dialog .ax-dialog-header{
    display: none;
}

.btn-default, .btn-danger{
    background-color: #a9b1e6;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    width: 84px;
    height: 44px;
    border: 0;
    border-right: 3px;
}

.btn-{
    background-color: #FFFFFF;
    color: #03428E;
    font-weight: 700;
    font-size: 16px;
    width: 84px;
    height: 44px;
    border: 1px solid #03428E;
    margin-right: 8px !important;
}

.btn-default:hover{
    background-color: #03428E;
    color: #FFFFFF;

}