<th:block th:fragment="popup_surilist">
<script type="text/x-tmpl" id="popup_surilistSearchTemplate">

<div class="content_wrap popup">

    <section class="section" style="padding-top: 10px;">

        <div class="section-top">
              <div class="search-wrap" style="text-align: left;"> 
                <dl>
                    <dt>
                        <label for="searchCode">
                            품번<span class="eq"></span>
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input type="text" id='searchCode' name="searchCode" style="width:160px;"/>
                        </div>
                    </dd>
                </dl>  
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <li>
                            <a class="btn btn-delete" title="검색" id="btnCompSearch">
                                <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                검색
                            </a>
                        </li>
                    </dd>
                </dl>
            </div> 
            <div class="container-fluid">
                <div id="theGrid2" style="height: 300px;"></div>
            </div>
        </div>

    </section>


        <div class="popup-button">
            <button type="button" class="btn-popup" id="btnCompSelect" ><span data-commonCd="선택">선택</span></button>
            <button type="button" class="btn-popup" id="btn-search-close"><span data-commonCd="닫기">닫기</span></button>
        </div>


</div>
</script>

<script type="text/javascript">

    class PopSurilistComponent {
        constructor() {

            this.grid = null;
            this.viewData = new wijmo.collections.CollectionView();
            this.selectedItem = null;
            this.callback = null;
            this.modalContainer = new PopupDraggable('금형이력보기');
            this.$btnCompSearch = null; 
            this.$btnCompSelect = null;
            this.$searchCode = null; 
            this.keyword = '';
        }

        searchDataBind() {
            let _this = this;
            let url = '/app01m/index08/listtotfix';
            // ✅ searchCode input이 없으면 show()에서 받은 keyword(machcd)로 조회
            let searchtxt = '';
            if (_this.$searchCode && _this.$searchCode.length > 0) {
                searchtxt = _this.$searchCode.val();
            } else {
                searchtxt = _this.keyword || '';
            }

            let data = { "searchtxt": searchtxt };


            let result = AjaxUtil.getSyncData(url, data); 
            if (result) {
                _this.viewData.sourceCollection = result;
            }

            //검색버튼을 누르고 초기화한다
            this.selectedItem = null;
        }

        selectData(item) {
            console.log(item)
            if (typeof this.callback !== 'undefined' && this.callback != null) {
                this.callback(item);
            }
            this.close();
        }

        show(callback, keyword = '') {
            let _this = this;

            this.callback = callback;
            this.keyword = keyword || '';

            let content = tmpl('popup_surilistSearchTemplate', {});
            let $content = $(content);
            this.modalContainer.open({ width: 800, height: 500, $content });

            this.grid = new wijmo.grid.FlexGrid('#theGrid2', {
                selectionMode: wijmo.grid.SelectionMode.Row,
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                columns: [ 
                    { binding: 'rownum', header: '순번', align: "center", width: 50 }, 
                    { binding: 'reqdate', header: '의뢰일', align: "center", width: 120 }, 
                    { binding: 'respdate', header: '완료일', align: "center", width: 120 }, 
                    { binding: 'fixtext', header: '수리내용', align: "left", width: 300 }, 
                    { binding: 'fixcltnm', header: '수리업체', align: "center", width: 200 }, 
                    { binding: 'remark', header: '비고', align: "left", width: 150 },  
                ],
                itemsSource: this.viewData,
            });
            this.grid.rowHeaders.columns.splice(0, 1);
            new FlexGridContextMenu(this.grid);
            this.grid.downloadFileName = '이력검색';

            this.$btnCompSearch = $content.find('#btnCompSearch'); 
            this.$searchCode = $content.find('#searchCode'); 
            this.$btnCompSelect = $content.find('#btnCompSelect');

            // if (keyword) {
            //   this.$searchCode.val(keyword);
            // }
            
            // keyword가 있으면 input이 있든 없든 keyword를 사용
            if (this.$searchCode && this.$searchCode.length > 0 && this.keyword) {
                this.$searchCode.val(this.keyword);
            }

            this.searchDataBind();

            this.$btnCompSearch.click(function (e) {
                _this.searchDataBind();
            });

            $('#btnCompSearch').click();


            this.$btnCompSelect.click(function (e) {
                // 그리드에서 현재 선택된 item을 찾아서 호출한다.
                let items = _this.grid.selectedItems; 
                if (items.length === 0) {
                    return false;
                }
                _this.selectData(items[0]);
            });


            //닫기버튼을 아래 ID로 사용한다면 호출하는 화면에서 이벤트 처리 필요없음
            $content.find('#btn-search-close').on('click', function () {
                _this.close();
            });

            //새로고침
            // $('#btnTest').click(function (e) {
            //     _this.grid.collectionView.refresh(); // Wijmo 그리드 새로고침
            // });

            this.grid.hostElement.addEventListener('dblclick', function (e) {
                let items = _this.grid.selectedItems;
                if (items.length === 0) {
                    return false;
                }
                _this.selectData(items[0]); // btnCompSelect 클릭과 동일한 동작
            });
          this.grid.hostElement.addEventListener('keydown', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
              setTimeout(() => {
                const selected = _this.grid.selectedItems;
                if (selected.length > 0) {
                  _this.selectData(selected[0]);
                } else {
                  console.log('선택된 행 없음');
                }
              }, 0); // 다음 이벤트 루프에서 실행
            }
          });
        }

        close() {
            this.modalContainer.close();
        }
    }

</script>