<th:block th:fragment="popup_company">
<script type="text/x-tmpl" id="popup_compSearchTemplate">

<div class="content_wrap popup">

    <section class="section" style="padding-top: 10px;">

        <div class="section-top">
            <div class="search-wrap" style="text-align: left;">
                <dl>
                    <dt>
                        <label for="compCode">
                            업체코드<span class="eq"></span>
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input type="text" id="compCode" name="compCode" style="width:160px;"/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="compName">
                            업체명<span class="eq"></span>
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input type="text" id='compName' name="compName" style="width:160px;"/>
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>
                        <label for="business_number">
                            사업자번호<span class="eq"></span>
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input class="form-control2" type="text" id="business_number" name="business_number" style="width:160px;"/>
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <li>
                            <a class="btn btn-delete" title="검색" id="btnCompSearch">
                                <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                검색
                            </a>
                        </li>
                    </dd>
                </dl>
            </div>
            <div class="container-fluid">
                <div id="theGrid2" style="height: 300px;"></div>
            </div>
        </div>

    </section>


        <div class="popup-button">
            <button type="button" class="btn-popup" id="btnCompSelect" ><span data-commonCd="선택">선택</span></button>
            <button type="button" class="btn-popup" id="btn-search-close"><span data-commonCd="닫기">닫기</span></button>
        </div>


</div>
</script>

<script type="text/javascript">

    class PopCompComponent {
        constructor() {

            this.grid = null;
            this.viewData = new wijmo.collections.CollectionView();
            this.selectedItem = null;
            this.callback = null;
            this.modalContainer = new PopupDraggable('업체 선택');
            this.$btnCompSearch = null;
            this.$btnCompSelect = null;
            this.$compName = null;
            this.$compCode = null;
            this.$business_number = null;
        }

        searchDataBind() {
            let _this = this;
            let url = '/api/popup/search_Comp';
            let data = {
                'compCode': _this.$compCode.val(),
                'compName': _this.$compName.val(),
                'business_number': _this.$business_number.val(),
            };

            let result = AjaxUtil.getSyncData(url, data);
            if (result) {
                _this.viewData.sourceCollection = result.data;
            }

            //검색버튼을 누르고 초기화한다
            this.selectedItem = null;
        }

        selectData(item) {
            if (typeof this.callback !== 'undefined' && this.callback != null) {
                this.callback(item);
            }
            this.close();
        }

        show(callback, keyword = '') {
            let _this = this;

            this.callback = callback;

            let content = tmpl('popup_compSearchTemplate', {});
            let $content = $(content);
            this.modalContainer.open({ width: 800, height: 500, $content });

            this.grid = new wijmo.grid.FlexGrid('#theGrid2', {
                selectionMode: wijmo.grid.SelectionMode.Row,
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                columns: [
                    { binding: 'compcode', header: '업체코드', width: 120, align: 'center' },
                    { binding: 'compname', header: '업체명', width: '*', align: 'left' },
                    { binding: 'business_number', header: '사업자번호', width: 150, align: 'left' },
                    { binding: 'tel_number', header: '연락처', width: 200, align: 'left' }
                ],
                itemsSource: this.viewData,
            });
            this.grid.rowHeaders.columns.splice(0, 1);
            new FlexGridContextMenu(this.grid);
            this.grid.downloadFileName = '업체 내역';

            this.$btnCompSearch = $content.find('#btnCompSearch');
            this.$compCode = $content.find('#compCode');
            this.$compName = $content.find('#compName');
            this.$business_number = $content.find('#business_number');
            this.$btnCompSelect = $content.find('#btnCompSelect');

            if (keyword) {
              this.$compName.val(keyword);
            }
            this.searchDataBind();

            this.$btnCompSearch.click(function (e) {
                _this.searchDataBind();
            });

            $('#btnCompSearch').click();


            this.$btnCompSelect.click(function (e) {
                // 그리드에서 현재 선택된 item을 찾아서 호출한다.
                let items = _this.grid.selectedItems;
                if (items.length === 0) {
                    return false;
                }
                _this.selectData(items[0]);
            });


            //닫기버튼을 아래 ID로 사용한다면 호출하는 화면에서 이벤트 처리 필요없음
            $content.find('#btn-search-close').on('click', function () {
                _this.close();
            });

            //새로고침
            // $('#btnTest').click(function (e) {
            //     _this.grid.collectionView.refresh(); // Wijmo 그리드 새로고침
            // });

            this.grid.hostElement.addEventListener('dblclick', function (e) {
                let items = _this.grid.selectedItems;
                if (items.length === 0) {
                    return false;
                }
                _this.selectData(items[0]); // btnCompSelect 클릭과 동일한 동작
            });
          this.grid.hostElement.addEventListener('keydown', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
              setTimeout(() => {
                const selected = _this.grid.selectedItems;
                if (selected.length > 0) {
                  _this.selectData(selected[0]);
                } else {
                  console.log('선택된 행 없음');
                }
              }, 0); // 다음 이벤트 루프에서 실행
            }
          });
        }

        close() {
            this.modalContainer.close();
        }
    }

</script>