<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.Cms.CmsIndex01Mapper">


    <select id="getSHOTDATA_wotqty"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="Integer">
        <![CDATA[
            select  isnull(count(*), 0) as wotqty
             from shot_data WITH (NOLOCK)
             where machine_name = #{machine_name}
              and  trim(Additional_Info_1) = #{Additional_Info_1}
              and  TimeStamp >=#{STARTTIME}  and TimeStamp <= #{ENDTIME}
        ]]>
    </select>


    <select id="getSHOTDATA_realtime"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        SELECT  Machine_Name as machine_name
              ,trim(Additional_Info_1) as Additional_Info_1
              ,Shot_Number
              ,Injection_Time
              ,Filling_Time
              ,Plasticizing_Time
              ,Cycle_Time
              ,Barrel_Temperature_1
              ,Barrel_Temperature_2
              ,Mold_Temperature_1
              ,Mold_Temperature_2
              ,Mold_Temperature_3
              ,Mold_Temperature_4
              ,Mold_Temperature_5
              ,Mold_Temperature_6
              ,Cavity
              ,TimeStamp
              ,FORMAT(TimeStamp, 'HH:mm:ss') as shottime
              ,FORMAT(TimeStamp, 'yyyyMMdd') as shotdate
          FROM [ado_kd].[dbo].[shot_data]
          where    TimeStamp between #{frdate} and #{todate}
          and    isnull(Machine_Name,'') Like concat(#{machine_name},'%')
          and    isnull(trim(Additional_Info_1),'') Like concat(#{Additional_Info_1},'%')
          ORDER BY TimeStamp
        ]]>
    </select>


    <select id="getSHOTDATA_realtime_chart"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        SELECT
               Machine_Name,
               trim(Additional_Info_1) as Additional_Info_1,
               Mold_Temperature_1 as MT01
              ,Mold_Temperature_2 as MT02
              ,Mold_Temperature_3 as MT03
              ,Mold_Temperature_4 as MT04
              ,Mold_Temperature_5 as MT05
              ,Mold_Temperature_6 as MT06
              ,FORMAT(TimeStamp, 'HH:mm:ss') as shottime
          FROM [ado_kd].[dbo].[shot_data]
          where   TimeStamp between #{frdate} and #{todate}
          and    isnull(Machine_Name,'') Like #{machine_name} + '%'
          and    isnull(trim(Additional_Info_1),'') Like concat(#{Additional_Info_1},'%')
          ORDER BY TimeStamp
        ]]>
    </select>


    <select id="getSHOTDATA_realtime_eq"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        SELECT  Machine_Name as machine_name
             ,trim(Additional_Info_1) as Additional_Info_1
             ,Shot_Number
             ,Injection_Time
             ,Filling_Time
             ,Plasticizing_Time
             ,Cycle_Time
             ,Barrel_Temperature_1
             ,Barrel_Temperature_2
             ,Mold_Temperature_1
             ,Mold_Temperature_2
             ,Mold_Temperature_3
             ,Mold_Temperature_4
             ,Mold_Temperature_5
             ,Mold_Temperature_6
             ,Cavity
             ,TimeStamp
             ,FORMAT(TimeStamp, 'HH:mm:ss') as shottime
             ,FORMAT(TimeStamp, 'yyyyMMdd') as shotdate
        FROM [ado_kd].[dbo].[shot_data]
        where    TimeStamp between #{frdate} and #{todate}
          and    isnull(Machine_Name,'') = #{machine_name}
        ORDER BY TimeStamp
        ]]>
    </select>


    <select id="getSHOTDATA_realtime_chart_eq"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        SELECT
            Machine_Name,
            trim(Additional_Info_1) as Additional_Info_1,
            Mold_Temperature_1 as MT01
             ,Mold_Temperature_2 as MT02
             ,Mold_Temperature_3 as MT03
             ,Mold_Temperature_4 as MT04
             ,Mold_Temperature_5 as MT05
             ,Mold_Temperature_6 as MT06
             ,FORMAT(TimeStamp, 'HH:mm:ss') as shottime
        FROM [ado_kd].[dbo].[shot_data]
        where   TimeStamp between #{frdate} and #{todate}
          and    isnull(Machine_Name,'')  =  #{machine_name}
        ORDER BY TimeStamp
        ]]>
    </select>

    <select id="getSHOTDATA_machine"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        select  machine_name
            from shot_data
            where  isnull(machine_name,'') Like concat(#{machine_name},'%')
            group by machine_name
            order by machine_name
        ]]>
    </select>
    <select id="getSHOTDATA_machine_eq"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        select  machine_name
        from shot_data
        where  isnull(machine_name,'') = #{machine_name}
        group by machine_name
        order by machine_name
        ]]>
    </select>
<!-- order by cast(machine_name as int)-->
    <select id="getSHOTDATA_addinfo"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">
        <![CDATA[
        select  Additional_Info_1
            from shot_data
            where  isnull(Additional_Info_1,'') Like concat(#{Additional_Info_1},'%')
            group by Additional_Info_1
            order by Additional_Info_1
        ]]>
    </select>



    <select id="GetADD_INFO"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto">

        exec GetADD_INFO
        #{frdate, jdbcType=VARCHAR},
        #{todate, jdbcType=VARCHAR}

    </select>
</mapper>
