<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_page}"> 

<head>
    <title>KyoungDuk MES</title>
    <style>
        .greenText span {
            color: #66DA26;
        }

        .redText span {
            color: #FF0000;
        }

        .grayText span {
            color: #8C8C8C;
        }

        .blueText span {
            color: #4374D9;
        }

        .yellowText span {
            color: #FFE400;
        }

        [data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] {
            font-size: 14px;
        }
        .card-text{
            margin-bottom: 10px;
        }

        .wj-flexgrid,
        canvas.wj-flexgrid {
            flex: 1 1 auto;
            min-height: 0;
            background-color: #f8f8f8;
        }

        .chart-wrapper {
            flex: 2;
            min-width: 0;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden; /* 혹시 몰라서 */
        }
    </style>
</head>
<th:block layout:fragment="content"> 
    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents"> 
 
        <div class="tab-wrap">
            <ul class="tab-links">
                <input type="hidden" id="checkdtParam" name="checkdtParam" th:value="${checkdt}"/>
                <li>
                <a href="#tab1" title="기간별수불현황" id="listTabLink" onclick="tabchk_rtn('A')">기간별수불현황</a>
                </li>
                <li>
                <a href="#tab2" title="품목별수불현황" onclick="tabchk_rtn('B')">품목별수불현황</a>
                </li> 
            </ul>
            <div class="tab-contents">
                <section class="tab-item" id="tab1">  
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap"> 
                                <dl>
                                    <dt>
                                        조회일자<span class="eq">*</span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input type="date" id="frdate" name="frdate">
                                                <label for="frdate" class="hide">시작일</label>
                                            </li>
                                            <li>
                                                <input type="date" id="todate" name="todate">
                                                <label for="todate" class="hide">종료일</label>
                                            </li>
                                        </ul>
                                    </dd> 
                                </dl>  
                                <dl>
                                    <dt>
                                    <label>품목</label>
                                    </dt>
                                    <dd>  
                                    <div class="srch-box">
                                        <input type="text" class="form-control2" id="jpumnm" name="jpumnm"  placeholder="품목"> 
                                        &nbsp;
                                        <a class="btn btn-delete" title="품목" id="btnPnameinfoSearch"
                                            style="display: inline-block; width: 32px; height: 32px; vertical-align: middle;">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"
                                                style="width: 20px; height: 20px; display: block; margin-left: -9px;" />
                                        </a>
                                    </div>
                                    </dd>
                                </dl>   
                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                    <li>
                                        <a class="btn btn-delete" title="검색" id="listBtn"  >
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"  >
                                        검색
                                        </a> 
                                        <input   id="jkey" type="hidden">     
                                        <input  id="bjkey" type="hidden"  />              
                                        <input type="hidden" id="tabvalue" value="A">      
                                    </li>
                                    </dd>
                                </dl>
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab01Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 

                    </div>   
                </section>
                <section class="tab-item" id="tab2" style="height: 832px;">
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap"> 
                                <dl>
                                    <dt>
                                        조회일자<span class="eq">*</span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input type="date" id="frdate02" name="frdate02"> 
                                            </li>
                                            <li>
                                                <input type="date" id="todate02" name="todate02"> 
                                            </li>
                                        </ul>
                                    </dd> 
                                </dl>    
                                <dl>
                                    <dt>
                                    <label>품목</label>
                                    </dt>
                                    <dd>  
                                    <div class="srch-box">
                                        <input type="text" class="form-control2" id="bjpumnm" name="bjpumnm"  placeholder="품목"> 
                                        &nbsp;
                                        <a class="btn btn-delete" title="품목" id="btnBPnameinfoSearch"
                                            style="display: inline-block; width: 32px; height: 32px; vertical-align: middle;">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"
                                                style="width: 20px; height: 20px; display: block; margin-left: -9px;" />
                                        </a> 
                                    </div>
                                    </dd>
                                </dl>   
                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a class="btn btn-delete" title="검색" id="listBtn02"  >
                                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"  >
                                                검색
                                                </a>
                                            </li> 
                                        </ul>
                                    </dd>
                                </dl>
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab02Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 
 
                    </div>  
                </section>  
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->

    </div> <!--//layout-contents end -->
    <footer style="margin-top:5px;">
        <p>Copyrightⓒ DaesanSystem corp. All rights reserved.</p>
    </footer>
    <div style="height: 10px"></div>

    

</th:block>
 
<th:block layout:fragment="scripts">
    <script src="/resource/apexcharts/apexcharts.3.26.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>  
    <th:block th:replace="/common/popup_alljpum :: popup_alljpum"></th:block>  
  
    <script> 
        
        $('#btnPnameinfoSearch').click(function () {
            let poppage = new PopAlljpumComponent();
            let $poppage = $(poppage);
            let searchcallback = function (items) {
                console.log('items : ', items);   
                document.getElementById('jpumnm').value = items.jpum; 
                document.getElementById('jkey').value = items.jkey; 
                // AjaxUtil.getAsyncData('/api/definition/company/detail', { company_id: items.id }, function (result) {
                //   if (result.success) {
                //     const data = result.data;
                //     $('#address1').val(data.address);              // 도로명 주소
                //   }
                // });
            };
            poppage.show(searchcallback);
        });   
        $('#btnBPnameinfoSearch').click(function () {
            let poppage = new PopAlljpumComponent();
            let $poppage = $(poppage);
            let searchcallback = function (items) {
                console.log('items : ', items);   
                document.getElementById('bjpumnm').value = items.jpum; 
                document.getElementById('bjkey').value = items.jkey; 
                // AjaxUtil.getAsyncData('/api/definition/company/detail', { company_id: items.id }, function (result) {
                //   if (result.success) {
                //     const data = result.data;
                //     $('#address1').val(data.address);              // 도로명 주소
                //   }
                // });
            };
            poppage.show(searchcallback);
        });       
    </script>
 

 
<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var view_innamepage;
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid; 
    var winnameGrid;
    let wfrdate;
    let wtodate;   
        
    var grandTotalsGroup  = "";
    window.onload = function() {    
        view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
            // pageSize: 21
        }); 
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                    { binding: 'flag', header: '구분', align: "center", width: 80 }, 
                    { binding: 'jdate', header: '일자', align: "center", width: 120 }, 
                    { binding: 'jpum', header: '품목', align: "center", width: 200 }, 
                    { binding: 'jgugek', header: '규격', align: "center", width: 150 },  
                    { binding: 'jchajong', header: '차종', align: "center", width: 100 },    
                    { binding: 'ipsu', header: '입고수량', align: "center", width: 80 , aggregate: 'Sum'},  
                    { binding: 'chulsu', header: '출고수량', align: "center", width: 80 , aggregate: 'Sum'},  
            ], 
            itemsSource: view_p01tab01page
        });   
        
        setHeaderColumn(false);
        function setHeaderColumn(headerOn) {
            wtab01Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
        new FlexGridContextMenu(wtab01Grid);  

            // tab01검색 데이터 수집
        function getData_tab01(){       
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jcode: '', 
                    ipqty:  '', 
                });
                cnt++;
            }    
            return wactnm_data;                                          
        }  

        view_p01tab02page = new wijmo.collections.CollectionView(getData_tab01(), {
                // pageSize: 100
        });    
        wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', { 
            deferResizing: true,
            showMarquee: true,
            alternatingRowStep: 0,
            selectionMode: 'MultiRange',
            allowSorting: 'MultiColumn',
            autoGenerateColumns: false,
            columns: [      
                { binding: 'jpum', header: '품목', align: "center", width: 200 }, 
                { binding: 'flag', header: '구분', align: "center", width: 80 }, 
                { binding: 'jdate', header: '일자', align: "center", width: 150 }, 
                { binding: 'jgugek', header: '규격', align: "center", width: 150 },  
                { binding: 'jchajong', header: '차종', align: "center", width: 100 },   
                { binding: 'ipsu', header: '입고수량', align: "center", width: 80 , aggregate: 'Sum'},  
                { binding: 'chulsu', header: '출고수량', align: "center", width: 80 , aggregate: 'Sum'},  
            ], 
            itemsSource: view_p01tab02page 
        }); 
         
        // 그룹 전환 
        setGroups02(true); 
        function setGroups02(groupsOn) {
            let groups = view_p01tab02page.groupDescriptions;
            groups.clear();
            if (groupsOn) { 
                groups.push(new wijmo.collections.PropertyGroupDescription('jpum'));
                // groups.push(new wijmo.collections.PropertyGroupDescription('pernm'), new wijmo.collections.PropertyGroupDescription('misdate'));
            }
        }
        // 헤더 열 전환
        setHeaderColumn02(false); 
        function setHeaderColumn02(headerOn) {
            wtab02Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column;
            // selector02.column = headerOn
            // ? wtab02Grid.rowHeaders.columns[0]
            // : wtab02Grid.columns[0];
        }   
        new FlexGridContextMenu(wtab02Grid); 
 
    } //onload function 

    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //선택한 탭 체크 
    function tabchk_rtn(arg){
        document.getElementById('tabvalue').value = arg; 
    } 
    
    
    // tab01 검색   
    document.getElementById("listBtn").addEventListener("click",function(){  
        var ls_tab = document.getElementById('tabvalue').value;  
        // console.log(ls_tab) 
        searchList_rtn(ls_tab);
    })                         
    // tab02 검색   
    document.getElementById("listBtn02").addEventListener("click",function(){  
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })     


    

    //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 모달 검색@@@@@@@@@@@@@@@@@@@@@@@@@@@
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        

    function searchList_rtn(arg1){  
            switch(arg1){ 
                case 'A': 
                    var  ls_frdate     =  $('#frdate').val(); //convert_date(wfrdate.value);                    
                    var  ls_todate     =  $('#todate').val(); //convert_date(wtodate.value);        
                    var ls_jpumnm   = document.getElementById('jpumnm').value; 
                    var ls_jkey  = document.getElementById('jkey').value; 
                    var ls_jpbgubn    = "%"; 
                    // var ls_misfixflag = document.getElementById('misfixflag').value; 
                    if(ls_frdate == null || ls_frdate.length == 0 || ls_frdate == ""){ 
                        alert("조회일자를 등록하세요") 
                        document.getElementById("frdate").focus(); 
                        return ;               
                    }   
                    if(ls_todate == null || ls_todate.length == 0 || ls_todate == ""){ 
                        alert("조회일자를 등록하세요") 
                        document.getElementById("todate").focus(); 
                        return ;               
                    }   
                    if(ls_jpumnm == null || ls_jpumnm.length == 0 || ls_jpumnm == ""){  
                        ls_jpumnm = "%";
                    }else{
                        ls_jpumnm = ls_jkey;
                    }    
                    ls_cifname = "%"; 
                    ls_abonsadam1 = "%"; 
                    $.ajax({
                        url: '/app03m/index63/subul01',  
                        type:"POST", 
                        data: { 
                            "frdate"      : ls_frdate,
                            "todate"      : ls_todate,
                            "searchtxt"      : ls_jpumnm,   
                            "mflag"  : 'AA'   ,  
                            "jpbgubn" :ls_jpbgubn,  
                        }, 
                        async:false,
                        success:function(data){  
                            //console.log(data) 
                            ///chkLogin(data)   
                            tabA_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'B': 
                    var  ls_frdate     =  $('#frdate02').val(); //convert_date(wfrdate02.value);                    
                    var  ls_todate     =  $('#todate02').val(); //convert_date(wtodate02.value);   
                    var ls_bjpumnm   = document.getElementById('bjpumnm').value; 
                    var ls_jkey  = document.getElementById('bjkey').value;  
                    var ls_jpbgubn    = "%";
                    // var ls_wishfixflag = document.getElementById('wishfixflag').value;  
                    if(ls_frdate == null || ls_frdate.length == 0 || ls_frdate == ""){ 
                        alert("조회일자를 등록하세요") 
                        document.getElementById("frdate02").focus(); 
                        return ;               
                    }   
                    if(ls_todate == null || ls_todate.length == 0 || ls_todate == ""){ 
                        alert("조회일자를 등록하세요") 
                        document.getElementById("todate02").focus(); 
                        return ;               
                    }     
                    if(ls_bjpumnm == null || ls_bjpumnm.length == 0 || ls_bjpumnm == ""){  
                        ls_bjpumnm = "%";
                    }else{
                        ls_bjpumnm = ls_jkey;
                    }  
                    ls_bcifname = "%"; 
                    ls_abonsadam2 = "%"; 
                    $.ajax({
                        url: '/app03m/index63/subul02',  
                        type:"POST",
                        data: { 
                            "frdate"      : ls_frdate,
                            "todate"      : ls_todate,
                            "searchtxt"      : ls_bjpumnm,  
                            "mflag"  : 'AA'   ,  
                            "jpbgubn" :ls_jpbgubn,  
                        }, 
                        async:false,
                        success:function(data){                                
                            ///chkLogin(data)     
                            tabC_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;                
                default:    
                    break;                
            }
        

        }      
           
        function tabA_grid(data){ 
            var wtab02Dto  = data;    
            var wtab02_data = [];
            var cnt = 1;
            var bfixflag = ""  
            for (var i = 0; i < wtab02Dto.length; i++) { 
                if(wtab02Dto[i]["flag"] == "0"){
                    bfixflag = "입고";
                }else{
                    bfixflag = "출고";
                }
                wtab02_data.push({
                    id: i, 
                    index: cnt,
                    select: false,
                    flag: bfixflag,
                    jdate: wtab02Dto[i]["jdate"],
                    jkey: wtab02Dto[i]["jkey"],
                    jpum: wtab02Dto[i]["jpum"],     
                    jgugek: wtab02Dto[i]["jgugek"],    
                    jbonsa_code: wtab02Dto[i]["jbonsa_code"],    
                    jcolor_code: wtab02Dto[i]["jcolor_code"],    
                    jmodel_code: wtab02Dto[i]["jmodel_code"],    
                    ipsu: wtab02Dto[i]["ipsu"],    
                    chulsu: wtab02Dto[i]["chulsu"],        
                });
                cnt++;
            }    
            // { binding: 'active', header: '선택', align: "center", width: 80  ,dataType:3,allowSorting: false  },
            wtab01Grid.columns.clear();  
            wtab01Grid.autoGenerateColumns = false; 
            //view_p01tab02page.sourceCollection  = wtab02_data; 
            wtab01Grid.itemsSource = new wijmo.collections.CollectionView(wtab02_data, {
                    // groupDescriptions: [
                    //     grandTotalsGroup, 
                    // ]
                })  
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'flag';
            cols.header = '구분';
            cols.align = "center";
            cols.width = 80;  
            wtab01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column();      
            cols.binding = 'jdate';
            cols.header = '일자';
            cols.align = "center";
            cols.width = 120;  
            wtab01Grid.columns.push(cols); 
            cols = new wijmo.grid.Column();     
            cols.binding = 'jpum';
            cols.header = '품목';
            cols.align = "left";
            cols.width = 150;  
            wtab01Grid.columns.push(cols);   
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jgugek';
            cols.header = '규격';
            cols.align = "left";
            cols.width = 120;  
            wtab01Grid.columns.push(cols);    
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jbonsa_code';
            // cols.header = '코드';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab01Grid.columns.push(cols);  
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jmodel_code';
            // cols.header = '모델';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab01Grid.columns.push(cols);  
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jcolor_code';
            // cols.header = '컬러';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab01Grid.columns.push(cols); 
            cols = new wijmo.grid.Column();  
            cols.binding = 'ipsu';
            cols.header = '입고수량';
            cols.align = "center";
            cols.width = 80; 
            cols.aggregate='Sum'
            wtab01Grid.columns.push(cols); 
            cols = new wijmo.grid.Column(); 
            cols.binding = 'chulsu';
            cols.header = '출고수량';
            cols.align = "center";
            cols.width = 80;  
            cols.aggregate='Sum'
            wtab01Grid.columns.push(cols);   
 
        }
            
        function tabC_grid(data){
            var wtab04Dto  = data;    
            var wtab04_data = [];
            var cnt = 1;
            var bfixflag = false
            for (var i = 0; i < wtab04Dto.length; i++) {
                if(wtab04Dto[i]["flag"] == "0"){
                    bfixflag = "입고";
                }else{
                    bfixflag = "출고";
                }
                wtab04_data.push({
                    id: i, 
                    index: cnt,
                    flag: bfixflag,
                    jdate: wtab04Dto[i]["jdate"],
                    jkey: wtab04Dto[i]["jkey"],
                    jpum: wtab04Dto[i]["jpum"],     
                    jgugek: wtab04Dto[i]["jgugek"],    
                    jbonsa_code: wtab04Dto[i]["jbonsa_code"],    
                    jcolor_code: wtab04Dto[i]["jcolor_code"],    
                    jmodel_code: wtab04Dto[i]["jmodel_code"],    
                    ipsu: wtab04Dto[i]["ipsu"],    
                    chulsu: wtab04Dto[i]["chulsu"],                                 
                });
                cnt++;
            }   
 

            wtab02Grid.columns.clear();  
            wtab02Grid.autoGenerateColumns = false; 
            //view_p01tab04page.sourceCollection  = wtab04_data;
            wtab02Grid.itemsSource = new wijmo.collections.CollectionView(wtab04_data, {
                    groupDescriptions: [
                        grandTotalsGroup,
                        'jpum'
                    ]
                })  
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'flag';
            cols.header = '구분';
            cols.align = "center";
            cols.width = 80;  
            wtab02Grid.columns.push(cols);  
            cols = new wijmo.grid.Column();     
            cols.binding = 'jpum';
            cols.header = '품목';
            cols.align = "left";
            cols.width = 150;  
            wtab02Grid.columns.push(cols);   
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jgugek';
            cols.header = '규격';
            cols.align = "left";
            cols.width = 120;  
            wtab02Grid.columns.push(cols);    
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jbonsa_code';
            // cols.header = '코드';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab02Grid.columns.push(cols);  
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jmodel_code';
            // cols.header = '모델';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab02Grid.columns.push(cols);  
            // cols = new wijmo.grid.Column(); 
            // cols.binding = 'jcolor_code';
            // cols.header = '컬러';
            // cols.align = "center";
            // cols.width = 100;  
            // wtab02Grid.columns.push(cols); 
            cols = new wijmo.grid.Column();      
            cols.binding = 'jdate';
            cols.header = '일자';
            cols.align = "center";
            cols.width = 120;  
            wtab02Grid.columns.push(cols); 
            cols = new wijmo.grid.Column();  
            cols.binding = 'ipsu';
            cols.header = '입고수량';
            cols.align = "center";
            cols.width = 80; 
            cols.aggregate='Sum'
            wtab02Grid.columns.push(cols); 
            cols = new wijmo.grid.Column(); 
            cols.binding = 'chulsu';
            cols.header = '출고수량';
            cols.align = "center";
            cols.width = 80;  
            cols.aggregate='Sum'
            wtab02Grid.columns.push(cols);   
 
        } 
           
        function JpumSearchList_rtn(arg){  

            var searchCode = ""; 

            if(arg == "M"){
                searchCode = document.getElementById('searchCode').value;   
            }
            if(arg == "A"){
                searchCode = document.getElementById('jpumnm').value;   
            } 
            if(arg == "B"){
                searchCode = document.getElementById('bjpumnm').value;   
            }  
            if(searchCode == null || searchCode.length == 0 || searchCode == ""){ 
                searchCode = "%"         ;
            }    
            let ls_conacorp1 = "%";  
            let ls_conagita = "%";   
            let ls_abonsadam1 = "%";
            let ls_jpbgubn = "%"   ;
            $.ajax({
                    url: '/app01m/index03/list',  
                    type:"POST",
                    data: { 
                            "searchtxt" :searchCode, 
                            "jpbgubn" :ls_jpbgubn, 
                    }, 
                    async:false,
                    success:function(data){  
                        tabPop_grid(data, arg);
                    },error:function(e){
                        console.log("error");                            
                    }
                }).done(function(fragment){           

                })    

        }     
        //  거래처팝업 grid data 수집
        function tabPop_grid(data, arg){
            // console.log(data);
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt, 
                    id: i, 
                    index: cnt, 
                    jkey: wtab01Dto[i]["jkey"], 
                    jchajong: wtab01Dto[i]["jchajong"],  
                    jpum: wtab01Dto[i]["jpum"], 
                    jgugek: wtab01Dto[i]["jgugek"], 
                    jchajong: wtab01Dto[i]["jchajong"], 
                    jchgoga0: wtab01Dto[i]["jchgoga0"], 
                    jchgoga0: wtab01Dto[i]["jchgoga0"],
                    jbigo: wtab01Dto[i]["jbigo"],     
                });
                cnt++;
            }   

            // console.log(winnameGrid);

            winnameGrid.columns.clear();  
            winnameGrid.autoGenerateColumns = false; 
            view_innamepage.sourceCollection  = wtab01_data;

            var cols = new wijmo.grid.Column(); 
            cols.binding = 'jkey';
            cols.header = '코드';
            cols.align = "center";
            cols.width = 180; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.jkey}</b>',
                click: (e, ctx) => {
                    wcifChk_a(ctx.item.jkey, ctx.item.jpum, ctx.item.jgugek,  ctx.item.jsize, ctx.item.jmodel_code, ctx.item.jcolor_code,   ctx.item.jbonsa_code );                    
                    
                }
            });
            winnameGrid.columns.push(cols);  

            cols = new wijmo.grid.Column(); 
            cols.binding = 'jpum';
            cols.header = '품명'; 
            cols.align = "left"; 
            cols.width = 150;
            winnameGrid.columns.push(cols); 

            cols = new wijmo.grid.Column(); 
            cols.binding = 'jgugek';
            cols.header = '규격'; 
            cols.align = "center"; 
            cols.width = 100;
            winnameGrid.columns.push(cols);  

            cols = new wijmo.grid.Column(); 
            cols.binding = 'jchajong';
            cols.header = '차종'; 
            cols.align = "center"; 
            cols.width = 100;
            winnameGrid.columns.push(cols);   
        }
    
        function wcifChk_a(arg1, arg2, arg3, arg4, arg5){   
            var ls_tab = document.getElementById('tabvalue').value;   
            if(ls_tab == "A"){ 
                document.getElementById('jkey').value = arg1;   
                document.getElementById('jpumnm').value = arg2;  
                searchList_rtn(ls_tab)
                $("#winnamemodal_btn").trigger("click");
            }else if(ls_tab == "B"){
                document.getElementById('bjkey').value = arg1;   
                document.getElementById('bjpumnm').value = arg2; 
                searchList_rtn(ls_tab) 
                $("#winnamemodal_btn").trigger("click"); 
            } 

        }    
 
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


    $(document).ready(function() {   

        const now = new Date();
        const oneMonthLater = new Date(now);
        oneMonthLater.setMonth(oneMonthLater.getMonth() - 1); 
  
        $('#frdate').val(CommonUtil.formatYYYYMMDD(oneMonthLater));
        $('#todate').val(CommonUtil.formatYYYYMMDD(now)); 
        $('#frdate02').val(CommonUtil.formatYYYYMMDD(oneMonthLater));
        $('#todate02').val(CommonUtil.formatYYYYMMDD(now)); 

    })     

</script>
        

 
</th:block>

</html>