<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_page}"> 

<head>
    <title>KyoungDuk MES</title>
    <style>
        .greenText span {
            color: #66DA26;
        }

        .redText span {
            color: #FF0000;
        }

        .grayText span {
            color: #8C8C8C;
        }

        .blueText span {
            color: #4374D9;
        }

        .yellowText span {
            color: #FFE400;
        }

        [data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] {
            font-size: 14px;
        }
        .card-text{
            margin-bottom: 10px;
        }

        .wj-flexgrid,
        canvas.wj-flexgrid {
            flex: 1 1 auto;
            min-height: 0;
            background-color: #f8f8f8;
        }

        .chart-wrapper {
            flex: 2;
            min-width: 0;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden; /* 혹시 몰라서 */
        }
    </style>
</head>
<th:block layout:fragment="content"> 
    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents"> 
 
        <div class="tab-wrap">
            <ul class="tab-links">
                <input type="hidden" id="checkdtParam" name="checkdtParam" th:value="${checkdt}"/>
                <li>
                <a href="#tab1" title="기초재고" id="listTabLink" onclick="tabchk_rtn('A')">기초재고</a>
                </li>
                <li>
                <a href="#tab2" title="재고조정" onclick="tabchk_rtn('B')">재고조정</a>
                </li> 
            </ul>
            <div class="tab-contents">
                <!--      작업일지조회 탭 시작       -->
                <!-- Section -->
                <section class="tab-item" id="tab1">  
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap"> 
                                <dl> 
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input type="date" id="frdate" name="frdate">
                                                <label for="frdate" class="hide">등록일자</label>
                                            </li> 
                                            <li>
                                                <button  onclick="save_btn()">
                                                        재고등록
                                                </button> 
                                            </li>
                                            <li>  
                                                    <input type="file" class="form-control" id="importFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />   
                                                    <!-- <a class="btn" title="파일업로드" id="loadXlsx">엑셀파일선택</a>   --> 
                                            </li>
                                            <li>
                                                <button id="loadXlsx">
                                                    엑셀적용
                                                </button>
                                            </li>
                                        </ul>
                                    </dd>  
                                </dl>  
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab01Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 
 
                    </div>  
                </section>
                <section class="tab-item" id="tab2" style="height: 832px;">
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap"> 
                                <dl>
                                    <dt>
                                        조정기간<span class="eq">*</span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input type="date" id="ipfrdate" name="ipfrdate"> 
                                            </li>
                                            <li>
                                                <input type="date" id="iptodate" name="iptodate"> 
                                            </li>
                                        </ul>
                                    </dd> 
                                </dl>    
                                <dl>
                                    <dt>
                                    <label>품목</label>
                                    </dt>
                                    <dd>  
                                    <div class="srch-box">
                                        <input type="text" class="form-control2" id="jpumname02" name="jpumname02"  placeholder="품목"> 
                                        &nbsp;
                                        <a class="btn btn-delete" title="품목" id="btnPnameinfoSearch"
                                            style="display: inline-block; width: 32px; height: 32px; vertical-align: middle;">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"
                                                style="width: 20px; height: 20px; display: block; margin-left: -9px;" />
                                        </a>
                                        <input  id="jpbgubn" type="hidden"  /> 
                                        <input  id="jkey02" type="hidden"  /> 
                                        
                                        <input type="hidden" id="tabvalue" value="A">  
                                    </div>
                                    </dd>
                                </dl>   
                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a class="btn btn-delete" title="검색" id="retrieveBtn"  >
                                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"  >
                                                검색
                                                </a>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-excellt btn-default" id="deleteRow" onclick="delete_btn()" 
                                                        style="float:none; height: 36px; width:115px;" >
                                                        삭제
                                                </button> 
                                            </li>
                                            <!-- <li>
                                                <button type="button" class="btn-excellt btn-default" id="saveInd"
                                                        style="float:none; height: 36px; width:115px;"  >
                                                <i class="fas fa-save"></i>개별등록
                                                </button> 
                                            </li> -->
                                        </ul>
                                    </dd>
                                </dl>
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab02Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 
 
                    </div>  
                </section> 
                
                 
            
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->

    </div> <!--//layout-contents end -->
    <footer style="margin-top:5px;">
        <p>Copyrightⓒ DaesanSystem corp. All rights reserved.</p>
    </footer>
    <div style="height: 10px"></div>

    

</th:block>
 
<th:block layout:fragment="scripts">
    <script src="/resource/apexcharts/apexcharts.3.26.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>  
    <th:block th:replace="/common/popup_alljpum :: popup_alljpum"></th:block>  
  
    <script> 
        
        $('#btnPnameinfoSearch').click(function () {
            let poppage = new PopAlljpumComponent();
            let $poppage = $(poppage);
            let searchcallback = function (items) {
                console.log('items : ', items);   
                document.getElementById('jpumname02').value = items.jpum; 
                document.getElementById('jkey02').value = items.jkey; 
                // AjaxUtil.getAsyncData('/api/definition/company/detail', { company_id: items.id }, function (result) {
                //   if (result.success) {
                //     const data = result.data;
                //     $('#address1').val(data.address);              // 도로명 주소
                //   }
                // });
            };
            poppage.show(searchcallback);
        });   
    </script>

 
  
<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var view_innamepage; 
    var view_injcodepage; 
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid; 
    var winnameGrid; 
    var winjcodeGrid; 
    let wfrdate;
    let wipfrdate;   
    let wiptodate;   
    let wsavedate; 
    
    let includeColumnHeader = false;
    window.onload = function() {  
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'jcode', header: '품목코드', align: "center",   width: 200 }, 
                { binding: 'ipqty', header: '기초수량', align: "center",   width: 300},   
            ], 
            itemsSource: getData_tab01()
        });   
            
        setHeaderColumn(false);
        function setHeaderColumn(headerOn) {
            wtab01Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
            // tab01검색 데이터 수집
        function getData_tab01(){       
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jcode: '', 
                    ipqty:  '', 
                });
                cnt++;
            }    
            return wactnm_data;                                          
        } 
    
    
        //재고조정현황 popup list
        view_p01tab02page = new wijmo.collections.CollectionView(getData_wlist(), {
            // sortDescriptions: [new wijmo.collections.SortDescription("jepm", false)],
            // pageSize: 20
        });     
        wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
            autoGenerateColumns: false,
            isReadOnly: true, 
            allowSorting: 'MultiColumn',
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'ipdate', header: '조정일자', align: "center", width: '1*' }, 
                { binding: 'acorp', header: '순번', align: "center", width: '1*' }, 
                { binding: 'jepm', header: '품목코드', align: "center", width: '1*' }, 
                { binding: 'jepmnm', header: '품목', align: "center", width: '1*' }, 
                { binding: 'jgugek', header: '규격', align: "center", width: '1*' }, 
                { binding: 'jchajong', header: '사이즈', align: "center", width: '1*' }, 
                // { binding: 'jmodel_code', header: '모델코드', align: "center", width: '1*' }, 
                // { binding: 'jcolor_code', header: '컬러코드', align: "center", width: '1*' }, 
                // { binding: 'jcustomer_code', header: '고객코드', align: "center", width: '1*' }, 
                { binding: 'ijaego_su1', header: '조정수량', align: "center", width: '1*',  format: 'n0' },  
            ], 
            itemsSource: view_p01tab02page, 
        });  
        // 그룹 전환 
        setGroups02(true); 
        function setGroups02(groupsOn) {
            let groups = view_p01tab02page.groupDescriptions;
            groups.clear();
            if (groupsOn) {
                groups.push(new wijmo.collections.PropertyGroupDescription('ipdate') );
            }
        }
        // 헤더 열 전환
        setHeaderColumn2(false);
        new FlexGridContextMenu(wtab02Grid);  
        function setHeaderColumn2(headerOn) {
            wtab02Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
        wtab02Grid.showMarquee = true;
        wtab02Grid.focus();
        wijmo.toggleClass(wtab02Grid.hostElement, 'highlightActive', true);
        wtab02Grid.focus();
    
    
    
        //  데이터 수집
        function getData_wlist(){        
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jepm: '', 
                    jepmnm: '', 
                    jgugek: '', 
                    jchajong: '', 
                    jmodel_code: '', 
                    jcolor_code: '', 
                    jcustomer_code: '', 
                    ijaego_su1:  '', 
                });
                cnt++;
            }     
            return wactnm_data;                           
        }  
    
        
        // // ################################################################  
        //품목현황 Modalㅁ
        view_innamepage = new wijmo.collections.CollectionView(getData_wlist2(), {
            // pageSize: 12
        });
        // 품목 페이지 이동
        // new wijmo.input.CollectionViewNavigator('#thePager03', {
        //     byPage: true,
        //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
        //     cv: view_innamepage
        // });     
        winnameGrid = new wijmo.grid.FlexGrid('#winnameGrid_div', {  
            autoGenerateColumns: false,
            isReadOnly: false, 
            allowSorting: 'MultiColumn',
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'jkey', header: '코드', align: "center", width: '1*' },
                { binding: 'pname', header: '품목', align: "left", width: '1*' },
                { binding: 'psize', header: '규격', align: "left", width: '1*' },
                { binding: 'jchajong', header: '차종', align: "center", width: '1*' }, 
            ], 
            itemsSource: view_innamepage
        });  
        
        winnameGrid.showMarquee = true; 
        wijmo.toggleClass(winnameGrid.hostElement, 'highlightActive', true);
        winnameGrid.focus();
    
    
        setHeaderColumn4(false);
        function setHeaderColumn4(headerOn) {
            winnameGrid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
        // // ################################################################  
        //품목현황 Modalㅁ
        view_injcodepage = new wijmo.collections.CollectionView(getData_wlist2(), {
            // pageSize: 12
        });
        // 품목 페이지 이동
        // new wijmo.input.CollectionViewNavigator('#thePager03', {
        //     byPage: true,
        //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
        //     cv: view_injcodepage
        // });     
        winjcodeGrid = new wijmo.grid.FlexGrid('#winjcodeGrid_div', {  
            autoGenerateColumns: false,
            isReadOnly: false, 
            allowSorting: 'MultiColumn',
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'jkey', header: '코드', align: "center", width: '1*' },
                { binding: 'pname', header: '품목', align: "left", width: '1*' },
                { binding: 'psize', header: '규격', align: "left", width: '1*' },
                { binding: 'jchajong', header: '차종', align: "center", width: '1*' }, 
            ], 
            itemsSource: view_injcodepage
        });  
        
        winjcodeGrid.showMarquee = true; 
        wijmo.toggleClass(winjcodeGrid.hostElement, 'highlightActive', true);
        winjcodeGrid.focus();
    
        setHeaderColumn10(false);
        function setHeaderColumn10(headerOn) {
            winjcodeGrid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
    
        // 거래처 데이터 수집
        function getData_wlist2(){   
            var winname_data = []; 
            var cnt = 1;
            for (var i = 0; i < 12; i++) {
                winname_data.push({
                    id: i, 
                    index: cnt,
                    jkey:"",
                    pname: "",   
                    psize: "",  
                    pbonsa: "",  
                    pmodel: "",  
                    pcolor: "",                           
                });
                cnt++;
            }    
            return winname_data;                                      
        } 
    
    } //onload function 
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                    
    // tab01 검색   
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })   
    
    function searchList_rtn(arg1){   
        switch(arg1){
            case 'A': 
                break;
            case 'B':   
                var  ls_ipfrdate     =  $('#ipfrdate').val();  //convert_date(wipfrdate.value);                    
                var  ls_iptodate     =  $('#iptodate').val();  //convert_date(wiptodate.value);     
                var ls_jkey = document.getElementById('jkey02').value;  
                var ls_jpumname = document.getElementById('jpumname02').value; 
                if(ls_jpumname == null || ls_jpumname.length == 0 || ls_jpumname == ""){ 
                    ls_jkey = '%';            
                }    
                if(ls_ipfrdate == null || ls_ipfrdate.length == 0 || ls_ipfrdate == ""){ 
                    alert("입고일자를 등록하세요") 
                    document.getElementById("ipdate").focus(); 
                    return ;               
                }  
                ls_jpbgubn = "%";
                //console.log(ls_jkey)
                $.ajax({
                    url: '/app03m/index59/list',  
                    type:"POST",
                    data: { 
                        "ipfrdate"      : ls_ipfrdate,  
                        "iptodate"      : ls_iptodate,  
                        "jpbgubn" :ls_jpbgubn,  
                        "jkey" : ls_jkey,
                    }, 
                    async:false,
                    success:function(data){ 
                        //chkLogin(data)  
                        tabB_grid(data);
                    },error:function(e){
                        console.log("error");                            
                    }
                }).done(function(fragment){           
    
                })    
                break;                  
            default:    
                break;                
        }
    
    
    }        
    function tabB_grid(data){
        var wtab02Dto  = data;    
        var wtab02_data = [];
        var cnt = 1;
        for (var i = 0; i < wtab02Dto.length; i++) {
            wtab02_data.push({
                id: i, 
                index: cnt,
                key1: wtab02Dto[i]["key1"],
                jepm: wtab02Dto[i]["jepm"],
                acorp: wtab02Dto[i]["acorp"],
                jpumnm: wtab02Dto[i]["jpumnm"],
                jgugek: wtab02Dto[i]["jgugek"], 
                jchajong: wtab02Dto[i]["jchajong"], 
                jmodel_code: wtab02Dto[i]["jmodel_code"],
                jcolor_code: wtab02Dto[i]["jcolor_code"], 
                jcustomer_code: wtab02Dto[i]["jcustomer_code"], 
                jqty: wtab02Dto[i]["jqty"], 
                ipdate: wtab02Dto[i]["ipdate"], 
                
                
            });
            cnt++;
        }    
        // console.log(wtab02_data.length);
        wtab02Grid.columns.clear();  
        wtab02Grid.autoGenerateColumns = false; 
        view_p01tab02page.sourceCollection  = wtab02_data;
        var cols = new wijmo.grid.Column(); 
        cols.binding = 'ipdate';
        cols.header = '입고일자';
        cols.align = "center";
        cols.width = 100; 
        wtab02Grid.columns.push(cols);  
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'acorp';
        cols.header = '순번';
        cols.align = "center";
        cols.width = 80; 
        wtab02Grid.columns.push(cols); 
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jepm';
        cols.header = '코드';
        cols.align = "center";
        cols.width = 200; 
        wtab02Grid.columns.push(cols);  
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jpumnm';
        cols.header = '품목';
        cols.align = "center";
        cols.width = 200;  
        cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
            text: '<b>${item.jpumnm}</b>',
            click: (e, ctx) => {
                wdelfun_a(ctx.item.key1, ctx.item.acorp, ctx.item.jepm, ctx.item.jpumnm );                    
                
            }
        });
        wtab02Grid.columns.push(cols);   
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jgugek';
        cols.header = '규격';
        cols.align = "center";
        cols.width = 100;  
        wtab02Grid.columns.push(cols);   
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jchajong';
        cols.header = '사이즈';
        cols.align = "center";
        cols.width = 100;  
        wtab02Grid.columns.push(cols);    
    
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jqty';
        cols.header = '입고수량';
        cols.align = "center";
        cols.width = 100;  
        cols.aggregate = 'Sum';
        wtab02Grid.columns.push(cols);   
    
    }
      
    
    
    function save_btn(arg){
        var ls_tab = document.getElementById('tabvalue').value;
        var  ls_frdate     =  $('#frdate').val(); //convert_date(wfrdate.value);                                            
        const warnning_grid = document.getElementById('inwarnning_grid'); 
        var ls_pcode  =  [];        
        var ll_qty    =  [];    
        var ls_jcode  =  [];        
        var ll_jqty    =  []; 
        var llCount = 0;         
    
    
        if (!confirm("저장하시겠습니까?")) {
                return ; 
        }   
        
        switch(ls_tab){
            case 'A':
        
                if(ls_frdate == null || ls_frdate.length == 0 || ls_frdate == ""){ 
                    alert("입고일자를 등록하세요") 
                    document.getElementById("frdate").focus(); 
                    return ;               
                }   
    
                var gridrow = wtab01Grid.rows.length ; 
                for( i=0; i < gridrow; i++){
                    //console.log(wtab01Grid.rows[i]);
                        ls_pcode[i] =  wtab01Grid.getCellData(i, 0, false); 
                        ll_qty[i]   =  parseInt(wtab01Grid.getCellData(i, 1, false));   
                        if(!ls_pcode[i] ){
                            ls_pcode[i] =  wtab01Grid.getCellData(i, 0, false);       //ubv.c
                            ll_qty[i]   =  wtab01Grid.getCellData(i, 1, false);   //_ubv.d
    
                        }  
    
                        if(!ls_pcode[i] ){
                            continue;
                        }
                        if(!ll_qty[i] ){ 
                            ll_qty[i] = 0;
                            //alert("수량을 등록하세요") 
                            //return                                           
                        } 
                        if (!ls_jcode.includes(ls_pcode[i])) {
                            ls_jcode[llCount] = ls_pcode[i]; 
                            ll_jqty[llCount] =  ll_qty[i] ;   
                            llCount++;
                        } 
                }    
                if(llCount ==0 ){
                    alert("엑셀 자료를 등록하세요") 
                    return     
                } 
                $.ajax({
                    url: '/app03m/index59/save',  
                    type:"POST",
                    data: { 
                        "frdate"  : ls_frdate,  
                        "jcode"   : ls_jcode     ,
                        "jqty"     : ll_jqty   ,  
                    }, 
                    async:false,
                    success:function(data){   
                        if(data == "success"){
                            alert("저장되었습니다.") 
                            // searchList_rtn(ls_tab);  
                            // clear_rtn(ls_tab);        
                        }else{                      
                            alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                            // listUp();
                            console.log(data);  
                        }
                        
                    },error:function(e){
                        console.log("error"); 
                    }
                }).done(function(fragment){           
    
                })  
                break;              
            default:    
                break;                
        } 
    
    } 
    
    function saveone_btn(arg){ 
        //var ls_savedate =  document.getElementById('savedate').value; 
        var ls_savedate  =  $('#savedate').val(); //convert_date(wsavedate.value);        
        var ls_bjkey = document.getElementById('bjkey').value; 
        var ls_bjqty = document.getElementById('bjqty').value;   
        var ls_pcode  =  [];        
        var ll_qty    =  [];    
        var ls_jcode  =  [];        
        var ll_jqty    =  []; 
        var llCount = 0;         
    
    
        if (!confirm("저장하시겠습니까?")) {
                return ; 
        }   
            
        if(ls_savedate == null || ls_savedate.length == 0 || ls_savedate == ""){ 
            alert("입고일자를 등록하세요") 
            document.getElementById("savedate").focus(); 
            return ;               
        }   
        if(ls_bjkey == null || ls_bjkey.length == 0 || ls_bjkey == ""){ 
            alert("품목을 선택하세요") 
            document.getElementById("bjpumname").focus(); 
            return ;               
        }   
        if(ls_bjqty == null || ls_bjqty == 0  ){ 
            alert("수량을 입력하세요") 
            document.getElementById("bjqty").focus(); 
            return ;               
        }   
        ls_jcode[0] = ls_bjkey;
        ll_jqty[0] = ls_bjqty; 
        $.ajax({
            url: '/app03m/index59/save',  
            type:"POST",
            data: { 
                "frdate"  : ls_savedate,  
                "jcode"   : ls_jcode     ,
                "jqty"     : ll_jqty   ,  
            }, 
            async:false,
            success:function(data){   
                if(data == "success"){
                    alert("저장되었습니다.") 
                    document.getElementById('bjkey').value = ""; 
                    document.getElementById('bjpumname').value = ""; 
                    document.getElementById('bjqty').value = 0;   
                    // searchList_rtn(ls_tab);  
                    // clear_rtn(ls_tab);        
                }else{                            
                    alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                    // listUp();
                    console.log(data);  
                }
                
            },error:function(e){
                console.log("error"); 
            }
        }).done(function(fragment){           
    
        })   
    
    } 
    
    
    function wdelfun_a(arg1, arg2, arg3, arg4 ){ 
        if (!confirm("입고일자 : " + arg1 + " (" +  arg2 + ") : " + arg4 + "   삭제하시겠습니까?")) {
            return ; 
        }   
        var ls_tab = document.getElementById('tabvalue').value; 
        $.ajax({
            url: '/app03m/index59/del',  
            type:"POST",
            data: { 
                "ipdate"      : arg1,    
                "acorp"       : arg2,    
                "jepm"        : arg3,    
            }, 
            async:false,
            success:function(data){   
                if(data == "success"){
                    alert("삭제되었습니다.") 
                    searchList_rtn(ls_tab);  
                    clear_rtn(ls_tab);             
                }else{  
                    if(data == "relogin"){
                        alert("다시 로그인해주세요")
                        window.location.href='http://mes.c-kd.com';
                        return 
                    }                            
                    alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")  
                }
            
            },error:function(e){
                console.log("error"); 
            }
        }).done(function(fragment){           
    
        })  
    
    
    }    
    
    function delete_btn(arg){
        var ls_tab = document.getElementById('tabvalue').value;
        var ls_ipdate =    convert_date(wipfrdate.value);    //document.getElementById('ipfrdate').value; 
    
        if (!confirm("입고일자 : " + ls_ipdate + " 자료를 삭제하시겠습니까?")) {
                return ; 
        }   
        
        switch(ls_tab){
            case 'B':
    
            if(ls_ipdate == null || ls_ipdate.length == 0 || ls_ipdate == ""){ 
                alert("입고일자를 등록하세요") 
                document.getElementById("ipfrdate").focus(); 
                return ;               
            }   
                var ls_acorp = "";
                var ls_jepm = "";
                $.ajax({
                    url: '/app03m/index59/del',  
                    type:"POST",
                    data: { 
                        "ipdate"      : ls_ipdate,   
                        "acorp"       : ls_acorp,    
                        "jepm"        : ls_jepm,    
                    }, 
                    async:false,
                    success:function(data){   
                        if(data == "success"){
                            alert("삭제되었습니다.") 
                            searchList_rtn(ls_tab);  
                            clear_rtn(ls_tab);             
                        }else{  
                            if(data == "relogin"){
                                alert("다시 로그인해주세요")
                                window.location.href='http://mes.c-kd.com';
                                return 
                            }                            
                            alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")  
                        }
                        
                    },error:function(e){
                        console.log("error"); 
                    }
                }).done(function(fragment){           
    
                })  
                break;                
            default:    
                break;                
        } 
    
    }   
    
    function clear_rtn(arg){
        switch(arg){
            case 'A': 
                document.getElementById('cifcode').value = "";
                document.getElementById('cifcodename').value = "";
                break;
            case 'B': 
                
                break;
            case 'C':
                
                break;                
            default:    
                break;                
        } 
    
    }
         
    
    
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        
    // tab01 엑셀적용   
    document.getElementById("loadXlsx").addEventListener("click",function(){  
        let inputEle = document.querySelector('#importFile');
        if (inputEle.files[0]) {
        wijmo.grid.xlsx.FlexGridXlsxConverter.loadAsync(wtab01Grid, inputEle.files[0], { includeColumnHeaders: includeColumnHeader });
        } 
    })  
    // document.getElementById("saveInd").addEventListener("click",function(){ 
    //     document.getElementById("actnmbtn").click(); 
    
    // })  
    //입고조회 품목검색 
    document.getElementById("jpumname02").addEventListener("keyup", (e)=>{ 
        if(e.keyCode === 13){  
            document.getElementById("innamebtn").click(); 
            JpumSearchList_rtn("B"); 
        }
    });   
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //선택한 탭 체크 
    function tabchk_rtn(arg){
        document.getElementById('tabvalue').value = arg; 
    } 
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                
    // tab01 검색   
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })   
     
    
    
    function JpumSearchList_rtn(arg){   
        var searchCode = ""; 
        var ls_tab = document.getElementById('tabvalue').value;   
        if(arg == "M"){
            searchCode = document.getElementById('searchCode').value;   
        }else if(arg == "S"){
            searchCode = document.getElementById('searchCode02').value;   
        }else if(ls_tab == "C"){
            searchCode = document.getElementById('jpumname').value;   
        }else if(arg == "B"){
            searchCode = document.getElementById('jpumname02').value;   
        }else if(arg == "D"){
            searchCode = document.getElementById('jpumname03').value;   
        }   
        if(searchCode == null || searchCode.length == 0 || searchCode == ""){ 
            searchCode = "%"         ;
        }    
        console.log(arg) 
        console.log(searchCode) 
        var ls_jpbgubn = document.getElementById('jpbgubn').value;   
        if(ls_jpbgubn == null || ls_jpbgubn.length == 0 || ls_jpbgubn == ""){ 
            ls_jpbgubn = "%"         ;
        }    
        $.ajax({
                url: '/app01m/index03/list',  
                type:"POST",
                data: { 
                        "searchtxt" :searchCode, 
                        "jpbgubn" :ls_jpbgubn, 
                }, 
                async:false,
                success:function(data){   
                    //chkLogin(data)  
                    tabPop_grid(data, arg);
                },error:function(e){
                    console.log("error");                            
                }
            }).done(function(fragment){           
    
            })  
    }     
    //  거래처팝업 grid data 수집
    function tabPop_grid(data, arg){ 
        var wtab01Dto  = data;    
        var wtab01_data = [];
        var cnt = 1; 
        for (var i = 0; i < wtab01Dto.length; i++) {
            wtab01_data.push({
                id: i, 
                index: cnt, 
                id: i, 
                index: cnt, 
                jkey: wtab01Dto[i]["jkey"], 
                jpb_gubn: wtab01Dto[i]["jpb_gubn"], 
                jgong_code: wtab01Dto[i]["jgong_code"], 
                jdan_code: wtab01Dto[i]["jdan_code"], 
                jmodel_code: wtab01Dto[i]["jmodel_code"], 
                jcolor_code: wtab01Dto[i]["jcolor_code"], 
                jcustomer_code: wtab01Dto[i]["jcustomer_code"], 
                jbonsa_code: wtab01Dto[i]["jbonsa_code"], 
                jsayong_gubn: wtab01Dto[i]["jsayong_gubn"], 
                jpum: wtab01Dto[i]["jpum"], 
                jgugek: wtab01Dto[i]["jgugek"], 
                jchajong: wtab01Dto[i]["jchajong"], 
                jchgoga0: wtab01Dto[i]["jchgoga0"], 
                jchgoga0: wtab01Dto[i]["jchgoga0"],
                jbigo: wtab01Dto[i]["jbigo"],     
            });
            cnt++;
        }   
    
        
        if(arg == "M" || arg == 'C' || arg == 'B' || arg == 'D'){
            winnameGrid.columns.clear();  
            winnameGrid.autoGenerateColumns = false; 
            view_innamepage.sourceCollection  = wtab01_data;
    
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'jkey';
            cols.header = '코드';
            cols.align = "center";
            cols.width = 180; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.jkey}</b>',
                click: (e, ctx) => {
                    wcifChk_a(ctx.item.jkey, ctx.item.jpum, ctx.item.jgugek,  ctx.item.jchajong, ctx.item.jmodel_code, ctx.item.jcolor_code,   ctx.item.jbonsa_code );                    
                    
                }
            });
            winnameGrid.columns.push(cols);  
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jpum';
            cols.header = '품명'; 
            cols.align = "left"; 
            cols.width = 150;
            winnameGrid.columns.push(cols); 
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jgugek';
            cols.header = '규격'; 
            cols.align = "center"; 
            cols.width = 100;
            winnameGrid.columns.push(cols);  
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jchajong';
            cols.header = '차종'; 
            cols.align = "center"; 
            cols.width = 100;
            winnameGrid.columns.push(cols);   
        }else{
            
            winjcodeGrid.columns.clear();  
            winjcodeGrid.autoGenerateColumns = false; 
            view_injcodepage.sourceCollection  = wtab01_data;
    
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'jkey';
            cols.header = '코드';
            cols.align = "center";
            cols.width = 180; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.jkey}</b>',
                click: (e, ctx) => {
                    wcifChk_b(ctx.item.jkey, ctx.item.jpum, ctx.item.jgugek,  ctx.item.jchajong, ctx.item.jmodel_code, ctx.item.jcolor_code,   ctx.item.jbonsa_code );                    
                    
                }
            });
            winjcodeGrid.columns.push(cols);  
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jpum';
            cols.header = '품명'; 
            cols.align = "left"; 
            cols.width = 150;
            winjcodeGrid.columns.push(cols); 
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jgugek';
            cols.header = '규격'; 
            cols.align = "center"; 
            cols.width = 100;
            winjcodeGrid.columns.push(cols);  
    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'jchajong';
            cols.header = '차종'; 
            cols.align = "center"; 
            cols.width = 100;
            winjcodeGrid.columns.push(cols);  
        }    
    }
    
    function wcifChk_a( arg1, arg2, arg3, arg4, arg5){   
        var ls_tab = document.getElementById('tabvalue').value;   
        if(ls_tab == "C"){ 
            document.getElementById('jkey').value = arg1;   
            document.getElementById('jpumname').value = arg2;  
            searchList_rtn(ls_tab)
            $("#winnamemodal_btn").trigger("click");
        }else if(ls_tab == "B"){ 
            document.getElementById('jkey02').value = arg1;   
            document.getElementById('jpumname02').value = arg2;   
            searchList_rtn(ls_tab)
            $("#winnamemodal_btn").trigger("click");
    
        }else if(ls_tab == "D"){ 
            document.getElementById('jkey03').value = arg1;   
            document.getElementById('jpumname03').value = arg2;   
            searchList_rtn(ls_tab)
            $("#winnamemodal_btn").trigger("click");
    
        }  
    
    }    
    function wcifChk_b(arg1, arg2, arg3, arg4, arg5){   
        var ls_tab = document.getElementById('tabvalue').value;    
            document.getElementById('bjkey').value = arg1;   
            document.getElementById('bjpumname').value = arg2;  
            searchList_rtn(ls_tab)
            $("#winjcodemodal_btn").trigger("click");  
    
    }    
     
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    
    
    $(document).ready(function() {  
        const now = new Date();
        const oneMonthLater = new Date(now);
        oneMonthLater.setMonth(oneMonthLater.getMonth() - 1); 
  
        $('#frdate').val(CommonUtil.formatYYYYMMDD(now));
        $('#ipfrdate').val(CommonUtil.formatYYYYMMDD(now));
        $('#iptodate').val(CommonUtil.formatYYYYMMDD(oneMonthLater));
        $('#savedate').val(CommonUtil.formatYYYYMMDD(now)); 

    })    
    </script>

 
</th:block>

</html>