<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_page}"> 

<head>
    <title>KyoungDuk MES</title>
    <style>
        .greenText span {
            color: #66DA26;
        }

        .redText span {
            color: #FF0000;
        }

        .grayText span {
            color: #8C8C8C;
        }

        .blueText span {
            color: #4374D9;
        }

        .yellowText span {
            color: #FFE400;
        }

        [data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] {
            font-size: 14px;
        }
        .card-text{
            margin-bottom: 10px;
        }

        .wj-flexgrid,
        canvas.wj-flexgrid {
            flex: 1 1 auto;
            min-height: 0;
            background-color: #f8f8f8;
        }

        .chart-wrapper {
            flex: 2;
            min-width: 0;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden; /* 혹시 몰라서 */
        }
    </style>
</head>
<th:block layout:fragment="content"> 
    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents"> 
 
        <div class="tab-wrap">
            <ul class="tab-links">
                <input type="hidden" id="checkdtParam" name="checkdtParam" th:value="${checkdt}"/>
                <li>
                <a href="#tab1" title="제품재고현황" id="listTabLink" onclick="tabchk_rtn('A')">제품재고현황</a>
                </li>
                <li>
                <a href="#tab2" title="원재료재고현황" onclick="tabchk_rtn('B')">원재료재고현황</a>
                </li> 
            </ul>
            <div class="tab-contents">
                <!--      주간생산계획등록 탭 시작       -->
                <!-- Section -->
                <section class="tab-item" id="tab1"> 
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap">  
                                <dl>
                                    <dt>
                                    <label>품목</label>
                                    </dt>
                                    <dd>  
                                    <div class="srch-box">
                                        <input type="text" class="form-control2" id="jpumname02" name="jpumname02"  placeholder="품목"> 
                                        &nbsp;
                                        <a class="btn btn-delete" title="품목" id="btnPnameinfoSearch"
                                            style="display: inline-block; width: 32px; height: 32px; vertical-align: middle;">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"
                                                style="width: 20px; height: 20px; display: block; margin-left: -9px;" />
                                        </a>
                                    </div>
                                    </dd>
                                </dl>   
                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                    <li>
                                        <a class="btn btn-delete" title="검색" id="retrieveBtn"  >
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"  >
                                        검색
                                        </a> 
                                        <input   id="jkey02" type="hidden">        
                                        <input type="hidden" id="tabvalue" value="A">   
                                        <input type="hidden" id="frdate" name="frdate">  
                                        <input type="hidden" id="todate" name="todate">           
                                    </li>
                                    </dd>
                                </dl>
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab01Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 

                    </div>    
                </section>
                <!--       주문등록 탭 종료   / 주문 의뢰현황 시작       -->
                <!-- Section -->
                <section class="tab-item" id="tab2" style="height: 832px;">
                    <div style="display: flex; gap: 5px">
                        <section class="section" style="width: 40%;">  
                            <div class="section-top">
                                <div class="search-wrap">  
                                    <dl>
                                        <dt>
                                        <label>품목</label>
                                        </dt>
                                        <dd>  
                                        <div class="srch-box">
                                            <input type="text" class="form-control2" id="jpumname03" name="jpumname03"  placeholder="품목"> 
                                            &nbsp;
                                            <a class="btn btn-delete" title="품목" id="btnPnameinfoSearch"
                                                style="display: inline-block; width: 32px; height: 32px; vertical-align: middle;">
                                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"
                                                    style="width: 20px; height: 20px; display: block; margin-left: -9px;" />
                                            </a>
                                        </div>
                                        </dd>
                                    </dl>   
                                    <dl>
                                        <dt><span class="eq"></span></dt>
                                        <dd>
                                        <li>
                                            <a class="btn btn-delete" title="검색" id="retrieveBtn02"  >
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘"  >
                                            검색
                                            </a>      
                                        </li>
                                        </dd>
                                    </dl>
                                </div>
                    
                            </div> <!--//section-top end -->
                            <section class="sec-bottom">
                                <div id="gridWrap"> 
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="wtab02Grid_div" style="overflow:scroll;   height:500px;   margin:0 auto; "></div>
                                    </div>
                                    <div class="btn-wrap"></div>
                                </div>
                            </section>

                        </section> 
 
                    </div>  
                </section> 
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->


    </div> <!--//layout-contents end -->
    <footer style="margin-top:5px;">
        <p>Copyrightⓒ DaesanSystem corp. All rights reserved.</p>
    </footer>
    <div style="height: 10px"></div>

    

</th:block>
 
<th:block layout:fragment="scripts">
    <script src="/resource/apexcharts/apexcharts.3.26.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>  
    <th:block th:replace="/common/popup_alljpum :: popup_alljpum"></th:block>  
  
    <script> 
        
        $('#btnPnameinfoSearch').click(function () {
            let poppage = new PopAlljpumComponent();
            let $poppage = $(poppage);
            let searchcallback = function (items) {
                console.log('items : ', items);   
                document.getElementById('jpumname02').value = items.jpum; 
                document.getElementById('jkey02').value = items.jkey; 
                // AjaxUtil.getAsyncData('/api/definition/company/detail', { company_id: items.id }, function (result) {
                //   if (result.success) {
                //     const data = result.data;
                //     $('#address1').val(data.address);              // 도로명 주소
                //   }
                // });
            };
            poppage.show(searchcallback);
        });       
    </script>
 


 <script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var view_innamepage; 
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid;  
    var winnameGrid;
    let wfrdate;
    let wtodate;   
    window.onload = function() {    
        view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
            // pageSize: 21
        }); 
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'j1_key', header: '품목코드', align: "center", width: 150 }, 
                { binding: 'j1_name', header: '품목', align: "center", width: 200 }, 
                { binding: 'j1_gugi', header: '적입수량', align: "right", width: 150 }, 
                { binding: 'j1_jukgi', header: '수량 (box)', align: "right", width: 150 },  
                { binding: 'j1_gab', header: '총 수량 (EA))현재고', align: "right", width: 100, format: 'n0' },  
            ], 
            itemsSource: view_p01tab01page
        });   
         
        setHeaderColumn(false);
        function setHeaderColumn(headerOn) {
            wtab01Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
            // tab01검색 데이터 수집
        function getData_tab01(){       
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jcode: '', 
                    ipqty:  '', 
                });
                cnt++;
            }    
            return wactnm_data;                                          
        }  
 

 
        view_p01tab02page = new wijmo.collections.CollectionView(getData_tab01(), {
            // pageSize: 21
        }); 
        wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'j1_key', header: '품목코드', align: "center", width: 150 }, 
                { binding: 'j1_name', header: '재질', align: "center", width: 200 }, 
                { binding: 'j1_gesan', header: 'GRAGE', align: "center", width: 150 }, 
                { binding: 'j1_color', header: '색상', align: "center", width: 150 },  
                { binding: 'j1_gab', header: '중 량 (Kg)', align: "right", width: 100, format: 'n0' },  
            ], 
            itemsSource: view_p01tab02page
        });   
         
        setHeaderColumn02(false);
        function setHeaderColumn02(headerOn) {
            wtab02Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
            // tab01검색 데이터 수집
        function getData_tab01(){       
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jcode: '', 
                    ipqty:  '', 
                });
                cnt++;
            }    
            return wactnm_data;                                          
        }  
 
    } //onload function 

    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //선택한 탭 체크 
    function tabchk_rtn(arg){
        document.getElementById('tabvalue').value = arg; 
    } 
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                
    // tab01 검색   
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })                         
    // tab01 검색   
    document.getElementById("retrieveBtn02").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })   
    // //입고조회 품목검색 
    // document.getElementById("jpumname02").addEventListener("keyup", (e)=>{ 
    //     if(e.keyCode === 13){  
    //         document.getElementById("innamebtn").click(); 
    //         JpumSearchList_rtn("A"); 
    //     }
    // });  

    function JpumSearchList_rtn(arg){   
        var searchCode = ""; 
        var ls_tab = document.getElementById('tabvalue').value;   
        if(arg == "M"){
            searchCode = document.getElementById('searchCode').value;   
        }else if(arg == "A"){
            searchCode = document.getElementById('jpumname02').value;   
        }    
        if(searchCode == null || searchCode.length == 0 || searchCode == ""){ 
            searchCode = "%"         ;
        }   
        var ls_jpbgubn = "%";  
        $.ajax({
                url: '/app01m/index03/list',  
                type:"POST",
                data: { 
                        "searchtxt" :searchCode, 
                        "jpbgubn" :ls_jpbgubn, 
                }, 
                async:false,
                success:function(data){   
                    //chkLogin(data)  
                    tabPop_grid(data, arg);
                },error:function(e){
                    console.log("error");                            
                }
            }).done(function(fragment){           

            })  
    }     
      
    function searchList_rtn(arg1){ 
        switch(arg1){
            case 'A':   
                var ls_jpumname = document.getElementById('jpumname02').value;  
                
                if(ls_jpumname == null || ls_jpumname.length == 0 || ls_jpumname == ""){ 
                    ls_jpumname = '%';            
                }    
                $.ajax({
                    url: '/app03m/index60/jtemp01',  
                    type:"POST",
                    data: { 
                        "searchtxt" : ls_jpumname,
                        "flag" :'J'
                    }, 
                    async:false,
                    success:function(data){   
                        //chkLogin(data)  
                        tabD_grid(data);
                    },error:function(e){
                        console.log("error");
                        // alert(data.code);
                        // alert(data.message);
                    }
                }).done(function(fragment){           

                })  
                break;    
            case 'B': 
                var ls_jpumname = document.getElementById('jpumname03').value;  
                
                if(ls_jpumname == null || ls_jpumname.length == 0 || ls_jpumname == ""){ 
                    ls_jpumname = '%';            
                }    
                $.ajax({
                    url: '/app03m/index60/jtemp01',  
                    type:"POST",
                    data: { 
                        "searchtxt" : ls_jpumname,
                        "flag" :'W'
                    }, 
                    async:false,
                    success:function(data){   
                        //chkLogin(data)  
                        tabE_grid(data);
                    },error:function(e){
                        console.log("error");
                        // alert(data.code);
                        // alert(data.message);
                    }
                }).done(function(fragment){           

                })  
                break;                
            default:    
                break;                
        } 

    }   
    
    
    function tabD_grid(data){
        var wtab03Dto  = data;    
        var wtab03_data = [];
        var cnt = 1;
        var ll_jqty = 0;
        //console.log(wtab03Dto)
        for (var i = 0; i < wtab03Dto.length; i++) { 
            wtab03_data.push({ 
                id: i, 
                index: cnt,
                j1_key: wtab03Dto[i]["j1_key"],
                j1_name: wtab03Dto[i]["j1_name"],
                j1_gesan: wtab03Dto[i]["j1_gesan"], 
                j1_color: wtab03Dto[i]["j1_color"],  
                j1_gugi: wtab03Dto[i]["j1_gugi"], 
                j1_jukgi: wtab03Dto[i]["j1_jukgi"], 
                j1_gab: wtab03Dto[i]["j1_gab"],  
                
            });
            cnt++;
        }     
         //console.log(wtab03_data);
        wtab01Grid.columns.clear();  
        wtab01Grid.autoGenerateColumns = false; 
        view_p01tab01page.sourceCollection  = wtab03_data;
        var cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_key';
        cols.header = '품목코드';
        cols.align = "center";
        cols.width = 150; 
        wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_name';
        cols.header = '품목';
        cols.align = "center";
        cols.width = 200;  
        wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_gugi';
        cols.header = '적입수량';
        cols.align = "right";
        cols.format = "n0"; 
        cols.width = 150;  
        wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_jukgi';
        cols.header = '수량 (box)';
        cols.align = "right";
        cols.format = "n0"; 
        cols.width = 150;  
        wtab01Grid.columns.push(cols);    

        // console.log("cols", cols);  
        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_gab';
        cols.header = '총 수량 (EA))현재고';
        cols.align = "right";
        cols.format = "n0"; 
        cols.width = 150;  
        wtab01Grid.columns.push(cols);    

    }            
     
    function tabE_grid(data){
        var wtab03Dto  = data;    
        var wtab03_data = [];
        var cnt = 1;
        var ll_jqty = 0;
        //console.log(wtab03Dto)
        for (var i = 0; i < wtab03Dto.length; i++) { 
            wtab03_data.push({ 
                id: i, 
                index: cnt,
                j1_key: wtab03Dto[i]["j1_key"],
                j1_name: wtab03Dto[i]["j1_name"],
                j1_gesan: wtab03Dto[i]["j1_gesan"], 
                j1_color: wtab03Dto[i]["j1_color"],  
                j1_gugi: wtab03Dto[i]["j1_gugi"], 
                j1_jukgi: wtab03Dto[i]["j1_jukgi"], 
                j1_gab: wtab03Dto[i]["j1_gab"],  
                
            });
            cnt++;
        }     
         //console.log(wtab03_data);
        wtab02Grid.columns.clear();  
        wtab02Grid.autoGenerateColumns = false; 
        view_p01tab02page.sourceCollection  = wtab03_data;
        var cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_key';
        cols.header = '품목코드';
        cols.align = "center";
        cols.width = 150; 
        wtab02Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_name';
        cols.header = '재질';
        cols.align = "center";
        cols.width = 200;  
        wtab02Grid.columns.push(cols);    

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_gesan';
        cols.header = 'GRAGE';
        cols.align = "center";
        cols.width = 200;  
        wtab02Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_color';
        cols.header = '색상';
        cols.align = "center";
        cols.width = 200;  
        wtab02Grid.columns.push(cols);   

        // console.log("cols", cols);  
        cols = new wijmo.grid.Column(); 
        cols.binding = 'j1_gab';
        cols.header = '중 량 (Kg)';
        cols.align = "right";
        cols.format = "n0"; 
        cols.width = 100;  
        wtab02Grid.columns.push(cols);    

    }            
     
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


    $(document).ready(function() {   
         
    })   

</script>

 
</th:block>

</html>