<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index01Mapper">


    <select id="getComCodeList"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select com_cls, com_cnam, com_rem2, com_work from TB_CA510  where com_code = '00' and com_cls not in ('002')
             and (  isnull(com_cls,'') Like concat('%',#{com_cls},'%')  or isnull(com_cnam,'') Like concat('%',#{com_cnam},'%') ) order by com_cls
        ]]>
    </select>

    <insert id="InsertComCode" parameterType="com.dae.kdmes.DTO.App01.Index01Dto" >
        insert into TB_CA510 (com_cls, com_code, com_cnam ) values
        (#{com_cls}, '00', #{com_cnam} )
    </insert>

    <update id="UpdateComCode" parameterType="com.dae.kdmes.DTO.App01.Index01Dto">
        UPDATE  TB_CA510 SET com_cnam = #{com_cnam}  where com_cls   = #{com_cls} and com_code  = '00'
    </update>

    <update id="DeleteComCode" parameterType="com.dae.kdmes.DTO.App01.Index01Dto">
        DELETE  TB_CA510   where com_cls  = #{com_cls} and com_code  = #{com_code}
    </update>

    <select id="GetComcodeDetailList"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select * from TB_CA510  where com_code <> '00' and com_cls = #{com_cls}
             and (isnull(com_cnam,'') Like concat('%',#{com_cnam},'%') or isnull(com_rem1,'') Like concat('%',#{com_cnam},'%') )
        ]]>
    </select>

    <select id="getWperidlist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as insano, com_rem1 as inname
             from TB_CA510  where com_cls = '002'
                and isnull(com_rem1,'') Like concat('%',#{com_rem1},'%') and LEN(isnull(com_rem1,'')) > 0
        ]]>
    </select>

    <select id="getWbadlist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as insano, com_rem1 as inname
             from TB_CA510  where com_cls = '005'
                and isnull(com_rem1,'') Like concat('%',#{com_rem1},'%')
        ]]>
    </select>

    <insert id="InsertComCodeDetail" parameterType="com.dae.kdmes.DTO.App01.Index01Dto" >
        insert into TB_CA510 (com_cls, com_code, com_cnam ,com_rem1, com_rem2, com_work) values
        (#{com_cls}, #{com_code}, #{com_cnam},#{com_rem1}, #{com_rem2},#{com_work})
    </insert>

    <update id="UpdateComCodeDetail" parameterType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
        UPDATE  TB_CA510 SET com_cnam = #{com_cnam} , com_rem1 = #{com_rem1} , com_rem2 = #{com_rem2} , com_work = #{com_work}
        where com_cls  = #{com_cls}   and com_code = #{com_code} and com_code <> '00'
        ]]>
    </update>

    <update id="DeleteComCodeDetail" parameterType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
        DELETE  TB_CA510   where com_cls  = #{com_cls}   and com_code = #{com_code} and com_code <> ('00')
        ]]>
    </update>

    <select id="GetComCodeCheck" parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="String">
        <![CDATA[
        select   com_cls , com_code
        from TB_CA510 WITH (NOLOCK)
        WHERE isnull(com_cls,'')   = #{com_cls}
        and isnull(com_code,'')   = #{com_code}
        ORDER BY com_cls
        ]]>
    </select>

    <select id="getCom_rem2_keyList"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
           select com_code as com_rem2_key, com_rem1 as com_rem2_name from TB_CA510 where com_cls = '001' and com_code <> '00'
        ]]>
    </select>

</mapper>
