<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index08Mapper">
    <select id="getMachList" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto" resultType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
            SELECT machcd
                  ,machno
                  ,machname
                  ,Left(machdate,4) + '-' + substring(machdate, 5,2)+ '-' + substring(machdate, 7,2) as machdate
                  ,Left(machstdate,4) + '-' + substring(machstdate, 5,2)+ '-' + substring(machstdate, 7,2) as machstdate
                  ,Left(macheddate,4) + '-' + substring(macheddate, 5,2)+ '-' + substring(macheddate, 7,2) as macheddate
                  ,machshot
                  ,machgugek01
                  ,machgugek02
                  ,machgugek03
                  ,machcavity
                  ,machuse
                  ,machcha
                  ,machcltnm
                  ,machjaejak
                  ,machplace
                  ,machamt
                  ,machwon
                  ,perid
                  ,machgrade
                  ,machgram
                  ,machncha
                  ,remark
                  ,indate
                  ,inperid
                  ,inpcode
                  ,injpum
                  ,machgumnm
                  ,remark
              FROM TB_PC110 WITH(NOLOCK)
             WHERE ( isnull(machcd,'') Like concat('%',#{machcd},'%')
               or isnull(machname,'') Like concat('%',#{machcd},'%') )
        ]]>
    </select>

    <select id="getFacList" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto" resultType="com.dae.kdmes.DTO.App01.Pc120Dto">
        <![CDATA[
        SELECT faccd
             ,facno
             ,facflag
             ,facname
             ,Left(facdate,4) + '-' + substring(facdate, 5,2)+ '-' + substring(facdate, 7,2) as facdate
             ,Left(facstdate,4) + '-' + substring(facstdate, 5,2)+ '-' + substring(facstdate, 7,2) as facstdate
             ,Left(faceddate,4) + '-' + substring(faceddate, 5,2)+ '-' + substring(faceddate, 7,2) as faceddate
             ,facmodel
             ,facjaejo
             ,facjaejono
             ,facbycltnm
             ,facbypernm
             ,factelno
             ,facgubun
             ,facamt
             ,facjunwon
             ,facdivnm
             ,facsize
             ,fachyung
             ,facweight
             ,facscrew
             ,factype
             ,facgunondo
             ,facvolumn
             ,facgunpung
             ,facgita
             ,facpower
        FROM TB_PC120 WITH(NOLOCK)
        WHERE ( isnull(facmodel,'') Like concat('%',#{facname},'%')
           or isnull(facname,'') Like concat('%',#{facname},'%') )
        ]]>
    </select>



    <select id="getMachFixList" parameterType="com.dae.kdmes.DTO.App01.PcFixDto" resultType="com.dae.kdmes.DTO.App01.PcFixDto">
        <![CDATA[
            SELECT ROW_NUMBER() OVER (ORDER BY fixid) AS rownum
                  ,fixid
                  ,fixmachcd
                  ,Left(reqdate,4) + '-' + substring(reqdate, 5,2)+ '-' + substring(reqdate, 7,2) as reqdate
                  ,Left(respdate,4) + '-' + substring(respdate, 5,2)+ '-' + substring(respdate, 7,2) as respdate
                  ,reqtext
                  ,fixtext
                  ,fixcltnm
                  ,fixflag
                  ,remark
                  ,indate
                  ,inperid
              FROM TB_PCFIXLIST WITH(NOLOCK)
             WHERE fixmachcd = #{fixmachcd}
        ]]>
    </select>

    <select id="getDupleMachchk" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto" resultType="String">
        <![CDATA[
            SELECT isnull(machname,'') as machname
              FROM TB_PC110 WITH(NOLOCK)
             WHERE machcd = #{machcd}
        ]]>
    </select>


    <select id="getDupleFacchk" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto" resultType="String">
        <![CDATA[
        SELECT isnull(facname,'') as facname
        FROM TB_PC120 WITH(NOLOCK)
        WHERE faccd = #{faccd}
        ]]>
    </select>


    <select id="getPringImg" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto" resultType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
            SELECT isnull(save_name,'') as save_name
              FROM TB_MATTACH WITH(NOLOCK)
             WHERE board_idx = #{machcd}
        ]]>
    </select>

    <insert id="InsertMach" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto" >
        insert into TB_PC110 (machcd
                            ,machno
                            ,machname
                            ,machdate
                            ,machstdate
                            ,macheddate
                            ,machshot
                            ,machgugek01
                            ,machgugek02
                            ,machgugek03
                            ,machcavity
                            ,machuse
                            ,machcha
                            ,machcltnm
                            ,machjaejak
                            ,machplace
                            ,machwon
                            ,machgrade
                            ,machgram
                            ,machncha
                            ,indate
                            ,inperid
                            ,inpcode
                            ,injpum
                            ,machgumnm
                            ,remark
        ) values  (
                             #{machcd}
                            ,#{machno}
                            ,#{machname}
                            ,#{machdate}
                            ,#{machstdate}
                            ,#{macheddate}
                            ,#{machshot}
                            ,#{machgugek01}
                            ,#{machgugek02}
                            ,#{machgugek03}
                            ,#{machcavity}
                            ,#{machuse}
                            ,#{machcha}
                            ,#{machcltnm}
                            ,#{machjaejak}
                            ,#{machplace}
                            ,#{machwon}
                            ,#{machgrade}
                            ,#{machgram}
                            ,#{machncha}
                            ,#{indate}
                            ,#{inperid}
                            ,#{inpcode}
                            ,#{injpum}
                            ,#{machgumnm}
                            ,#{remark}
        )
    </insert>


    <insert id="InsertFac" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto" >
        insert into TB_PC120 (faccd
                             ,facno
                             ,facflag
                             ,facname
                             ,facdate
                             ,facstdate
                             ,faceddate
                             ,facmodel
                             ,facjaejo
                             ,facjaejono
                             ,facbycltnm
                             ,facbypernm
                             ,factelno
                             ,facgubun
                             ,facamt
                             ,facjunwon
                             ,facdivnm
                             ,facsize
                             ,fachyung
                             ,facweight
                             ,facscrew
                             ,factype
                             ,facgunondo
                             ,facvolumn
                             ,facgunpung
                             ,facgita
                             ,facpower
        ) values  (
                    #{faccd}
                  ,#{facno}
                  ,#{facflag}
                  ,#{facname}
                  ,#{facdate}
                  ,#{facstdate}
                  ,#{faceddate}
                  ,#{facmodel}
                  ,#{facjaejo}
                  ,#{facjaejono}
                  ,#{facbycltnm}
                  ,#{facbypernm}
                  ,#{factelno}
                  ,#{facgubun}
                  ,#{facamt}
                  ,#{facjunwon}
                  ,#{facdivnm}
                  ,#{facsize}
                  ,#{fachyung}
                  ,#{facweight}
                  ,#{facscrew}
                  ,#{factype}
                  ,#{facgunondo}
                  ,#{facvolumn}
                  ,#{facgunpung}
                  ,#{facgita}
                  ,#{facpower}
                  )
    </insert>

    <insert id="InsertMachFix" parameterType="com.dae.kdmes.DTO.App01.PcFixDto" >
        insert into TB_PCFIXLIST (fixmachcd
            ,reqdate
            ,respdate
            ,reqtext
            ,fixtext
            ,fixcltnm
            ,remark
            ,indate
            ,inperid
            ,fixflag
        ) values  (
             #{fixmachcd}
            ,#{reqdate}
            ,#{respdate}
            ,#{reqtext}
            ,#{fixtext}
            ,#{fixcltnm}
            ,#{remark}
            ,#{indate}
            ,#{inperid}
            ,#{fixflag}
        )
    </insert>


    <update id="UpdateMach" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto">
        update TB_PC110
        set perid = '00'
        <if test="machno != null ">,</if>
        <if test="machno != null">machno=#{machno}</if>
        <if test="machname != null ">,</if>
        <if test="machname != null">machname=#{machname}</if>
        <if test="machdate != null ">,</if>
        <if test="machdate != null">machdate=#{machdate}</if>
        <if test="machstdate != null ">,</if>
        <if test="machstdate != null">machstdate=#{machstdate}</if>
        <if test="macheddate != null ">,</if>
        <if test="macheddate != null">macheddate=#{macheddate}</if>
        <if test="machshot != null ">,</if>
        <if test="machshot != null">machshot=#{machshot}</if>
        <if test="machgugek01 != null ">,</if>
        <if test="machgugek01 != null">machgugek01=#{machgugek01}</if>
        <if test="machgugek02 != null ">,</if>
        <if test="machgugek02 != null">machgugek02=#{machgugek02}</if>
        <if test="machgugek03 != null ">,</if>
        <if test="machgugek03 != null">machgugek03=#{machgugek03}</if>
        <if test="machcavity != null ">,</if>
        <if test="machcavity != null">machcavity=#{machcavity}</if>
        <if test="machuse != null ">,</if>
        <if test="machuse != null">machuse=#{machuse}</if>
        <if test="machcha != null ">,</if>
        <if test="machcha != null">machcha=#{machcha}</if>
        <if test="machcltnm != null ">,</if>
        <if test="machcltnm != null">machcltnm=#{machcltnm}</if>
        <if test="machjaejak != null ">,</if>
        <if test="machjaejak != null">machjaejak=#{machjaejak}</if>
        <if test="machplace != null ">,</if>
        <if test="machplace != null">machplace=#{machplace}</if>
        <if test="machwon != null ">,</if>
        <if test="machwon != null">machwon=#{machwon}</if>
        <if test="machgrade != null ">,</if>
        <if test="machgrade != null">machgrade=#{machgrade}</if>
        <if test="machgram != null ">,</if>
        <if test="machgram != null">machgram=#{machgram}</if>
        <if test="machncha != null ">,</if>
        <if test="machncha != null">machncha=#{machncha}</if>
        <if test="indate != null ">,</if>
        <if test="indate != null">indate=#{indate}</if>
        <if test="inperid != null ">,</if>
        <if test="inperid != null">inperid=#{inperid}</if>
        <if test="inpcode != null ">,</if>
        <if test="inpcode != null">inpcode=#{inpcode}</if>
        <if test="injpum != null ">,</if>
        <if test="injpum != null">injpum=#{injpum}</if>
        <if test="machgumnm != null ">,</if>
        <if test="machgumnm != null">machgumnm=#{machgumnm}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        where machcd = #{machcd}
    </update>


    <update id="UpdateFac" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto">
        update TB_PC120
        set perid = '00'
        <if test="facflag != null ">,</if>
        <if test="facflag != null">facflag=#{facflag}</if>
        <if test="facno != null ">,</if>
        <if test="facno != null">facno=#{facno}</if>
        <if test="facname != null ">,</if>
        <if test="facname != null">facname=#{facname}</if>
        <if test="facdate != null ">,</if>
        <if test="facdate != null">facdate=#{facdate}</if>
        <if test="facstdate != null ">,</if>
        <if test="facstdate != null">facstdate=#{facstdate}</if>
        <if test="faceddate != null ">,</if>
        <if test="faceddate != null">faceddate=#{faceddate}</if>
        <if test="facmodel != null ">,</if>
        <if test="facmodel != null">facmodel=#{facmodel}</if>
        <if test="facjaejo != null ">,</if>
        <if test="facjaejo != null">facjaejo=#{facjaejo}</if>
        <if test="facjaejono != null ">,</if>
        <if test="facjaejono != null">facjaejono=#{facjaejono}</if>
        <if test="facbycltnm != null ">,</if>
        <if test="facbycltnm != null">facbycltnm=#{facbycltnm}</if>
        <if test="facbypernm != null ">,</if>
        <if test="facbypernm != null">facbypernm=#{facbypernm}</if>
        <if test="factelno != null ">,</if>
        <if test="factelno != null">factelno=#{factelno}</if>
        <if test="facgubun != null ">,</if>
        <if test="facgubun != null">facgubun=#{facgubun}</if>
        <if test="facamt != null ">,</if>
        <if test="facamt != null">facamt=#{facamt}</if>
        <if test="facjunwon != null ">,</if>
        <if test="facjunwon != null">facjunwon=#{facjunwon}</if>
        <if test="facdivnm != null ">,</if>
        <if test="facdivnm != null">facdivnm=#{facdivnm}</if>
        <if test="facsize != null ">,</if>
        <if test="facsize != null">facsize=#{facsize}</if>
        <if test="fachyung != null ">,</if>
        <if test="fachyung != null">fachyung=#{fachyung}</if>
        <if test="facweight != null ">,</if>
        <if test="facweight != null">facweight=#{facweight}</if>
        <if test="facscrew != null ">,</if>
        <if test="facscrew != null">facscrew=#{facscrew}</if>
        <if test="factype != null ">,</if>
        <if test="factype != null">factype=#{factype}</if>
        <if test="facgunondo != null ">,</if>
        <if test="facgunondo != null">facgunondo=#{facgunondo}</if>
        <if test="facvolumn != null ">,</if>
        <if test="facvolumn != null">facvolumn=#{facvolumn}</if>
        <if test="facgunpung != null ">,</if>
        <if test="facgunpung != null">facgunpung=#{facgunpung}</if>
        <if test="facgita != null ">,</if>
        <if test="facgita != null">facgita=#{facgita}</if>
        <if test="facpower != null ">,</if>
        <if test="facpower != null">facpower=#{facpower}</if>
        where faccd = #{faccd}
    </update>

    <update id="UpdateMachFix" parameterType="com.dae.kdmes.DTO.App01.PcFixDto">
        update TB_PCFIXLIST
        set perid = '00'
        <if test="fixmachcd != null ">,</if>
        <if test="fixmachcd != null">fixmachcd=#{fixmachcd}</if>
        <if test="reqdate != null ">,</if>
        <if test="reqdate != null">reqdate=#{reqdate}</if>
        <if test="reqtext != null ">,</if>
        <if test="reqtext != null">reqtext=#{reqtext}</if>
        <if test="respdate != null ">,</if>
        <if test="respdate != null">respdate=#{respdate}</if>
        <if test="fixtext != null ">,</if>
        <if test="fixtext != null">fixtext=#{fixtext}</if>
        <if test="fixcltnm != null ">,</if>
        <if test="fixcltnm != null">fixcltnm=#{fixcltnm}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="indate != null ">,</if>
        <if test="indate != null">indate=#{indate}</if>
        <if test="inperid != null ">,</if>
        <if test="inperid != null">inperid=#{inperid}</if>
        <if test="fixflag != null ">,</if>
        <if test="fixflag != null">fixflag=#{fixflag}</if>
        where fixid = #{fixid}
    </update>

    <update id="DeleteMach" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
        DELETE  TB_PC110  where machcd = #{machcd}
        ]]>
    </update>

    <update id="DeleteFac" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto">
        <![CDATA[
        DELETE  TB_PC120  where faccd = #{faccd}
        ]]>
    </update>

    <update id="DeleteMachFix" parameterType="com.dae.kdmes.DTO.App01.PcFixDto">
        <![CDATA[
        DELETE  TB_PCFIXLIST  where fixid = #{fixid}
        ]]>
    </update>

    <update id="DeleteMachFixAll" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
        DELETE  TB_PCFIXLIST  where fixmachcd = #{machcd}
        ]]>
    </update>


    <update id="DeleteGumALLIMG" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
        DELETE  TB_MATTACH  where board_idx = #{machcd}
        ]]>
    </update>

    <update id="DeleteGumIMG" parameterType="com.dae.kdmes.DTO.App01.Pc110Dto">
        <![CDATA[
        DELETE  TB_MATTACH  where save_name = #{save_name}
        ]]>
    </update>


    <select id="SelectMaxFac" parameterType="com.dae.kdmes.DTO.App01.Pc120Dto" resultType="String">
        <![CDATA[  select  max(faccd) as lotnomax  from TB_PC120 where Left(faccd,6) = #{yymm}      ]]>
    </select>

</mapper>
