@charset "UTF-8";

.flow_left_align {float:left;}
.flow_right_align {float:right;}

/* 버튼 */
.flow_button_box {padding-top: 3px;}
.flow_btn {display: inline-block; cursor: pointer;border-radius: 3px;padding: 7px 16px 5px 16px;line-height: 1.5;}
.flow_btn.get_data {background: #e8ebfa; border: 1px solid #e8ebfa; color: #214faf;}
.flow_btn.delete_selected_button {font-weight: 500;background: #3d70fe;border: 1px solid #3d70fe;color: #fff;}
.flow_btn.zoom_refresh {color: #333;border: 0;background: none}
.flow_btn.zoom_refresh:hover {color: #3d70fe}

.flow_wrap {border-radius: 0; padding: 0; border:1px solid #cad5de}
.flow_wrap pre {display: none;}
.flowchart-link {cursor: pointer;}
.draggable_operators {overflow: hidden;padding: 10px 20px;border-bottom: 3px solid #217CE8;background: #fff;}
.flow_body {width: 100%;height: calc(100vh - 100px);overflow: hidden;border: 1px solid #E8E8EF;border-top: 0;background:#FBFBFB;}
.flowchart {width: 5000px;height: 2000px;margin-bottom: 10px;}
.flowchart-links-layer, .flowchart-operators-layer, .flowchart-temporary-link-layer {background:url(../../img/flowchart/tile.png) repeat;background-size: 30px 30px;border: 1px solid #f1f1f1;}
/* 차트 아이템 메뉴 */
.draggable_operator {display: inline-block;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 14px;margin-right: 10px;}
.draggable_operator.node_comment_1.ui-draggable.ui-draggable-handle {padding: 10px 20px 12px 40px;background: #fff url('../../img/flowchart/log.svg') no-repeat 10px;border: 1px solid #e9e9ef;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);border-radius: 5px;cursor: pointer;}
.draggable_operator.node_comment_2.ui-draggable.ui-draggable-handle {padding: 10px 20px 12px 40px;background: #fff url('../../img/flowchart/database.svg') no-repeat 10px;border: 1px solid #e9e9ef;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);border-radius: 5px;cursor: pointer;}
.draggable_operator.node_comment_3.ui-draggable.ui-draggable-handle {padding: 10px 20px 12px 40px;background: #fff url('../../img/flowchart/action.svg') no-repeat 10px;border: 1px solid #e9e9ef;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);border-radius: 5px;cursor: pointer;}
.draggable_operator.node_comment_4.ui-draggable.ui-draggable-handle {padding: 10px 20px 12px 40px;background: #fff url('../../img/flowchart/eye.svg') no-repeat 10px;border: 1px solid #e9e9ef;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);border-radius: 5px;cursor: pointer;}
.draggable_operator.node_comment_map.ui-draggable.ui-draggable-handle {padding: 10px 20px 12px 40px;background: #fff url('../../img/flowchart/eye.svg') no-repeat 10px;border: 1px solid #e9e9ef;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);border-radius: 5px;cursor: pointer;}
.draggable_operator.ui-draggable.ui-draggable-handle:hover {border: 1px dashed #000;}
/* 차트 아이템 */
/*.flowchart-operator {min-width: 250px;min-height: 100px;border: 0; max-width: 400px;}*/
.flowchart-operator.flowchart-default-operator.ui-draggable {background: rgba(255, 255, 255, 1);border-radius: 5px;box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08)}
.flowchart-operator.flowchart-default-operator.ui-draggable.selected {border: 3px solid #217CE8;border-radius: 5px;}
.flowchart-operator .flowchart-operator-title {font-weight: 700;color: #000;display: inline-block;font-size: 16px;padding: 20px 15px 20px 45px;border-radius: 5px 5px 0 0;background: #fff;border-bottom: 1px solid #e9e9ef;text-align: left;cursor: pointer;}
.flowchart-operator-title.node_comment_1 {background: url('../../img/flowchart/logblue.svg') no-repeat 10px;}
.flowchart-operator-title.node_comment_2 {color: #e0301e;background: url('../../img/flowchart/databasered.svg') no-repeat 10px;}
.flowchart-operator-title.node_comment_3 {color: #e0301e;background: url('../../img/flowchart/actionpurple.svg') no-repeat 10px;}
.flowchart-operator-title.node_comment_4 {background: url('../../img/flowchart/eyeblue.svg') no-repeat 10px;}
.flowchart-operator-inputs {width: 20px !important;}
.flowchart-operator-inputs .flowchart-operator-connector-label {display: none;}
.flowchart-operator-inputs .flowchart-operator-connector-arrow {top: -78px;left: 17px;border-color: #c1c8cd;opacity: 0.2;width: 10px;border-radius: 50%;vertical-align: top}
.flowchart-operator-inputs .flowchart-operator-connector-small-arrow {left: 17px;border-color: #217CE8;top: -78px;width: 10px;border-radius: 50%;}
.flowchart-operator-outputs {width: calc(100% - 20px) !important;text-align:left;margin-left: 0;padding-right: 15px;}
.flowchart-operator-outputs .flowchart-operator-connector-arrow {top: 31px;right: -5px;border-color: #c1c8cd;opacity: 0.2;width: 10px;border-radius: 50%;vertical-align: top}
.flowchart-operator-outputs .flowchart-operator-connector-small-arrow {right: -5px;border-color: #217CE8;top: 31px;width: 10px;border-radius: 50%;}
.selectedlabel {padding: 5px;background: #fff;margin-left: -5px;border-radius: 5px;border: 1px solid #E8E8EF;box-shadow: 0 2px 8px rgba(34, 34, 87, 0.05);}

/* 설비지도 아이템 */
.node_comment_map + .flowchart-operator-inputs-outputs {
    display: none;
}
.node-map-div {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    opacity: 0.5;
    position: absolute !important;
}
/* 위치 Point */
.draggable_operator.node_comment_point_up.ui-draggable.ui-draggable-handle, .draggable_operator.node_comment_point_down.ui-draggable.ui-draggable-handle {
    padding: 0px;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
}
.flowchart-operator-title.node_comment_point_up.ui-draggable-handle, .flowchart-operator-title.node_comment_point_down.ui-draggable-handle {
    padding: 0px !important;
}
.node-point-div {
    box-shadow: 0 !important;
    padding: 0px !important;
    border: 3px solid red !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    padding: 7px 7px 7px 7px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
    background-color: rgba( 255, 255, 0, 0) !important;
    box-shadow: 0px 0px 2px 2px #fff !important;
}
.node-point-div.selected {
    border: 3px solid blue !important;
}
.node-point-div-title {
    width:30px !important;
    height:30px !important;
    border-width: 0px !important;
    border-radius: 50% !important;
    background: rgba(255, 255, 255, 0) !important;
    margin-top:-10px;
    margin-left:-10px;
}
.node-point-div .flowchart-operator-inputs-outputs {
    width:0px !important;
    height:0px !important;
    margin-top: -20px !important;
    margin-bottom: 0px !important;
}
.node-point-div .flowchart-operator-inputs-outputs .flowchart-operator-inputs {
    width:0px !important;
    height:0px !important;
}
.node-point-div .flowchart-operator-inputs-outputs .flowchart-operator-outputs {
    width:0px !important;
    height:0px !important;
}
.node_comment_point_down + .flowchart-operator-inputs-outputs .flowchart-operator-connector-arrow, .node_comment_point_down + .flowchart-operator-inputs-outputs .flowchart-operator-connector-small-arrow {
    left: 0px !important;
    top: -18px !important;
}
.node_comment_point_up + .flowchart-operator-inputs-outputs .flowchart-operator-connector-arrow, .node_comment_point_up + .flowchart-operator-inputs-outputs .flowchart-operator-connector-small-arrow {
    left: 0px !important;
    top: 3px !important;
}
.ui-resizable-helper { border: 2px dotted #00F; }


/* 노드 아이템 내용 */
.flowchart-operator-connector {padding-top:0; padding-bottom:0;min-height: 30px;}
.flowchart-operator-connector-label {font-size: 14px;color: #808292;margin-top: 6px;text-indent: 0;margin-bottom: 8px;text-align: center !important;padding-right: 0px;padding-top: 6px;}
.flowchart-operator-connector-arrow {top: 4px;}
.flowchart-operator-connector-small-arrow {top: 9px;}
/* 노드 아이템 내용 변경 */
.drag_ele_prop {position: absolute;top: 15px;right: 25px;margin: 15px 0;padding: 20px;width:250px;height: 120px;font-weight: bold;z-index: 6001;-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);background-color: #f2f3f7;border: 1px solid #cad5de;cursor: grab;}
.drag_ele_prop label {font-size: 14px;font-weight: bold;float:left;height: 30px;line-height: 1;}
.drag_ele_prop .drag_ele_txt{padding: 12px 12px;margin-top: 5px;width: 100%;height: 48px;font-size: 14px;resize: none;border: 1px solid #cad5de;border-radius: 0;color: #808292;clear: both;font-family: '맑은고딕','Malgun Gothic',sans-serif;}
.drag_ele_tag {position: absolute;top: 155px;right: 25px;margin: 15px 0;padding: 20px;width:250px;height: 120px;font-weight: bold;z-index: 6001;-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);background-color: #f2f3f7;border: 1px solid #cad5de;cursor: grab;}
.drag_ele_tag label {font-size: 14px;font-weight: bold;float:left;height: 30px;line-height: 1;}
.drag_ele_tag .drag_ele_txt{padding: 12px 12px;margin-top: 5px;width: 100%;height: 48px;font-size: 14px;resize: none;border: 1px solid #cad5de;border-radius: 0;color: #808292;clear: both;font-family: '맑은고딕','Malgun Gothic',sans-serif;}
.help {float: right;color: #3d70fe;font-size: 15px;margin-left:5px;cursor:pointer;}
.set_label_data {float: right;padding: 7px 16px 5px 16px;font-size: 13px;font-weight: 500;background: #3d70fe;border: 1px solid #3d70fe;color: #fff;line-height: 1;margin-top: -5px;}
.set_tag_data {float: right;padding: 7px 16px 5px 16px;font-size: 13px;font-weight: 500;background: #3d70fe;border: 1px solid #3d70fe;color: #fff;line-height: 1;margin-top: -5px;}
.ui-resizable-helper { border: 2px dotted #00F; }
