<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App02.Index10Mapper">


    <select id="GetFplanList"  parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
           select
                Left(TB.indate,4) + '-' + substring(TB.indate, 5,2)+ '-' + substring(TB.indate, 7,2) as indate,
                Left(TB.prod_sdate,4) + '-' + substring(TB.prod_sdate, 5,2)+ '-' + substring(TB.prod_sdate, 7,2) as prod_sdate,
                Left(TB.prod_edate,4) + '-' + substring(TB.prod_edate, 5,2)+ '-' + substring(TB.prod_edate, 7,2) as prod_edate,
                Left(TB.qcdate,4) + '-' + substring(TB.qcdate, 5,2)+ '-' + substring(TB.qcdate, 7,2) as qcdate,
                TB.lotno, TB.cltcd,  TB.perid, (select com_rem1 from TB_CA510  where com_cls = '002' and com_code=TB.perid) as pernm,
                TB.workdv, TB.ecltnm, TB.qcdate, TB.plan_no, TB.sachulflag, TB.sachultxt,
                TB.pcode, E.jpum, E.jgugek, TB.dem_flag, E.jchajong, E.jgugek2, E.jsayang, E.j_sr, E.jpumcode, E.jdanwy,
                TB.prod_qty, TB.cls_flag, TB.istore, TB.ostore, TB.rwflag, TB.remark, isnull(TB.inmonth,'') as inmonth, isnull(TB.inweeks,'') as inweeks,
                Left(TB.orddate,4) + '-' + substring(TB.orddate, 5,2)+ '-' + substring(TB.orddate, 7,2) as orddate,
                TB.wrmc, F.wrmcnm as wrmcnm
             from TB_FPLAN TB
                INNER JOIN JCODE E WITH(NOLOCK) ON (TB.PCODE = E.jkey)
                LEFT join TB_FPLAN_WRMC F WITH (NOLOCK) ON TB.wrmc = F.wrmc and F.wflag = '00010'
              WHERE isnull(TB.wrmc,'') Like concat('%',#{wrmc},'%')
              and isnull(TB.inmonth,'') Like concat('%',#{inmonth},'%')
              and isnull(TB.inweeks,'') Like concat('%',#{inweeks},'%')
            ORDER BY TB.wrmc, TB.prod_sdate desc, TB.plan_no
        ]]>
    </select>

    <select id="GetFplanCheck" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[
        select   plan_no
        from TB_FPLAN WITH (NOLOCK)
        WHERE isnull(plan_no,'')   = #{plan_no}
        ORDER BY plan_no
        ]]>
    </select>


    <!--        <![CDATA[  select  max(lotno) as lotnomax  from TB_FPLAN_W010 where Left(lotno,8) = #{lotno}      ]]>-->
    <select id="SelectMaxLotno" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  top 1 lotno as lotnomax    from TB_FPLAN_W010 where plan_no = #{plan_no} and SUBSTRING(lotno, 9,1) = #{rwflag}  order by lotno desc    ]]>
    </select>



    <insert id="InsertFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" >
        insert into TB_FPLAN ( custcd, spjangcd, plan_no, indate, prod_sdate, prod_edate, lotno, cltcd,  perid, ecltnm , line, wono ,
        workdv, pcode, dem_flag, prod_qty, cls_flag, istore, ostore, rwflag, remark ,
        wram , woam, qcqty, end_qty, ordtype, decision, decision1, decision2, decision3 , decision4 , work_flag, qc_flag, close_flag, end_flag, tordqty, selck, batchdv, ocls_flag, autodv ,wodv , opcod
        , prod_dqty , ord_edate, wflag, orddate, qcdate , inmonth, inweeks, wrmc, sachulflag, sachultxt ) values
        ('KDMES' ,'ZZ', #{plan_no} , #{indate}, #{prod_sdate}, #{prod_edate}, #{lotno}, #{cltcd}, #{perid}, #{ecltnm}, '00', #{wono},
        #{workdv}, #{pcode}, #{dem_flag}, #{prod_qty}, '1', #{istore}, #{ostore}, #{rwflag}, #{remark} ,
        '0', '0' , '0' , '0' , '1', '0' , '0', '0' , '0', '0', '0' , '0' , '0' , '0' , '0' , '0', '0' , '0' , '1' , '0' , #{pcode} ,
        '0' ,'' , '00010', #{orddate} , #{qcdate} , #{inmonth} , #{inweeks}, #{wrmc}, #{sachulflag}, #{sachultxt})
    </insert>

    <insert id="InsertFplanCopy" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" >
        insert into TB_FPLAN ( custcd, spjangcd, plan_no, indate, prod_sdate, prod_edate, lotno, cltcd,  perid, ecltnm , line, wono ,
                workdv, pcode, dem_flag, prod_qty, cls_flag, istore, ostore, rwflag, remark ,
                wram , woam, qcqty, end_qty, ordtype, decision, decision1, decision2, decision3 , decision4 , work_flag, qc_flag, close_flag, end_flag, tordqty, selck, batchdv, ocls_flag, autodv ,wodv , opcod,
                prod_dqty , ord_edate, wflag, orddate, qcdate , inmonth, inweeks , wrmc )
        SELECT custcd, spjangcd, #{plan_new}, #{indate}, prod_sdate, prod_edate, '', cltcd,  perid, ecltnm , '00', #{wono},
               workdv, pcode, dem_flag, prod_qty, '1', istore, ostore, rwflag, remark ,
               '0', '0' , '0' , '0' , '1', '0' , '0', '0' , '0', '0', '0' , '0' , '0' , '0' , '0' , '0', '0' , '0' , '1' , '0' , opcod ,
               '0' ,'' , '00010', orddate , qcdate , #{inmonthcp} , #{inweekscp}, wrmc
        FROM TB_FPLAN WITH (NOLOCK)
        WHERE plan_no = #{plan_no}
    </insert>

    <update id="UpdateFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        UPDATE TB_FPLAN SET
        spjangcd='ZZ',
        indate=#{indate}
        <if test="prod_sdate != null ">,</if>
        <if test="prod_sdate != null">prod_sdate=#{prod_sdate}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="prod_edate != null ">,</if>
        <if test="prod_edate != null">prod_edate=#{prod_edate}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="orddate != null ">,</if>
        <if test="orddate != null">orddate=#{orddate}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="ecltnm != null ">,</if>
        <if test="ecltnm != null">ecltnm=#{ecltnm}</if>
        <if test="dem_flag != null ">,</if>
        <if test="dem_flag != null">dem_flag=#{dem_flag}</if>
        <if test="prod_qty != null ">,</if>
        <if test="prod_qty != null">prod_qty=#{prod_qty}</if>
        <if test="cls_flag != null ">,</if>
        <if test="cls_flag != null">cls_flag=#{cls_flag}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="rwflag != null ">,</if>
        <if test="rwflag != null">rwflag=#{rwflag}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="workdv != null ">,</if>
        <if test="workdv != null">workdv=#{workdv}</if>
        <if test="qcdate != null ">,</if>
        <if test="qcdate != null">qcdate=#{qcdate}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="inmonth != null ">,</if>
        <if test="inmonth != null">inmonth=#{inmonth}</if>
        <if test="inweeks != null ">,</if>
        <if test="inweeks != null">inweeks=#{inweeks}</if>
        <if test="wrmc != null ">,</if>
        <if test="wrmc != null">wrmc=#{wrmc}</if>
        <if test="sachulflag != null ">,</if>
        <if test="sachulflag != null">sachulflag=#{sachulflag}</if>
        <if test="sachultxt != null ">,</if>
        <if test="sachultxt != null">sachultxt=#{sachultxt}</if>
        where plan_no=#{plan_no}
    </update>

    <update id="DeleteFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        DELETE  TB_FPLAN where plan_no  = #{plan_no}
    </update>

    <insert id="InsertCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        insert into TB_CA611 (custcd, spjangcd, cltcd,   ibgdate, ibgnum,
         perid, store,  remark  ) values
        ('KDMES', 'ZZ', #{cltcd},  #{ibgdate},    #{ibgnum},
         #{perid},     #{store},   #{remark}  )
    </insert>


    <insert id="InsertCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_CA613 (custcd, spjangcd, cltcd, acorp, ibgdate, ibgnum, ibgseq,
        pcode, pname, psize,    punit,  qty, cqty, uamt, samt, tamt,
        mamt, indate, inperid,  pernm, perid, remark, lotno, istore, ostore, wonflag ) values
        ('KDMES', 'ZZ', #{cltcd},   #{acorp},  #{ibgdate},  #{ibgnum}, #{ibgseq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty}, #{cqty},   #{uamt},  #{samt},  #{tamt},
        #{mamt},  #{indate}, #{inperid} ,    #{pernm} , #{perid}, #{remark}, #{lotno}, #{istore}, #{ostore}, #{wonflag}  )
    </insert>


    <insert id="InsertCa636" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_CA636 (custcd, spjangcd,   ibgdate, ibgnum, ibgseq,
        pcode, pname, psize,    punit,  qty, cqty, uamt, samt, tamt,
        mamt, indate, inperid,  pernm, perid, remark,   wonflag ) values
        ('KDMES', 'ZZ',    #{ibgdate},  #{ibgnum}, #{ibgseq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty}, #{cqty},   0,  0,  0,
        0,  #{indate}, #{inperid} ,    #{pernm} , #{perid}, #{remark},  #{wonflag}  )
    </insert>


    <insert id="InsertDA036Sch" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        insert into TB_DA036 (custcd, spjangcd, cltcd,   deldate, delnum, acorp, demflag,
        perid, ostore,  remark, balno , lotno , inmonth, inweeks) values
        ('KDMES', 'ZZ', #{cltcd},  #{deldate},    #{delnum}, #{acorp},#{demflag},
        #{perid},     #{ostore},   #{remark},   #{balno},   #{lotno},   #{inmonth},   #{inweeks}  )
    </insert>

    <insert id="InsertDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_DA037 (custcd, spjangcd,  deldate, delnum, delseq,
        pcode, pname, psize,    qty  ) values
        ('KDMES', 'ZZ',  #{deldate},  #{delnum}, #{delseq},
        #{pcode}, #{pname}, #{psize},  #{qty}   )
    </insert>


    <insert id="InsertCA608" parameterType="com.dae.kdmes.DTO.App01.IndexCa608Dto" >
        insert into TB_CA608 (custcd, spjangcd, cltcd,   baldate, balnum, acorp,
        moncls, ischdate,  ischnm, balno  ) values
        ('KDMES', 'ZZ', #{cltcd},  #{baldate},    #{balnum}, #{acorp},
        #{moncls},     #{ischdate},   #{ischnm},   #{balno}  )
    </insert>


    <insert id="InsertCA609" parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto" >
        insert into TB_CA609 (custcd, spjangcd,  baldate, balnum, balseq, cltcd, acorp, balno,
        pcode, pname, psize,    qty, uamt, samt, ischdate, ischnm, balflag, moncls, jpumcode, condi01, condi02, gumsunm, insunm ) values
        ('KDMES', 'ZZ',  #{baldate},  #{balnum}, #{balseq}, #{cltcd}, #{acorp}, #{balno},
        #{pcode}, #{pname}, #{psize},  #{qty},  #{uamt}, #{samt},  #{ischdate},  #{ischnm},  #{balflag}, #{moncls} , #{jpumcode}, #{condi01} , #{condi02} , #{gumsunm} , #{insunm}   )
    </insert>

    <delete id="DeleteCA608" parameterType="com.dae.kdmes.DTO.App01.IndexCa608Dto" >
        delete from TB_CA608
        where baldate = #{baldate} and balnum = #{balnum}
    </delete>

    <delete id="DeleteCA609" parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto" >
        delete from TB_CA609
        where idxkey = #{idxkey}
    </delete>


    <update  id="InsertChulha" parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto"  >
        EXEC SP_INSERTCHULHA #{idxkeyArr}, #{chulqtyArr}
    </update >


    <select id="GetJcodeCheck" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="String">
        <![CDATA[
        select   jkey
        from JCODE WITH (NOLOCK)
        WHERE isnull(jpumcode,'')   = #{jpumcode}
        ORDER BY jpum
        ]]>
    </select>


    <select id="GetCltcdCheck" parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="String">
        <![CDATA[
        select  acorp1 + CAST(acorp2 as varchar) as acode
        from cif WITH (NOLOCK)
        WHERE isnull(acorp,'')   = #{acorp}
        ORDER BY acorp
        ]]>
    </select>


    <delete id="DeleteCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_CA611
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <delete id="DeleteCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        delete from TB_CA613
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>


    <delete id="DeleteCa636" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        delete from TB_CA636
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <delete id="DeleteDA036Sch" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_DA036
        where deldate = #{deldate} and delnum = #{delnum}
    </delete>

    <delete id="DeleteDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_DA037
        where deldate = #{deldate} and delnum = #{delnum}
    </delete>

    <update id="UpdateCa609Chul" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto">
        UPDATE TB_CA609 SET
        balflag = '0'
        where deldate = #{deldate} and delnum = #{delnum}
    </update>

    <update id="UpdateCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_CA613 SET
        spjangcd='ZZ'
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="cqty != null ">,</if>
        <if test="cqty != null">cqty=#{cqty}</if>
        <if test="uamt != null ">,</if>
        <if test="uamt != null">uamt=#{uamt}</if>
        <if test="samt != null ">,</if>
        <if test="samt != null">samt=#{samt}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="wonflag != null ">,</if>
        <if test="wonflag != null">wonflag=#{wonflag}</if>
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and ibgseq = #{ibgseq}
    </update>


    <update id="UpdateCa636" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_CA636 SET
        spjangcd='ZZ'
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="cqty != null ">,</if>
        <if test="cqty != null">cqty=#{cqty}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="wonflag != null ">,</if>
        <if test="wonflag != null">wonflag=#{wonflag}</if>
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and ibgseq = #{ibgseq}
    </update>


    <update id="UpdateDa036" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto">
        UPDATE TB_DA036 SET
        spjangcd='ZZ'
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="balno != null ">,</if>
        <if test="balno != null">balno=#{balno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="demflag != null ">,</if>
        <if test="demflag != null">demflag=#{demflag}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="inmonth != null ">,</if>
        <if test="inmonth != null">inmonth=#{inmonth}</if>
        <if test="inweeks != null ">,</if>
        <if test="inweeks != null">inweeks=#{inweeks}</if>
        <if test="schdate != null ">,</if>
        <if test="schdate != null">schdate=#{schdate}</if>
        where deldate = #{deldate} and delnum = #{delnum}
    </update>

    <update id="UpdateDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_DA037 SET
        spjangcd='ZZ'
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        where deldate = #{deldate} and delnum = #{delnum} and delseq = #{delseq}
    </update>

    <select id="SelectMaxIbgnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(ibgnum)  from TB_CA613 where ibgdate = #{ibgdate}      ]]>
    </select>

    <select id="SelectMaxMovnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(ibgnum)  from TB_CA636 where ibgdate = #{ibgdate}      ]]>
    </select>

    <select id="SelectMaxDelnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(delnum)  from TB_DA036 where deldate = #{deldate}      ]]>
    </select>

    <select id="SelectMaxBalnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(balnum)  from TB_CA609 where baldate = #{baldate}      ]]>
    </select>

    <select id="SelectCheckBalnum" parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto" resultType="Integer">
        <![CDATA[  select  idxkey  from TB_CA609 where baldate = #{baldate} and balno = #{balno} and psize = #{psize} and pname = #{pname}     ]]>
    </select>

    <select id="SelectCa613List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select B.cltcd as cltcd,
                      Left(B.ibgdate,4) + '-' + substring(B.ibgdate, 5,2)+ '-' + substring(B.ibgdate, 7,2) as ibgdate,
                      B.ibgnum, B.ibgseq, B.lotno, B.istore, B.ostore,
                      B.pcode, B.pname, B.psize,    B.punit,  B.qty, B.cqty, B.uamt, B.samt, B.tamt,
                      isnull(B.remark,'') as remark, B.balno, B.wonflag,
                      B.mamt, B.acorp, B.pernm , B.perid, B.wonflag
                  from  TB_CA613 B WITH (NOLOCK)
                  where  B.pname Like concat('%',#{pname},'%')
                    AND B.ibgdate between #{frdate} and #{todate}
                  ORDER BY  B.ibgdate desc, B.ibgnum, B.ibgseq
        ]]>
    </select>


    <select id="SelectCa636List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select  Left(B.ibgdate,4) + '-' + substring(B.ibgdate, 5,2)+ '-' + substring(B.ibgdate, 7,2) as ibgdate,
                      B.ibgnum, B.ibgseq, B.istore, B.ostore,
                      B.pcode, B.pname, B.psize,    B.punit,  B.qty, B.cqty, B.uamt, B.samt, B.tamt,
                      isnull(B.remark,'') as remark,
                      B.mamt,  B.pernm , B.perid, B.wonflag
                  from  TB_CA636 B WITH (NOLOCK)
                  where  B.pname Like concat('%',#{pname},'%')
                    AND B.ibgdate between #{frdate} and #{todate}
                  ORDER BY  B.ibgdate desc, B.ibgnum, B.ibgseq
        ]]>
    </select>


    <select id="SelectCa636StockList"  parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">

            <![CDATA[
                  WITH Base AS (
                      SELECT
                          B.pcode,
                          B.pname,
                          B.psize,
                          B.punit,
                          B.wonflag,                  -- 0: 입고, 1: 출고
                          ISNULL(B.qty,  0) AS in_qty_raw,
                          ISNULL(B.cqty, 0) AS out_qty_raw,
                          B.ibgdate
                      FROM TB_CA636 B WITH (NOLOCK)
                      where B.pname Like concat('%',#{pname},'%')
                    ),
                  PrevStock AS (  -- 시작일 이전 누적(전재고)
                      SELECT
                          pcode,
                          SUM(CASE WHEN wonflag = 0 THEN in_qty_raw  ELSE 0 END)
                        - SUM(CASE WHEN wonflag = 1 THEN out_qty_raw ELSE 0 END) AS prev_qty
                      FROM Base
                      WHERE ibgdate < #{frdate}
                      GROUP BY pcode
                  ),
                  PeriodAgg AS (  -- 기간 내 입출고
                      SELECT
                          pcode,
                          SUM(CASE WHEN wonflag = 0 THEN in_qty_raw  ELSE 0 END) AS in_qty,
                          SUM(CASE WHEN wonflag = 1 THEN out_qty_raw ELSE 0 END) AS out_qty
                      FROM Base
                      WHERE ibgdate BETWEEN #{frdate} AND #{todate}
                      GROUP BY pcode
                  ),
                  Prod AS (       -- 품목 표시용 메타
                      SELECT
                          pcode,
                          MAX(pname) AS pname,
                          MAX(psize) AS psize,
                          MAX(punit) AS punit
                      FROM Base
                      GROUP BY pcode
                  )
                      SELECT
                          P.pname                        AS pname,     -- 품목명
                          P.psize                        AS psize,     -- 규격
                          P.punit                        AS punit,     -- 단위
                          ISNULL(PS.prev_qty, 0)         AS prev_qty,  -- 전재고
                          ISNULL(PA.in_qty,  0)          AS in_qty,    -- 입고수량
                          ISNULL(PA.out_qty, 0)          AS out_qty,   -- 출고수량
                          ISNULL(PS.prev_qty, 0)
                            + ISNULL(PA.in_qty, 0)
                            - ISNULL(PA.out_qty, 0)      AS cur_qty    -- 현재고
                      FROM Prod P
                      LEFT JOIN PrevStock PS ON PS.pcode = P.pcode
                      LEFT JOIN PeriodAgg  PA ON PA.pcode = P.pcode
                      ORDER BY P.pcode
                ]]>

    </select>


    <select id="SelectDa036List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa611Dto">

        <![CDATA[ select A.cltcd , A.inmonth, A.inweeks,
                      Left(A.deldate,4) + '-' + substring(A.deldate, 5,2)+ '-' + substring(A.deldate, 7,2) as deldate,
                      Left(A.schdate,4) + '-' + substring(A.schdate, 5,2)+ '-' + substring(A.schdate, 7,2) as schdate,
                      A.delnum,  A.lotno, A.istore, A.ostore,
                      isnull(A.remark,'') as remark,A.balno,
                      A.acorp, A.pernm , A.perid, A.demflag
                  from  TB_DA036 A WITH (NOLOCK)
                  where  isnull(A.balno,'') Like #{balno} + '%'
                    AND  isnull(A.inmonth,'')  Like #{inmonth} + '%'
                    AND  isnull(A.inweeks,'')  Like #{inweeks} + '%'
                  ORDER BY  A.deldate desc, A.delnum
        ]]>
    </select>


    <select id="SelectDa037PcodeList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select A.pcode
                  from  TB_DA037 A WITH (NOLOCK)
                  where  isnull(A.deldate,'') = #{deldate}
                    AND  isnull(A.delnum,'')  = #{delnum}
                  ORDER BY  A.pcode
        ]]>
    </select>

    <resultMap id="CA613ResultMap" type="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <id property="ibgdate" column="ibgdate" />
        <id property="ibgnum" column="ibgnum" />
        <result  property="ibgseq" column="ibgseq" />
        <result property="lotno" column="lotno" />
        <result property="istore" column="istore" />
        <result property="ostore" column="ostore" />
        <result property="pcode" column="pcode" />
        <result property="pname" column="pname" />
        <result property="psize" column="psize" />
        <result property="punit" column="punit" />
        <result property="qty" column="qty" />
        <result property="cqty" column="cqty" />
        <result property="prev_qty" column="prev_qty" />
        <result property="in_qty" column="in_qty" />
        <result property="out_qty" column="out_qty" />
        <result property="cur_qty" column="cur_qty" />
        <result property="uamt" column="uamt" />
        <result property="samt" column="samt" />
        <result property="tamt" column="tamt" />
        <result property="mamt" column="mamt" />
        <result property="remark" column="remark" />
        <result property="acorp" column="acorp" />
        <result property="pernm" column="pernm" />
        <result property="perid" column="perid" />
        <result property="wonflag" column="wonflag" />
        <collection property="oworks" ofType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" javaType="ArrayList">
            <result property="psize" column="wotdt" />
            <result property="cqty" column="wotqt" />
        </collection>
    </resultMap>

    <select id="SelectCa613ListMapChul" resultMap="CA613ResultMap">
        <![CDATA[
            SELECT  A.cltcd as cltcd,
                  Left(A.ibgdate,4) + '-' + substring(A.ibgdate, 5,2)+ '-' + substring(A.ibgdate, 7,2) as ibgdate,
                  A.ibgnum, A.ibgseq, A.lotno, A.istore, A.ostore,
                  A.pcode, A.pname, A.psize,    A.punit,  A.qty, A.cqty, A.uamt, A.samt, A.tamt,
                  isnull(A.remark,'') as remark,
                  A.mamt, A.acorp, A.pernm , A.perid,
                  Left(B.wotdt,4) + '-' + substring(B.wotdt, 5,2)+ '-' + substring(B.wotdt, 7,2) as wotdt,
                  B.wotqt
            FROM TB_CA613 A WITH (NOLOCK)
			LEFT join TB_CA613_OWORK B WITH (NOLOCK) ON A.ibgdate = B.ibgdate and A.ibgnum=B.ibgnum
            where  A.pname Like concat('%',#{pname},'%')
            AND    A.ibgdate between #{frdate} and #{todate}
            order by A.ibgdate, A.ibgnum;
        ]]>
    </select>


    <select id="SelectCa636ListMapChul" resultMap="CA613ResultMap">
        <!-- 일자별 전재고/입고/출고/현재고 타임라인 -->

            <![CDATA[
                  WITH Base AS (
                      SELECT
                          B.pcode,
                          B.pname,
                          B.psize,
                          B.punit,
                          B.wonflag,                 -- 0: 입고, 1: 출고
                          ISNULL(B.qty,  0) AS in_qty_raw,
                          ISNULL(B.cqty, 0) AS out_qty_raw,
                          B.ibgdate                 -- YYYYMMDD (char)
                      FROM TB_CA636 B WITH (NOLOCK)
                      where B.pcode = #{pcode}

                    ),
                  -- 품목 메타(PCODE/PNAME/PSIZE/PUNIT)
                  Prod AS (
                      SELECT pcode, MAX(pname) AS pname, MAX(psize) AS psize, MAX(punit) AS punit
                      FROM Base
                      GROUP BY pcode
                  ),
                  -- 시작일 이전 누적 = 전재고
                  Prev AS (
                      SELECT
                          pcode,
                          ISNULL(
                              SUM(CASE WHEN wonflag = 0 THEN in_qty_raw  ELSE 0 END)
                            - SUM(CASE WHEN wonflag = 1 THEN out_qty_raw ELSE 0 END), 0
                          ) AS prev_qty
                      FROM Base
                      WHERE ibgdate < #{frdate}
                      GROUP BY pcode
                  ),
                  -- 기간 내 일자별 입/출고 합
                  Daily AS (
                      SELECT
                          pcode,
                          ibgdate,
                          SUM(CASE WHEN wonflag = 0 THEN in_qty_raw  ELSE 0 END) AS in_qty,
                          SUM(CASE WHEN wonflag = 1 THEN out_qty_raw ELSE 0 END) AS out_qty
                      FROM Base
                      WHERE ibgdate BETWEEN #{frdate} AND #{todate}
                      GROUP BY pcode,  ibgdate
                  ),
                  -- 누적 델타(입고-출고) 및 행번호
                    Run AS (
                        SELECT
                            D.pcode,
                            D.ibgdate,
                            D.in_qty,
                            D.out_qty,
                            SUM(D.in_qty - D.out_qty) OVER(
                                PARTITION BY D.pcode
                                ORDER BY D.ibgdate
                                ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
                            ) AS run_delta,
                            ROW_NUMBER() OVER(PARTITION BY D.pcode ORDER BY D.ibgdate) AS rn
                        FROM Daily D
                    )
                  SELECT
                      P.pcode,
                      P.pname,
                      P.psize,
                      P.punit,
                      LEFT(R.ibgdate,4) + '-' + SUBSTRING(R.ibgdate,5,2) + '-' + SUBSTRING(R.ibgdate,7,2) AS ibgdate,
                      CASE WHEN R.rn = 1 THEN ISNULL(Pr.prev_qty, 0) ELSE NULL END AS prev_qty,  -- 전재고(첫 행만)
                      R.in_qty  AS in_qty,                                                       -- 당일 입고
                      R.out_qty AS out_qty,                                                      -- 당일 출고
                      ISNULL(Pr.prev_qty, 0) + R.run_delta AS cur_qty
                  FROM Run R
                  JOIN Prod P      ON P.pcode = R.pcode
                  LEFT JOIN Prev Pr ON Pr.pcode = R.pcode
                  ORDER BY R.ibgdate
            ]]>

    </select>
<!--    <![CDATA[-->
<!--            SELECT   Left(A.ibgdate,4) + '-' + substring(A.ibgdate, 5,2)+ '-' + substring(A.ibgdate, 7,2) as ibgdate,-->
<!--                  A.ibgnum, A.ibgseq,  A.istore, A.ostore, A.wonflag,-->
<!--                  A.pcode, A.pname, A.psize,    A.punit,  A.qty, A.cqty, A.uamt, A.samt, A.tamt,-->
<!--                  isnull(A.remark,'') as remark,-->
<!--                  A.mamt,   A.pernm , A.perid-->
<!--            FROM TB_CA636 A WITH (NOLOCK)-->
<!--            where  A.pname Like concat('%',#{pname},'%')-->
<!--            AND    A.ibgdate between #{frdate} and #{todate}-->
<!--            order by A.ibgdate, A.ibgnum;-->
<!--        ]]>-->
    <select id="SelectDa037List" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[
        SELECT B.balno, A.pcode, A.pname, B.inmonth, B.inweeks, A.qty, A.delnum, A.delseq, B.acorp,B.demflag,
                Left(B.deldate,4) + '-' + substring(B.deldate, 5,2)+ '-' + substring(B.deldate, 7,2) as deldate,
                Left(B.schdate,4) + '-' + substring(B.schdate, 5,2)+ '-' + substring(B.schdate, 7,2) as schdate,
                case when C.jboxsu1 > 0 then  CAST(Round(A.qty / isnull(C.jboxsu1,0) ,0) AS int) else 0 end   as boxnum
        FROM TB_DA037 A WITH (NOLOCK), TB_DA036 B WITH (NOLOCK), jcode C WITH (NOLOCK)
        WHERE A.deldate = B.deldate and A.delnum = B.delnum
        AND A.pcode = C.jkey
        AND A.pcode Like concat('%',#{pcode},'%')
        and B.inmonth Like concat('%',#{inmonth},'%')
        and B.inweeks Like concat('%',#{inweeks},'%')
        and B.balno Like concat('%',#{balno},'%')
        and B.cltcd Like concat('%',#{cltcd},'%')
        and isnull(B.demflag, '0') Like  concat('%',#{demflag},'%')
        ORDER BY B.inmonth, B.inweeks, B.balno
        ]]>
    </select>


    <select id="SelectDa037ListBarcd" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[
        SELECT B.balno, A.pcode, A.pname, B.inmonth, B.inweeks, A.qty, A.delnum, A.delseq, B.acorp,B.demflag, B.lotno,
                Left(B.deldate,4) + '-' + substring(B.deldate, 5,2)+ '-' + substring(B.deldate, 7,2) as deldate,
                Left(B.schdate,4) + '-' + substring(B.schdate, 5,2)+ '-' + substring(B.schdate, 7,2) as schdate,
                case when C.jboxsu1 > 0 then  CAST(Round(A.qty / isnull(C.jboxsu1,0) ,0) AS int) else 0 end   as boxnum
        FROM TB_DA037 A WITH (NOLOCK), TB_DA036 B WITH (NOLOCK), jcode C WITH (NOLOCK)
        WHERE A.deldate = B.deldate and A.delnum = B.delnum
        AND A.pcode = C.jkey
        AND A.deldate between #{frdate} and #{todate}
        and B.lotno Like concat('%',#{lotno},'%')
        and isnull(B.demflag, '0') Like  concat('%',#{demflag},'%')
        ORDER BY B.inmonth, B.inweeks, B.balno
        ]]>
    </select>


    <select id="SelectDa037ListJiyuk" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[
        SELECT B.balno, A.pcode, A.pname, B.inmonth, B.inweeks, A.qty, A.delnum, A.delseq, B.acorp,B.demflag, B.lotno, B.remark,
                Left(B.deldate,4) + '-' + substring(B.deldate, 5,2)+ '-' + substring(B.deldate, 7,2) as deldate,
                Left(B.schdate,4) + '-' + substring(B.schdate, 5,2)+ '-' + substring(B.schdate, 7,2) as schdate,
                case when C.jboxsu1 > 0 then  CAST(Round(A.qty / isnull(C.jboxsu1,0) ,0) AS int) else 0 end   as boxnum
        FROM TB_DA037 A WITH (NOLOCK), TB_DA036 B WITH (NOLOCK), jcode C WITH (NOLOCK)
        WHERE A.deldate = B.deldate and A.delnum = B.delnum
        AND A.pcode = C.jkey
        AND A.deldate between #{frdate} and #{todate}
        and isnull(B.remark,'') Like concat('%',#{remark},'%')
        and isnull(B.demflag, '0') Like  concat('%',#{demflag},'%')
        ORDER BY B.inmonth, B.inweeks, B.balno
        ]]>
    </select>


    <select id="SelectCa613ChulList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto">

        <![CDATA[ select custcd, spjangcd, ibgdate, ibgnum, lotno, seq, pcode, istore, Left(wotdt,4) + '-' + substring(wotdt, 5,2)+ '-' + substring(wotdt, 7,2) as wotdt, winqt, wotqt,
                        indate, inperid, pcode, pname, psize
                  from  TB_CA613_OWORK   WITH (NOLOCK)
                  where  ibgdate = #{ibgdate}
                    AND  ibgnum =  #{ibgnum}
                    AND  lotno =  #{lotno}
                  ORDER BY  ibgdate , ibgnum, seq
        ]]>
    </select>

    <select id="SelectDa037ChulList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select custcd, spjangcd, deldate, delnum, delseq, pcode, pname, psize, qty
                  from  TB_Da037   WITH (NOLOCK)
                  where  deldate = #{deldate}
                    AND  delnum =  #{delnum}
                  ORDER BY  deldate , delnum, delseq
        ]]>
    </select>

    <select id="SelectCa613ChulListSum"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto">

        <![CDATA[ select sum(wotqt) as wotqt
                  from  TB_CA613_OWORK   WITH (NOLOCK)
                  where  ibgdate = #{ibgdate}
                    AND  ibgnum =  #{ibgnum}
                    AND  lotno =  #{lotno}
                  Group by ibgdate, ibgnum, lotno
        ]]>
    </select>

    <select id="SelectCa613JaegoList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[
                SELECT Z.pcode, Z.pname, Z.psize, Z.punit, Z.janqty, Z.wonflag
                FROM (
                        select sum(isnull(B.qty,0))  - sum(isnull(B.cqty,0)) as janqty,
                               B.pcode, B.pname, B.psize, B.punit , B.wonflag
                        from  TB_CA613 B WITH (NOLOCK)
                        Group BY  B.pcode, B.pname, B.psize, B.punit, B.wonflag
                ) Z where Z.janqty > 0
                AND  Z.pname Like concat('%',#{pname},'%')
                AND  Z.wonflag = #{wonflag}
                ORDER BY  Z.pname, Z.psize, Z.punit, Z.pcode
        ]]>
    </select>


    <select id="SelectCa609List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa609Dto">

        <![CDATA[ select A.idxkey , A.baldate, A.balnum, A.balseq,
                      A.cltcd,  A.acorp, A.balno, A.pcode,
                      A.pname, A.moncls , A.qty, A.uamt, A.uamt, A.samt, A.balflag, A.ischdate, A.ischnm,
                      A.condi01, A.condi02, A.gumsunm, A.insunm,
                    B.jboxsu1,
                    Round(A.qty / B.jboxsu1,0) as boxsu,
                    isnull(D.stock_qty, 0) as stockqty,
                    case when A.qty < Round( (B.jboxsu1 * Round(A.qty / B.jboxsu1,0)),0) then 0 else (A.qty % B.jboxsu1) end boxjan,
                    case when A.qty < Round( (B.jboxsu1 * Round(A.qty / B.jboxsu1,0)),0) then A.qty else   Round( (B.jboxsu1 * Round(A.qty / B.jboxsu1,0)),0) end   as ischqty,
                    (select plan_no from TB_FPLAN WITH (NOLOCK) where isnull(remark, '') = A.balno and prod_qty = A.qty) as planno
                  from  TB_CA609 A WITH (NOLOCK)
                  LEFT JOIN JCODE B ON A.pcode = B.jkey
                  LEFT JOIN TB_JSTOCK D ON D.jkey = B.jkey
                  where  isnull(A.balflag,'') Like #{balflag} + '%'
                    AND  isnull(A.cltcd,'')  Like #{cltcd} + '%'
                    AND  isnull(A.balno,'')  Like #{balno} + '%'
                    AND  A.baldate between #{frdate} and #{todate}
                  ORDER BY  A.baldate, A.balno
        ]]>



    </select>

    <select id="SelectCa609ListGroup"  parameterType="com.dae.kdmes.DTO.App01.IndexCa609Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa609Dto">

        <![CDATA[
                select   A.pcode,
                      A.pname, A.psize, sum(A.qty) as qty, sum( A.samt) as samt,
                    isnull(max(D.stock_qty), 0) as stockqty,
					max(B.jboxsu1) as jboxsu1,
                      FLOOR(sum(A.qty) / max(B.jboxsu1) ) as boxsu,
					  sum(A.qty) - (FLOOR(sum(A.qty) / max(B.jboxsu1)  ) * max(B.jboxsu1)) as boxjan
                  from  TB_CA609 A WITH (NOLOCK)
                  LEFT JOIN JCODE B ON A.pcode = B.jkey
                  LEFT JOIN TB_JSTOCK D ON D.jkey = B.jkey
                  where  A.pname Like (#{pcode} + '%')
                    AND  A.baldate between #{frdate} and #{todate}
					group by A.pcode, A.pname, A.PSIZE
                  ORDER BY  A.pcode, A.pname, A.PSIZE
        ]]>



    </select>

    <select id="CA613_OWORK_MAXWSEQ" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="String">
        SELECT MAX(seq) FROM  TB_CA613_OWORK
        WHERE custcd=#{custcd} and spjangcd = #{spjangcd}
        and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno}
    </select>

    <insert id="CA613_OWORK_Insert" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" keyProperty="plan_no">
        INSERT INTO TB_CA613_OWORK(custcd, spjangcd, ibgdate, ibgnum, lotno, seq, istore, wotdt, winqt, wotqt,
          indate, inperid , pcode, pname, psize)
        VALUES (#{custcd},#{spjangcd}, #{ibgdate}, #{ibgnum}, #{lotno}, #{seq},  #{istore}, #{wotdt}, #{winqt}, #{wotqt},
        #{indate}, #{inperid} , #{pcode} , #{pname} , #{psize})
    </insert>


    <update id="CA613_OWORK_Update" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto"  >
        UPDATE TB_CA613_OWORK SET
        SPJANGCD = 'ZZ'
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="wotdt != null ">,</if>
        <if test="wotdt != null">wotdt=#{wotdt}</if>
        <if test="winqt != null ">,</if>
        <if test="winqt != null">winqt=#{winqt}</if>
        <if test="wotqt != null ">,</if>
        <if test="wotqt != null">wotqt=#{wotqt}</if>
        <if test="indate != null ">,</if>
        <if test="indate != null">indate=#{indate}</if>
        <if test="inperid != null ">,</if>
        <if test="inperid != null">inperid=#{inperid}</if>
        where custcd=#{custcd} and spjangcd = #{spjangcd} and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno} and seq=#{seq}
    </update>


    <delete id="CA613_OWORK_Delete" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" >
        delete from TB_CA613_OWORK
        where custcd=#{custcd} and spjangcd = #{spjangcd} and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno} and seq=#{seq}
    </delete>

    <select id="GetJpumListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
               jbonsa_code, jsayong_gubn, jpum, jgugek, jsize,  convert ( MONEY , convert(int , jchgoga0) ) AS jchgoga0, jbigo,
               E.jcifcodename as jcifcodename
        from JCODE3 WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE3.jmodel_code = E.jcifcode)
        WHERE isnull(jpum,'') Like concat('%',#{jpum},'%')
          and isnull(delflag,'0')  = '0'
          and isnull(jpb_gubn,'') Like concat('%',#{jpb_gubn},'%')
          and isnull(jmodel_code,'') Like concat('%',#{jmodel_code},'%')
        ORDER BY jpum
        ]]>
    </select>

    <select id="GetCifListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select acorp1, acorp2, acorp3, acorp, asano1, asano2, asano3, asano1 + '-' + asano2 + '-' + asano3 as asanotxt,
               aname, aupte, ajong, apost1,  acorp1 + CAST(acorp2 as varchar) as acode,
               ajuso1, ajuso2, abigo, agita, ajumi1, ajumi2, ajumi1 + '-' + ajumi2 as ajumitxt,
               aascode1,aascode2,  atelno, atelno2,
               ahand , aemail, afax, isnull(ajuso1,'') + ' ' + isnull(ajuso2,'') as ajusotxt
        from cif WITH (NOLOCK)
        WHERE isnull(acorp,'') Like concat('%',#{acorp},'%') and LEN(isnull(acorp,'')) > 0
        and acorp1 <> '00'  and isnull(delflag,'0')  = '0'
        ORDER BY acorp
        ]]>
    </select>

    <select id="GetInsaList" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
            select insano, inname
            from insa WITH (NOLOCK)
            WHERE isnull(inname,'') Like concat('%',#{inname},'%') or isnull(insano,'') Like concat('%',#{inname},'%')
            ORDER BY inname
        ]]>
    </select>

    <select id="getCls_flagList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select com_code as cls_key, com_rem1 as cls_name from TB_CA510 where com_cls = '099' order by com_code
        ]]>
    </select>

    <select id="SelectCheckIndate" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select top 1 plan_no  from TB_FPLAN where indate = #{indate} order by indate, plan_no     ]]>
    </select>

    <select id="SelectMaxSeq" parameterType="String" resultType="String">
        <![CDATA[  select  substring(Max(plan_no), 9,4)    from TB_FPLAN where Left(plan_no,8) = #{indate}      ]]>
    </select>

    <select id="SelectMaxLot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  substring(max(lotno), 10,4)   from TB_FPLAN where Left(lotno,9) = #{indate} + #{rwflag}     ]]>
    </select>

    <select id="GetIstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as istore, com_rem1 as istorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>

    <select id="GetOstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as ostore, com_rem1 as ostorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>
</mapper>
