@charset "utf-8";
.fixtd {
  height:145px;
  overflow: auto;
}
.imgpaste{
  border: dotted 1px #999;
  padding: 5px;
  margin: 2px;
  box-sizing: contentbox;
  width: 90%;
}
.pastable-focus{
  border: dotted 2px red;
}
.imgpasteresult {
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  padding: 10px;
  text-align: center;
  margin: 10px;
  position: relative;
  width: 120px;
}

.closedm-thin:after {
  content: '×'; /* UTF-8 symbol */
}
[class*='closedm-'] {
  color: #fff;
  font: 12px/100% arial, sans-serif;
  font-weight: bold;
  position: absolute;
  border-radius: 10px;
  right: -5px;
  text-decoration: none;
  top: -5px;
  width:13px;
  height:13px;
  background-color: red;
}