@charset "UTF-8";

/*=================================================================================
 * LOGIN (로그인)
 =================================================================================*/
.page-login {background-color: #F3F8FF; height: 100vh;}
.dashboard-login-wrap {display: flex; flex-flow: column wrap; justify-content: center; align-items: center; height: 100%;}
.dashboard-login-wrap .copyright {position: absolute; left: 50%; bottom: 20px; transform: translate(-50%, 0%); color: #868FAE;}
.login-wrap {display: flex; box-shadow: 0px 0px 30px rgba(0,0,0,0.15); border-radius: 30px; overflow: auto;}
.login-wrap .left {background-color: #03428E; display: flex; justify-content: center; align-items: center;}
.login-wrap .left img {height: 100%; }
/*.login-wrap .right {background-color: #fff; padding: 90px;}*/
.login-wrap .right .login-logo {width: 100%; text-align: center; margin-bottom: 36px;}
.login-wrap .login-form {width: 340px;}
.login-wrap .login-form dl {margin-bottom: 24px;}
.login-wrap .login-form dl dt {font-size: 14px; font-weight: 500; color: #77849C; margin-bottom: 6px;}
.login-wrap .login-form dl dd input {width: 100%; height: 48px; background-color: #F4F7FA;}
.login-wrap .login-form .check-save {display: flex; align-items: center; margin-bottom: 24px;}
.login-wrap .login-form .check-save label {margin-left: 10px;}
.login-wrap .login-form .btn-login {display: flex; justify-content: center; align-items: center; width: 100%; height: 56px; background-color: #03428e; color: #fff; border-radius: 5px; margin-bottom: 24px; font-size: 18px; font-weight: 700;}
.login-wrap .login-form .btn-login-etc {display: flex; justify-content: space-between; align-items: center; gap: 10px;}
.login-wrap .login-form .btn-login-etc a {font-size: 14px;}
.hint, .hint-red {display: flex; align-items: center; margin-top: 6px; font-size: 13px;}
.hint img, .hint-red img {margin-right: 5px;}
.hint {color: #808080;}
.hint-red {color: #FF3055;}