/* 좌단 메뉴 영역 */
.menu_area {
  background-color: #2e323a !important;  /*#2e323a*/
}
.menu_wrap .tab_links li.on button {border-color: #fff;}
.menu_wrap .tab_links li.on button > span {background-color: #fff}
.menu_wrap .tab_links li.on h {color: #fff;}
.gnb  { padding-bottom:4em;}
.gnb > li > a:hover,
/*.gnb ul li a:hover {color: #fff; }*/
.gnb > li > a {
  color: #b5b9c0;
}
.gnb ul li a {
  color: #c6cad1;
}
.header .navbar {background-image: none;}
.gnb > li.has_sub.open > a,
.gnb .documents > li a.on {color: #fff; background: #44474e;}
.gnb > li.has_sub.open > a i.star_icon {background:#44474e url(/img/icon/star_white_icon.png)center center no-repeat;}
.gnb > li > a:hover i:after,
.gnb > li.has_sub.open > a i:after {background-color: #44474e;z-index: 0;border-radius: 50%;}
.gnb > li.has_sub > a:hover:before,
.gnb > li.has_sub > a:hover:after {background-color: #fff}
.gnb > li.has_sub.open > a:after,
.gnb > li.has_sub.open > a:before {background: #fff;}
/*li.has_sub2.open > a{color: yellow; font-weight: bold; border-radius: 4px; background: #44474e;padding: 0.1rem 2rem !important; }*/


.gnb > li a {padding: 0px 0px 0px 0px; }

.gnb ul li a { padding: 2px 2px 2px 30px; }
.gnb ul li a:hover { padding: 2px 2px 2px 30px; }

