/* 화면 영역 */

/* pop up */
.popup header{background: #f47f7f;}
.popup header h4 {color:#fff;}
.popup_close_box i {color:#fff;}
/* 조회테이블 */
.table_box.search {border-top: 1px solid #f47f7f;}
/* apexchart 다운로드 */
.apexcharts-menu {background: #f47f7f !important; color: #fff !important;}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {background: #f47f7f !important; color:#fff !important}
/* label 설명 Tooltip */
.lbldescexist::after {color:#f47f7f;}
.lbldesctooltip {	background-color: #f47f7f; color: #fff;}
.lbldesctooltip::after {border-color: transparent transparent #f47f7f transparent;}
/* 필수입력관련 */
th.req:before {content: '*'; color:#f47f7f;margin-right:5px;}
input.req, select.req {border:1px solid #f47f7f !important;}