/* 상단 영역 */
.header .open_menu .bar {background-color: #fff;}
.header .logo {border-bottom: 1px solid #7266ba;}
.header .logo h1 {color: #fff; background-color: #7266ba;}
.header .navbar {background-color: #7266ba;
  background-image: linear-gradient(to right, #7266ba 0%, #9289ca 100%);
  background-repeat: repeat-x;}
.notification_box i {color: #fff;}
.notification_box a {color: #fff}
.profile_info {color: #fff;}
.profile_box i {color: #fff;}
.profile_box .pop_head {background-color: #9289ca;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}
.theme_box i {color: #fff;}
.theme_box a {color: #fff}
.theme_box .pop_head {background-color: #9289ca;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}
.login_contain .left {background: #7266ba !important;}
.login_contain .sign_btn {background: #7266ba !important;}
.login_contain .sign_btn.cancel { border: 1px solid #7266ba !important;color: #fff !important;}
/* 상단 메뉴탭 */
.dropdown-menu.tabmenus {font-size:12px;background: #9289ca !important; color:#fff !important;}
.nth-tabs .right-nav-list .tabmenus a:hover {color: #9289ca;text-decoration: none;}
.tab-question:hover {
  color: #7266ba;
}