/* 화면 영역 */

/* pop up */
.popup header{background: #7266ba;}
.popup header h4 {color:#fff;}
.popup_close_box i {color:#fff;}
/* 조회테이블 */
.table_box.search {border-top: 1px solid #7266ba;}
/* apexchart 다운로드 */
.apexcharts-menu {background: #7266ba !important; color: #fff !important;}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {background: #7266ba !important; color:#fff !important}
/* label 설명 Tooltip */
.lbldescexist::after {color:#7266ba;}
.lbldesctooltip {	background-color: #7266ba; color: #fff;}
.lbldesctooltip::after {border-color: transparent transparent #7266ba transparent;}
/* 필수입력관련 */
th.req:before {content: '*'; color:#7266ba;margin-right:5px;}
input.req, select.req {border:1px solid #7266ba !important;}