/* 화면 영역 */

/* pop up */
.popup header{background: #37bc9b;}
.popup header h4 {color:#fff;}
.popup_close_box i {color:#fff;}
/* 조회테이블 */
.table_box.search {border-top: 1px solid #37bc9b;}
/* apexchart 다운로드 */
.apexcharts-menu {background: #37bc9b !important;color: #fff !important;}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {background: #37bc9b !important; color:#fff !important}
/* label 설명 Tooltip */
.lbldescexist::after {color:#37bc9b;}
.lbldesctooltip {	background-color: #37bc9b; color: #fff;}
.lbldesctooltip::after {border-color: transparent transparent #37bc9b transparent;}
/* 필수입력관련 */
th.req:before {content: '*'; color:#37bc9b;margin-right:5px;}
input.req, select.req {border:1px solid #37bc9b !important;}