/* 상단 영역 */
.header .open_menu .bar {background-color: #fff;}
.header .logo {border-bottom: 1px solid #2b957a;}
.header .logo h1 {color: #fff; background-color: #2b957a;}
.header .navbar {background-color: #2b957a;
  background-image: linear-gradient(to right, #2b957a 0%, #37bc9b 100%);
  background-repeat: repeat-x;}
.notification_box i {color: #fff;}
.notification_box a {color: #fff}
.profile_info {color: #fff;}
.profile_box i {color: #fff;}
.profile_box .pop_head {background-color: #37bc9b;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}

.theme_box i {color: #fff;}
.theme_box a {color: #fff}
.theme_box .pop_head {background-color: #37bc9b;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}
.login_contain .left {background: #2b957a !important;}
.login_contain .sign_btn {background: #2b957a !important;}
.login_contain .sign_btn.cancel { border: 1px solid #2b957a !important;color: #fff !important;}
/* 상단 메뉴탭 */
.dropdown-menu.tabmenus {font-size:12px;background: #37bc9b !important; color:#fff !important;}
.nth-tabs .right-nav-list .tabmenus a:hover {color: #37bc9b;text-decoration: none;}
.tab-question:hover {
  color: #37bc9b;
}