/* 상단 영역 */
.header .open_menu .bar {background-color: #2e323a;}
.header .logo {border-bottom: 1px solid #fff;}
.header .logo h1 {color: #fff; font-weight: 600; background-color: #5881d8;}
.header .navbar {background-color: #fff; background-image:none}
.notification_box i {color: #a2a5ad;}
.notification_box a {color: #414145}
.header .right_align > div > button:hover:before,
.header .right_align > div > button.on:before,
.denialnoti_box button[data-navpopopen]:hover > i:after,
.denialnoti_box button[data-navpopopen].on > i:after {background-color:rgba(0,0,0,.12);}
.profile_box i {color: #aeb1b8}
.profile_box .pop_head {background-color: #2c5dc7;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}

.theme_box i {color: #a2a5ad;}
.theme_box a {color: #414145}
.theme_box .pop_head {background-color: #2c5dc7;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}
.login_contain .left {background: #2c5dc7 !important;}
.login_contain .sign_btn {background: #2c5dc7 !important;}
.login_contain .sign_btn.cancel { border: 1px solid #2c5dc7 !important;color: #fff !important;}

/* 상단 메뉴탭 */
.dropdown-menu.tabmenus {font-size:12px;background: #2c5dc7 !important; color:#fff !important;}
.nth-tabs .right-nav-list .tabmenus a:hover {color: #2c5dc7;text-decoration: none;}
.tab-question:hover {
  color: #2c5dc7;
}
.login_contain .login_form .title_wrap h4 {
  color: #2c5dc7;
}
.profile_info {
  color:#333
}