/* 좌단 메뉴 영역 */
.menu_area {
  background-color: #343446 !important;
}
.menu_wrap .tab_links li.on button {border-color: #4f95ff}
.menu_wrap .tab_links li.on button > span {background-color: #4f95ff}
.menu_wrap .tab_links li.on h {color: #4f95ff;}
.gnb  { padding-bottom:4em;}
.gnb ul li a {color:#dcdce5 }
.gnb > li > a { color:#b2b2c4}
.gnb > li > a:hover,
.gnb ul li a:hover {color: #fff; }
.gnb > li.has_sub.open > a {color: #fff; background: #5b5b7e;}
 .gnb .documents > li a.on {color: #fff; background: #20202e;}
.gnb > li.has_sub.open > a i.star_icon {background:#44474e url(/img/icon/star_white_icon.png)center center no-repeat;}
.gnb > li > a:hover i:after,
.gnb > li.has_sub.open > a i:after {background-color:transparent;}
.gnb > li.has_sub > a:hover:before,
.gnb > li.has_sub > a:hover:after {background-color: #fff}
.gnb > li.has_sub.open > a:after,
.gnb > li.has_sub.open > a:before {background: #4f95ff;}
li.has_sub2.open > a{color: #2e323a; font-weight: bold; border-radius: 4px; background: #eeeef0;}
.nav-menu li a { padding: 0.5em;}

.gnb > li a {padding: 0px 0px 0px 0px; }

.gnb ul li a { padding: 2px 2px 2px 30px; }
.gnb ul li a:hover { padding: 2px 2px 2px 30px;}
