/* 화면 영역 */

/* pop up */
.popup header{background: #9289ca;}
.popup header h4 {color:#fff;}
.popup_close_box i {color:#fff;}
/* 조회테이블 */
.table_box.search {border-top: 1px solid #9289ca;}
/* apexchart 다운로드 */
.apexcharts-menu {background: #9289ca !important;color: #fff !important;}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {background: #9289ca !important; color:#fff !important}
/* label 설명 Tooltip */
.lbldescexist::after {color:#9289ca;}
.lbldesctooltip {	background-color: #9289ca; color: #fff;}
.lbldesctooltip::after {border-color: transparent transparent #9289ca transparent;}
/* 필수입력관련 */
th.req:before {content: '*'; color:#9289ca;margin-right:5px;}
input.req, select.req {border:1px solid #9289ca !important;}