/* 상단 영역 */
.header .open_menu .bar {background-color: #fff;}
.header .logo {border-bottom: 1px solid #f05050;}
.header .logo h1 {color: #fff; background-color: #f05050;}
.header .navbar {background-color: #f05050;
  background-image: linear-gradient(to right, #f05050 0%, #f47f7f 100%);
  background-repeat: repeat-x;}
.notification_box i {color: #fff;}
.notification_box a {color: #fff}
.profile_info {color: #fff;}
.profile_box i {color: #fff;}
.profile_box .pop_head {background-color: #f47f7f;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}

.theme_box i {color: #fff;}
.theme_box a {color: #fff}
.theme_box .pop_head {background-color: #f47f7f;color: #fff;box-shadow: 0px 0px 16px 0px rgba(206, 209, 221, 1);}
.login_contain .left {background: #f05050 !important;}
.login_contain .sign_btn {background: #f05050 !important;}
.login_contain .sign_btn.cancel { border: 1px solid #f05050 !important;color: #fff !important;}
/* 상단 메뉴탭 */
.dropdown-menu.tabmenus {font-size:12px;background: #f47f7f !important; color:#fff !important;}
.nth-tabs .right-nav-list .tabmenus a:hover {color: #f47f7f;text-decoration: none;}
.tab-question:hover {
  color: #f47f7f;
}