@charset "UTF-8";

/*=================================================================================
 * UI Style
 =================================================================================*/
/* Input */
input,
select,
textarea {
    font-family: 'Pretendard',sans-serif;
    width: auto;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #D5D7DC;
    font-size: 15px;
    font-weight: 500;
    color: #1d1d1d;
    border-radius: 5px;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.write-table input, select{
    width: 360px;
}

input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #EDEFF5;
    border: 1px solid #D5D7DC !important;
    color: #333333;
    /*cursor: not-allowed;*/
}

input[type="text"]:disabled,
input[type="search"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
textarea:disabled {
    background-color: #EDEFF5;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #808080;
    font-size: 15px;
    font-weight: 400;
}

input[type="number"] {padding-right: 0;}

textarea {
    width: 100%;
    height: 120px;
    line-height: 1.3;
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    color: #454545;
    vertical-align: baseline;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
.textarea-box {
    position: relative;
}
.textarea-box .text-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}

/* Input Text Clear */
.input-btnbox {
    display: flex;
    align-items: center;
    width: 100%;
}
.input-btnbox .input-clear {
    width: 100%;
}
.input-clear {
    position: relative;
    display: inline;
}
.btn-clear {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    display: none;
    width: 16px;
    height: 16px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    background-color: #B3B3B3;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

/* Select*/
select {
    width: 180px;
    background: url("../images/icon/ico-select.svg") calc(100% - 10px) 50% no-repeat #fff;
}

/* Select*/
.write-table select {
    width: 360px;
    background: url("../images/icon/ico-select.svg") calc(100% - 10px) 50% no-repeat #fff;
}

.write-table select:disabled {
    color: #1d1d1d !important;
    background-color: #EDEFF5;
    opacity: 1;
}

.select-open {
    border: 1px solid #0481F9;
}

/* Radio Style */
.radio-box {
    position: relative;
    display: flex;
    align-items: center;
}
.radio-box li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-right: 30px;
}
.radio-box label {
    margin-left: 10px;
    white-space: nowrap;
    line-height: 1;
}
input[type="radio"] {
    padding: 0;
    border: none;
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    padding-left: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="radio"]:before {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #D5D7DC;
    border-radius: 100%;
}
input[type="radio"]:checked:before {
    border: 1px solid #247CFF;
}
input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 6px solid #247CFF;
    border-radius: 100%;
}
input[type="radio"]:disabled:checked:before {
    border: 1px solid #ccc;
    background-color: #F5F6F8;
}
input[type="radio"]:disabled:checked:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background: #2861F3;
    border-radius: 100%;
}

/* Radio-select */
.radio-select{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.radio-select ul{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D5D7DC;
    border-radius: 6px;
}
.radio-select li{
    width: 50%;
    margin: 0;
    padding: 0;
    margin: 0 2px;
}
.radio-select input[type="radio"] {
    display: none;
}
.radio-select label {
    display: block;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.radio-select input[type="radio"]:checked + label {
    background-color: #06C194;
    height: 26px;
    line-height: 26px;
    color: #fff;
    border-radius: 6px;
}

/* Checkbox Style */
.check-box {
    position: relative;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}
.check-box li {
    display: flex;
    align-items: center;
}
.check-box label {
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
    line-height: 1;
}
input[type="checkbox"] {
    padding: 0 !important;
    border: none;
    width: auto;
    display: flex;
    background-color: inherit;
    align-items: center;
}
input[type="checkbox"]:before {
    /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    vertical-align: text-bottom;
}

#btnToggle:before {
    border:none;
}

input[type="checkbox"]:checked:before {
    /* 체크박스를 체크했을때 */
    content: ' ';
    color: #fff;
    background: url('../images/icon/ico-chk.svg')#03428E no-repeat center;
    border-color: #03428E;
}
input[type="checkbox"]:disabled:before {
    background: #E6E6E6;
    border-color: #c6c6c6;
}
input[type="checkbox"]:disabled:checked:before {
    color: #ACAEB7;
    background: url('../images/icon/ico-chk.svg')#C6C6C6 no-repeat center;
}

/* Switch */
/*.switch {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 48px;*/
/*    height: 22px;*/
/*}*/
/*.switch input {*/
/*    opacity: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/
/*.slider {*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: #858585;*/
/*    transition: .4s;*/
/*    border-radius: 34px;*/
/*}*/

/*.slider:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    left: 2px;*/
/*    bottom: 2px;*/
/*    background-color: white;*/
/*    transition: .4s;*/
/*    border-radius: 50%;*/
/*}*/
/*input:checked + .slider {*/
/*    background-color: #0481F9;*/
/*}*/

/*!* Move the slider to the right *!*/
/*input:checked + .slider:before {*/
/*    transform: translateX(26px);*/
/*}*/

/* Date */
.date-box {
    position: relative;
    display: flex;
    align-items: center;
}
.input-date,
input[type=date],
input[type=datetime-local],
input[type=month].input-date,
input[type=text].input-date {
    position: relative;
    min-width: 160px;
    background: url("../images/icon/ico-calendar.svg")no-repeat right 16px center;
    z-index: 1;

}

/* Input - search */
.srch-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.srch-box .input-srch {
    position: relative;
    width: 100%;
    min-width: 200px;
    border-radius: 5px 0 0 5px;
}
.srch-box .btn-srch {
    margin-left: -1px;
}
.srch-box .btn-blue {
    margin-left: 5px;
}
.srch-box select {
    border-radius: 5px;
}

/* File box*/
.upload-filebox {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #F5F6FA;
    /*border: 1px solid #E3E2EB;*/
    border-radius: 5px;
    gap: 10px;
}
.upload-filebox.dragging {
    border-color: #3f51b5;
    background-color: #e3f2fd;
}
.upload-filebox p {
    font-size: 13px;
    color: #9291A1;
}
.upload-filebox input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.upload-filelist {
    margin-top: 8px;
}
.upload-filelist .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.upload-filelist h5 {
    font-size: 13px;
    font-weight: 500;
}
.upload-filelist .btn-file-deleteall {
    font-size: 13px;
    font-weight: 500;
    color: #CCCBD8;
}
.upload-filelist .filelist {
    padding: 4px 10px;
    min-height: 60px;
    background-color: #F5F6FA;
    border-radius: 5px;
}
.upload-filelist .filelist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 13px;
}
.upload-filelist .filelist li p span {
    font-size: 11px;
    color: #77758A;
}

/* File box2*/
.upload-filebox2 {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #F5F6FA;
    border: 1px solid #E3E2EB;
    border-radius: 5px;
    gap: 10px;
}
.upload-filebox2.dragging {
    border-color: #3f51b5;
    background-color: #e3f2fd;
}
.upload-filebox2 p {
    font-size: 13px;
    color: #9291A1;
}
.upload-filebox2 input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.upload-filelist2 {
    margin-top: 8px;
}
.upload-filelist2 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.upload-filelist2 h5 {
    font-size: 13px;
    font-weight: 500;
}
.upload-filelist2 .btn-file-deleteall2 {
    font-size: 13px;
    font-weight: 500;
    color: #CCCBD8;
}
.upload-filelist2 .filelist2 {
    padding: 4px 10px;
    min-height: 60px;
    background-color: #F5F6FA;
    border-radius: 5px;
}
.upload-filelist2 .filelist2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 13px;
}
.upload-filelist2 .filelist2 li p span {
    font-size: 11px;
    color: #77758A;
}
/*=================================================================================
 * Progressbar Type
 =================================================================================*/
 .time-progress-bar {
    display: flex;
    align-items: center;
    width: 520px;
    padding: 0 20px;
}
.time-progress-bar p {
    white-space: nowrap;
}
.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.progress {
    height: 100%;
    background-color: #345FF1;
    border-radius: 30px;
    transition: width 0.3s ease-in-out;
}


/*=================================================================================
 * Progressbar Type
 =================================================================================*/
 .battery-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
 }
 .battery {
    position: relative;
    width: 20px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}
.battery-level {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: width 0.3s ease;
}
.battery-cap {
    position: absolute;
    right: -3px;
    width: 2px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
}
.battery-wrap p {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}
.charging-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url('../images/icon/ico-charging.svg')no-repeat center;
    background-size: 100%;
    transform: translate(-50%, -34%);
}
.charging-indicator.charging {
    display: block;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

/*=================================================================================
 * Button
 =================================================================================*/
.btn-wrap {display: flex; justify-content: center; align-items: center; gap: 6px;}
 button, .btn {display: inline-flex; align-items: center; justify-content: center; height: 36px; padding: 4px 18px; line-height: 36px; background-color: #fff; font-weight: 500; border: 1px solid #B3B3B3; border-radius: 5px; font-weight: 700; white-space: nowrap; transition: all .3s; opacity: 1;}
/*button:hover, .btn:hover {background-color: #F5F6FA; border: 1px solid #4D4D4D;}*/
/*button:disabled, .btn:disabled {background-color: #fff; border: 1px solid #B3B3B3; color: #B3B3B3;}*/
button img, .btn img {margin-right: 10px;}
.btn-navy {background-color: #03428E; color: #fff;}
.btn-navy:hover {background-color: #033777;}
.btn-navy:disabled {background-color: #E6E6E6; border: none; color: #B3B3B3;}
.btn-plus {width: 16px; height: 16px; position: relative;}
.btn-plus::before,
.btn-plus::after {content: ''; position: absolute; background-color: #000;}
.btn-plus::before {width: 100%; height: 3px; border-radius: 2px; top: 50%; left: 0; transform: translateY(-50%);}
.btn-plus::after {height: 100%; width: 3px; border-radius: 2px; top: 0; left: 50%; transform: translateX(-50%);}

.list-table button, .list-table .btn {height: 32px; line-height: 32px;}

.btn-srch {width: 36px; height: 36px; background: url('../images/icon/btn-srch.svg')#E9F2FB no-repeat center; border: 1px solid #D5D7DC; border-radius: 0 5px 5px 0;}

/* 첨부파일 다운로드 */
.btn-filedown {color: #3069B3; text-decoration: underline;}
.btn-filedown:hover {text-decoration: underline;}
.btn-filedown::before {content: ''; display: inline-block; width: 14px; height: 14px; margin-right: 4px; background: url('../images/icon/ico-down-blue.svg')no-repeat center; vertical-align: middle; margin-right: 6px;}

/* 아코디언 버튼 */
.btn-aco-open {display: inline-flex; align-items: center; width: 24px; height: 24px; background: url('../images/icon/btn-aco-open.svg')no-repeat center;}
.btn-aco-close {display: inline-flex; align-items: center; width: 24px; height: 24px; background: url('../images/icon/btn-aco-close.svg')no-repeat center;}

.ax5-ui-dialog{
    min-width: 400px;
    min-height: 204px;
}

.ax5-ui-dialog .ax-dialog-body{
    min-width: 400px;
    min-height: 204px;
    padding: 50px 0 40px 0;
}

.ax5-ui-dialog .ax-dialog-body .ax-dialog-msg{
    /*padding-bottom: 20px;*/
    padding : 15px 40px 20px 40px;
}

.ax5-ui-dialog .ax-dialog-header{
    display: none;
}

.ax5-ui-toast-container {
    bottom: 40px !important;
}

.btn-default{
    background-color: #03428E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    height: 36px;
    border: 0;
    border-right: 3px;
}

.btn-{
    background-color: #FFFFFF;
    color: #03428E;
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    height: 36px;
    border: 1px solid #03428E;
}

.btn-default:hover{
    background-color: #03428E;
    color: #FFFFFF;

}



    /*=================================================================================
     * Icon Style
     =================================================================================*/
.info-box {margin-top: 10px;}
.ico-info-blue {display: flex; align-items: center; font-size: 13px; color: #125DE6;}
.ico-info-blue::before {content: ''; display: inline-block; width: 16px; height: 18px; margin-right: 4px; background: url('../images/icon/ico-info-blue.svg')no-repeat center; vertical-align: middle;}
.ico-info-red {position: relative; display: flex; align-items: flex-start; flex-flow: row wrap; font-size: 13px; color: #FE262A; margin-left: 20px;}
.ico-info-red::before {content: ''; position: absolute; left: -20px; top:-2px; display: inline-block; width: 16px; height: 18px; margin-right: 4px; background: url('../images/icon/ico-info-red.svg')no-repeat center; vertical-align: middle;}
.ico-user  {display: flex; align-items: center;}
.ico-user::before {content: ''; display: inline-block; width: 16px; height: 18px; margin-right: 4px; background: url('../images/icon/ico-user.svg')no-repeat center; background-size: 100%; vertical-align: middle;}
.ico-viewer  {display: flex; align-items: center;}
.ico-viewer::before {content: ''; display: inline-block; width: 16px; height: 18px; margin-right: 4px; background: url('../images/icon/ico-viewer.svg')no-repeat center; background-size: 100%; vertical-align: middle;}
.ico-file  {display: flex; align-items: center;}
.ico-file::before {content: ''; display: inline-block; width: 16px; height: 18px; margin-right: 4px; background: url('../images/icon/ico-file.svg')no-repeat center; background-size: 100%; vertical-align: middle;}

.sta-green {background: #16BB8F; color:#fff; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-blue {background: #E9F2FB; color:#3069B3; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-lightblue {background: #3598F2; color:#fff; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}
.sta-black {background: #545454; color:#fff; border-radius: 3px; text-align: center; display: inline-block; font-weight: 700; padding: 0px 10px; line-height: 28px;}

/*=================================================================================
 * List Type
 =================================================================================*/
.list-bar > li {position: relative; display: flex; align-items: center;}
.list-bar > li::after {content:""; display:inline-block; width:2px; height:14px; margin: 0 10px; border-radius:15px; vertical-align:middle; background:#888;}
.list-bar > li:last-child::after {display: none;}
.list-dot {width: 100%;}
.list-dot > li {position: relative; font-size: 14px; margin-left: 10px; margin-bottom: 2px; font-size: 13px; color: #666; font-weight: 400;}
.list-dot > li:before {content:""; position: absolute; left: -10px; top: 5px; display: inline-block; width:3px; height:3px; border-radius:15px; vertical-align: middle; background:#666;}

.dot-mint {display: block; width: 16px; height: 16px; background-color:#2EC9D6; border-radius: 30px;}
.dot-blue {display: block; width: 16px; height: 16px; background-color:#62B2FD; border-radius: 30px;}
.dot-purple {display: block; width: 16px; height: 16px; background-color:#909BFF; border-radius: 30px;}

/* 자동 완성 css */
.suggestions-list {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 150%; /* input 필드 바로 아래에 위치 */
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none; /* input 필드와의 경계선을 없애기 위해 */
    max-height: 100px; /* 최대 높이를 설정하여 스크롤 가능하게 */
    overflow-y: auto; /* 내용이 많을 경우 스크롤 */
    z-index: 1000; /* 다른 요소보다 위에 나타나도록 z-index 설정 */
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

/* 화살표 키로 선택된 항목의 배경 색상 */
.suggestions-list li.selected {
    background-color: #f0f0f0; /* 원하는 색상으로 변경 */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*.chart-overlay {*/
/*    pointer-events: auto; !* 오버레이가 클릭을 받을 수 있음 *!*/
/*}*/

/*.chart-wrap canvas {*/
/*    pointer-events: none; !* 차트 내의 canvas도 클릭 이벤트를 받음 *!*/
/*}*/

.card-header{
    background-color: #EDEFF5;
}

.card-body select {
    width: 120px;
}

.select_input{
    background: #EDEFF5 none !important;
}