@charset "utf-8";

* {margin:0;padding:0;font-family:'Pretendard','맑은고딕','Malgun Gothic',sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body {padding:0; margin:0;height:100%;line-height:1;font-size: 14px}

body {background-color: #f5f6fa}
.table {margin-bottom: 0px !important;}
[class*="col-"]{padding-left:5px; padding-right:5px;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ul, li, ol {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse;border-spacing: 0;}
td {word-break:break-all;}
a {text-decoration: none;}
form { margin:0; padding:0; }
fieldset { margin:0; padding:0; border:none;}
img {border:0; vertical-align:middle;}
caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
button {border-radius:0; margin:0; padding:0; border:0; outline: none; background:none;}
input[type=text],input[type=password],input[type=number],input {border: 1px solid #d0d8dd;vertical-align:middle;}
select {padding:1px;border: 1px solid #d0d8dd;background: #fff;vertical-align:middle;font-size:11px;}
label.radio {margin-right:5px;line-height: 1.5;margin-top:2px;}
label.radio input[type=radio] {margin-right:2px;}
.txt_hidden {margin: 0; padding: 0;font-size:0; line-height:0; color:transparent; overflow:hidden; text-indent:-999999px;}
legend, .hidden {position:fixed; left:-999999px; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0; color:transparent; text-indent:-999999px; opacity:0; visibility:hidden;}

/* ------------------------ common component css ---------------------------- */
/* fontawsome icon */
.fa, .far, .fas, .fab {font-size:15px;width:22px;}

/* 12 grid layout system */
.row {margin:10px -5px 10px -5px;}
.row_dash {position:relative;display: flex; display: -webkit-flex; flex-wrap:wrap; display: -ms-flexbox;margin:0px;margin-bottom:15px; padding:20px; background: #fff; border-radius: 5px; box-shadow: 0 0 10px 0 rgba(199, 200, 203, .5);}
.row:last-child {margin-bottom:0px;}
.layout {height: inherit;margin-right:10px;}
.layout.col_12 {width:100%;}
.layout.col_12.mr-0{margin-right:0;}
.layout.col_11 {width:calc(100% / 12 * 11 - 5px);}
.layout.col_10 {width:calc(100% / 12 * 10 - 5px);}
.layout.col_9 {width:calc(100% / 12 * 9 - 5px);}
.layout.col_8 {width:calc(100% / 12 * 8 - 5px);}
.layout.col_7 {width:calc(100% / 12 * 7 - 5px);}
.layout.col_6 {width:calc(100% / 12 * 6 - 5px);}
.layout.col_5 {width:calc(100% / 12 * 5 - 5px);}
.layout.col_4 {width:calc(100% / 12 * 4 - 5px);}
.layout.col_3 {width:calc(100% / 12 * 3 - 5px);}
.layout.col_2 {width:calc(100% / 12 * 2 - 5px);}
.layout.col_1 {width:calc(100% / 12 * 1 - 5px);}
.row .layout:last-child {margin-right:0; margin-bottom:0;}
.row_dash .layout:last-child {margin-right:0; margin-bottom:0;}
.in_layout.flex{display:flex; width:100%; padding-top:25px;}
.col {max-width:100%; flex-basis:0; flex-grow:1;}
.col-auto {width: auto;max-width: 100%;flex: 0 0 auto;}

/* common */
.after:after {content: ''; display: block;clear: both;}
.show {display:block;}
.hide {display:none;}
.left_align, .align_left {float:left;}
.right_align, .align_right {float:right;}
.text_left {text-align:left;}
.text_right {text-align:right;}
.text_center {text-align:center;}
.rotate{transform:rotate(180deg);}
.line_none{border:0 !important; outline:0 !important;}
.mt-0{margin-top:0 !important;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mb-6{margin-bottom:6px !important;}
.pr7 {padding-right: 7px !important}
button {border-radius:3px;}
button i, button span{position: relative;}
button i:before {margin-right:3px;}
.sticker {padding: 3px 6px;margin-top: 1px;z-index: 2;position: absolute;right: 15px;line-height: 1;border-radius: 5px;font-size: 11px;text-align: right;color:#fff;font-weight: 4;background:#22d0d6;}
.bg-transparent {background-color: transparent !important;}
.bg-default {background-color: #172b4d !important;}
.align-items-center {align-items: center !important;}
.d-flex {display: flex !important;}
.text-muted {color: #8898aa !important;}
.text-light {color: #ced4da !important;}
.text-white {color: #fff !important;}
.table-responsive {display: block;overflow-x: auto;width: 100%;-webkit-overflow-scrolling: touch;}
.justify-content-end {justify-content: flex-end !important;}
.bg-primary {background:#5c4e8e !important;}

/* common - title box */
.title_box {width: 100%;position: relative;vertical-align: bottom;color:#2d2d2d;}
.title_box:after {content: '';display: block;clear: both;}
.title_box h4 {font-size: 14px; margin-bottom:-5px;}

/* common - table */
.table_box{margin-bottom:10px;}
.table_box:last-child{margin-bottom:0;}
.section .table_box:nth-child(1){margin-top:0;}
table {border-collapse: collapse;border-spacing:0;width: 100%;}
table, td, th {border: 1px solid #d0d8dd;text-align: left; color:#2d2d2d;}
table th {background: #f5f6fa;font-weight:600;vertical-align: middle !important;}
th {padding:3px 12px;height:35px}
table.search th {height:40px !important;}
td {padding:3px 5px;height:35px;word-break: break-all;}
table thead th {text-align:center;}
table.center th, table.center td {text-align:center;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding-left:8px !important;padding-top:3px !important;padding-bottom:0px !important;}

/* common - 텝메뉴 */
a.notab {pointer-events: none;}
.tabs .tab_links:after {content: ''; display: block; clear: both;}
.tabs .tab_links li {float: left;}
.tabs .tab_links li:first-child {margin-left:0;}
.tabs .tab_links button {padding: 17px 12px 13px; color: #a1a3b6}
.tabs .tab_links li.on button {color: #000}

/* select */
.select_group {display: inline-block;vertical-align: middle; margin-right: 5px;}
.title_box .select_group select {vertical-align: top; margin-top:1px;}
select {cursor:pointer;height: 26px;font-size: 12px;border-radius:0;}

/* custom select */
.custom_select {position: relative;}
.custom_select select {display: none;}
.select_selected:after {position: absolute;content: "";top: 11px;right:5px;width: 0;height: 0;border: 6px solid transparent;border-color: #d0d8dd transparent transparent transparent;}
.select_selected.select_arrow_active:after {border-color: transparent transparent #d0d8dd transparent;top:4px;}
.select_items div,.select_selected {padding-left:5px;line-height: 26px;border-radius:0;width:auto;border: 1px solid transparent;cursor: pointer;user-select: none;}
.select_items div{border-radius:0;}
.select_selected {border:1px solid #d0d8dd;}
.select_items {position: absolute;background-color:#fff;top: calc(100% - 5px);padding: 5px 0 0;left: 0;right: 0;z-index: 99;color:#000;border:1px solid #d0d8dd;border-top:0;max-height:170px;overflow:hidden;overflow-y:auto;border-radius:0;border-top-left-radius: 0;border-top-right-radius: 0;}
.select_hide {display: none;}
.select_items div:hover, .same_as_selected {background-color: rgba(0, 0, 0, 0.1);}
.disabled{cursor:not-allowed;}

/* custom radio, checkbox */
input[type="radio"], input[type="checkbox"] {margin:-2px 2px 0 0;width: auto;height: auto;vertical-align: middle;cursor: pointer;}
.chk_custom ul li:last-child, .opt_custom ul li:last-child {margin-bottom:0;}
.chk_custom label, .opt_custom label {position:relative; margin-right:8px; cursor:pointer; font-weight:400; line-height:26px;}
.chk_custom label input[type="checkbox"]{position:fixed; left:-999999px; width:1px; height:1px; opacity:0;}
.chk_custom label .checkbox{display: inline-block;margin: -2px 5px 0 0;height:14px; width:14px; background:url('../img/icon/login_roll_check.png') 0 0 no-repeat; background-size:cover;}
.chk_custom input:checked ~ .checkbox {background-position: 0 -14px;}
label.checked{color:#3d70fe; font-weight:600;}
.opt_custom label input[type="radio"]{position:fixed; left:-999999px; width:1px; height:1px; opacity:0;}
.opt_custom label .radiobox{display: inline-block;margin-right: 6px;width: 14px;height: 14px;vertical-align: text-bottom;background:url(../img/icon/login_roll_radio.png) 0 0 no-repeat;background-size:cover;}
.opt_custom input:checked ~ .radiobox {background-position: 0 -14px;}
/* component disabled */
input[disabled], button[disabled],select[disabled], textarea[disabled]{cursor: not-allowed;opacity:0.7;border: 1px solid #d0d8dd !important;color: #333;background-color: #ebebe4}
button.save[disabled] {background-color: #777}
.input_group.disabled{cursor: not-allowed;opacity:0.7;color: #333;}
.keyword_group.disabled{cursor: not-allowed;opacity:0.7;color: #333;}
.opt_custom.disabled label .radiobox{background:url(../img/icon/login_roll_radio_disable.png) 0 0 no-repeat;background-size:cover;}
.chk_custom.disabled label .checkbox{background:url(../img/icon/login_roll_check_disable.png) 0 0 no-repeat;background-size:cover;}
.opt_custom.disabled label, .chk_custom.disabled label{cursor:no-drop;}
/* pop up */
.popup > section,.popup > .section{box-shadow:none; padding:0px;}
.popup_close_box {float:right;}
.popup_button_group {margin-top:-10px;}
.popup .row {margin: 10px 0px 10px 0px !important;}


/* common - 채팅 */
.chat_wrap {padding: 20px;height: calc(100% - 455px);overflow-y: auto; border: 1px solid #d0d8dd;}
.chat-users h6 {font-size: 20px;margin: 0 0 20px;}
.chat_ward{width: 100%; height: 100%}
.chat_ward .join {position: relative;max-width: 600px;clear: both; text-align: center;}
.chat_ward .join .text {padding:2px 10px;font-size: 12px;line-height: 26px;position: relative;margin:5px 0 0;width:auto;display:inline-block; background-color: #f8f8f8;}

.chat_ward .answer {position: relative;max-width: 600px;clear: both;}
.chat_ward .answer .name {font-size: 12px;line-height:15px;color: #000;font-weight: 700;margin: 5px 0 0;}
.chat_ward .answer .text {padding:5px 10px;font-size: 12px;line-height: 26px;position: relative;margin:5px 0 0;width:auto;display:inline-block;}
.chat_ward button {color:#eb204b; margin: 0;padding: 0;border: 0;outline: none;background: none; vertical-align:inherit;}
.chat_ward button em {font-style: normal;font-weight: 600;}
.chat_ward .answer .text strong {font-weight: bold;color: #eb204b}
.chat_ward .time_stamp {font-size:10px;margin-top:2.5px;}
.chat_ward .avatar {width: 40px;height: 40px;position: absolute;}
.chat_ward .avatar img {display: block;border-radius: 20px;height: 100%;}
.chat_ward .avatar .fas{font-size:40px;color: #cccfde;}
.chat_ward .avatar img,
.chat_ward .avatar .fas {display: block;border-radius: 20px;height: 100%;}
.manager_search_box {margin-bottom: 8px;}
.chat_body h6 {font-size: 20px;margin: 0 0 20px;}

/* left */
.chat_ward .answer.left {padding: 0 0 10px 58px;text-align: left;float: left;}
.chat_ward .answer.left .avatar {left: 0;text-align: center;margin: 5px 0 0;}
.chat_ward .answer.left .text {background: #f4f4f4;color: #333333;border-radius: 8px 8px 8px 0;}
.chat_ward .answer.left .text:before {content: '';display: block;position: absolute;bottom: 0;border: 18px solid transparent;border-bottom-width: 0;left: -25px;border-right-color: #f4f4f4;border-right-width: 12px;}
.chat_ward .answer.left .time {padding-left: 12px;color: #333333;}
.chat_ward .answer .time {font-size: 16px;line-height: 36px;position: relative;padding-bottom: 1px;}

/*right*/
.chat_ward .answer.right {padding: 0 0 10px 30px;text-align: right;float: right;}
.chat_ward .answer.right .avatar {right: 0;}
.chat_ward .answer.right .text {background: #e6e8f7;color: #333;border-radius: 8px 8px 0 8px;text-align: left;}
.chat_ward .answer.right .time {padding-right: 12px;color: #333333;}

.chat_ward .avatar .mobile_ename {font-size: 12px;line-height:15px;color: #000;font-weight: 700;margin: 10px 0 0;}

.chatTextArea {
  width: calc(100% - 115px);
  height: 60px;
}
.chatSendDiv {
  display: inline;
}
.chatsendbtn {
  float: right;
  height: 60px;
  width: 100px;
}
.chatsendbtn > span {
  font-weight: 700;
}

/* style */
/* main header */
.nav_bar {background-color: #eb485c;height: 54px;}
.nav_bar i {color:#fff;}
.open_menu {margin-top: 1px;}
.open_menu i.fas.fa-bars {margin-top: 3px;color: #fff;}

/* 즐겨찾기 */
.nav-tabs>li>a span.star {width: 15px;height:15px;color:#ccc;margin-right: 5px;cursor:pointer;}
.nav-tabs>li>a span.bookmark {color:#ffc400;}



a.notab {
  pointer-events: none;
}

/*.ax5-ui-dialog .ax-dialog-body .ax-dialog-msg {*/
/*  font-size: 14px !important;*/
/*  line-height: 25px !important;*/
/*}*/

button.agree {width:150px !important; height: 30px !important;margin-top:0px !important; padding:0px !important; font-size:14px !important; border-radius:5px !important;}

td.spantxt {
	line-height: 26px !important;
}