<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App03.Index35Mapper">


    <select id="getList"  parameterType="com.dae.kdmes.DTO.app03.Index35Dto" resultType="com.dae.kdmes.DTO.app03.Index35Dto">
        <![CDATA[
        select D.wstdt , A.indate,
        (case when A.rwflag = 'D' THEN '주간' WHEN A.rwflag = 'N' THEN '야간' ELSE '' END) AS rwflagnm,
        A.ecltnm,
        (CASE WHEN D.wflag='00010' then (DBO.DF_NM_RTN('TB_JA001', A.custcd, E.wrps, '', '')) WHEN D.wflag='00020' then (DBO.DF_NM_RTN('TB_JA001', A.custcd, d.wrps, '', '')) ELSE '' END) as pernm ,
        isnull((select wrmcnm from TB_FPLAN_WRMC where wflag = A.wflag and wrmc = D.wrmc),'') as wrmcnm ,
        ISNULL(DBO.DF_NM_RTN('TB_WFLAG', D.custcd, D.wflag, '', ''),'') as wflagnm,
        C.jpum,
        C.jchajong,
        A.lotno,
        (CASE WHEN D.wflag = '00010' THEN A.prod_qty WHEN D.wflag='00020' THEN E.wotqt - E.wbdqt ELSE 0 END) as prod_qty ,
        d.wotqt,
        D.wbdqt,
        d.wotqt - D.wbdqt AS WJQTY,
        D.wfrdt,
        D.wtrdt,
        DATEDIFF(mi, D.wfrdt,D.wtrdt) / 60 AS GAPTIME
        FROM
        TB_FPLAN A WITH (NOLOCK)
        LEFT OUTER JOIN TB_FPLAN_W010 E ON E.plan_no = A.plan_no
        LEFT OUTER JOIN TB_FPLAN_W020 F ON F.plan_no = A.plan_no ,
        TB_FPLAN_work D WITH (NOLOCK) ,
        jcode C WITH (NOLOCK)
        WHERE A.pcode = C.jkey
        and A.plan_no = D.plan_no
        and A.indate between '20230701' and '20230930' and D.wflag LIKE '%' AND A.lotno Like '%'
        and D.wrps like '%'
        ORDER BY A.LOTNO , f.WFLAG, D.WFRDT
        ]]>
    </select>


    <select id="SelectJegoIpgo"  parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="com.dae.kdmes.DTO.app03.Index59Dto">
        <![CDATA[ select A.jepm, A.acorp, A.key1, A.jepm_size, A.ijaego_su1 as jqty , B.jpum as jpumnm, B.jgugek as jgugek ,
                         B.jchajong as jchajong, B.j_ct as j_ct, B.j_net as j_net, B.j_sr as j_sr,
                         substring(A.key1, 5,2)+ '.' + substring(A.key1, 7,2) as ipdate
           from JEGO_JEPMJANAK A WITH (NOLOCK) , JCODE B WITH (NOLOCK)
           where A.jepm = B.jkey
           AND A.key1 between #{frdate} and  #{todate}
           AND isnull(A.jepm,'') Like concat('%',#{jkey},'%') AND A.ijaego_su1 <> 0
           ORDER BY   A.key1, A.acorp, A.jepm
        ]]>
    </select>


    <select id="SelectJegoList"  parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="com.dae.kdmes.DTO.app03.Index59Dto">
        <![CDATA[ select B.jkey,  B.jpum as jpumnm, B.jgugek as jgugek , B.jchajong as jchajong,
                         B.j_ct as j_ct, B.j_net as j_net, B.j_sr as j_sr,
                         convert(integer, DBO.DF_TB_PCODE_JQTY(B.jkey,  #{frdate},  #{todate}) ) as jqty
                   from  JCODE B WITH (NOLOCK)
                   where  isnull(B.jkey,'') Like concat('%',#{jkey},'%')
                   ORDER BY B.jkey
        ]]>
    </select>


    <select id="SelectMaxSeqIpgo"  parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="String">
        <![CDATA[ select  ISNULL(MAX(B.acorp),'00') as acorp
                  from  JEGO_JEPMJANAK B WITH (NOLOCK)
                  where  isnull(B.jepm,'') = #{jepm} and B.key1 = #{key1}
        ]]>
    </select>

    <select id="SelectJegoCheck"  parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="String">
        <![CDATA[ select  isnull(B.acorp,'') as acorp
                  from  JEGO_JEPMJANAK B WITH (NOLOCK)
                  where  isnull(B.jepm,'') = #{jepm}  and B.key1 = #{key1}
        ]]>
    </select>

    <select id="SelectJegoList_temp01"  parameterType="com.dae.kdmes.DTO.app03.IndexJaegotemp" resultType="com.dae.kdmes.DTO.app03.IndexJaegotemp">
        <![CDATA[ select j1_key,  j1_name , j1_gesan , j1_color,
                         j1_gugi, j1_jukgi, j1_gab,
                         j1_hang
                  from  jego_jcode1 B WITH (NOLOCK)
                  where  isnull(j1_name,'') Like #{j1_name} + '%'
                  AND   isnull(j1_hang,'') Like  #{j1_hang} + '%'
                  ORDER BY j1_name
        ]]>
    </select>


    <insert id="InsertJegoIpgo" parameterType="com.dae.kdmes.DTO.app03.Index59Dto" >
        insert into JEGO_JEPMJANAK (jepm, acorp, key1, jepm_size, ijaego_su1) values
        (#{jepm}, #{acorp}, #{key1}, #{jepm_size}, #{ijaego_su1})
    </insert>


    <update id="UpdateJegoIpgo" parameterType="com.dae.kdmes.DTO.app03.Index59Dto">
        UPDATE  JEGO_JEPMJANAK SET ijaego_su1 = #{ijaego_su1} where jepm  = #{jepm} and key1  = #{key1} and acorp  = #{acorp}
    </update>

    <delete id="DeleteJaegoIpgo" parameterType="com.dae.kdmes.DTO.app03.Index59Dto">
        DELETE  JEGO_JEPMJANAK  where key1  = #{key1}
    </delete>

    <delete id="DeleteJaegoIpgoAcorp" parameterType="com.dae.kdmes.DTO.app03.Index59Dto">
        DELETE  JEGO_JEPMJANAK  where jepm  = #{jepm} and key1  = #{key1} and acorp  = #{acorp}
    </delete>


    <select id="GetJpumFromJaegoList" parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="com.dae.kdmes.DTO.app03.Index59Dto">
        {
        call SP_FromToJaegoList(#{frdate},#{todate}, #{jkey}, #{jpb_gubn})
        }
    </select>


    <select id="GetJpumSubul01" parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="com.dae.kdmes.DTO.app03.Index59Dto">
        <![CDATA[
            select p.flag, Left(p.jdate,4) + '-' + substring(p.jdate, 5,2)+ '-' + substring(p.jdate, 7,2) as jdate, p.jkey, p.jpum,p.jgugek, p.jchajong,  p.ipsu, p.chulsu
            FROM (
                select '0' as flag, A.key1 as jdate, B.jkey, B.jpum, isnull(B.jgugek, '') as jgugek, B.jchajong,  a.ijaego_su1 as ipsu, 0 as chulsu
                from  jego_jepmjanak A WITH (NOLOCK), jcode B WITH (NOLOCK)
                WHERE A.jepm = B.jkey
                and A.key1 between #{frdate} and #{todate}
                and  isnull(B.jkey,'') Like concat('%',#{jkey},'%')
                and a.ijaego_su1 <> 0

                union all

                Select '1' as flag, A.deldate as jdate,   B.jkey, B.jpum, isnull(B.jgugek, '') as jgugek, B.jchajong,  0 as ipsu, A.qty as chulsu
                from  tb_da037 A WITH (NOLOCK), jcode B WITH (NOLOCK)
                WHERE A.pcode = B.jkey
                and A.deldate between #{frdate} and #{todate}
                and  isnull(B.jkey,'') Like concat('%',#{jkey},'%')
                and A.qty <> 0
            ) P
            ORDER BY P.jdate, p.jkey, p.flag
        ]]>
    </select>


    <select id="GetJpumSubul02" parameterType="com.dae.kdmes.DTO.app03.Index59Dto" resultType="com.dae.kdmes.DTO.app03.Index59Dto">
        <![CDATA[
            select p.flag, Left(p.jdate,4) + '-' + substring(p.jdate, 5,2)+ '-' + substring(p.jdate, 7,2) as jdate, p.jkey, p.jpum,p.jgugek, p.jchajong,   p.ipsu, p.chulsu
            FROM (
                select '0' as flag, A.key1 as jdate, B.jkey, B.jpum, isnull(B.jgugek, '') as jgugek, B.jchajong,  a.ijaego_su1 as ipsu, 0 as chulsu
                from  jego_jepmjanak A WITH (NOLOCK), jcode B WITH (NOLOCK)
                WHERE A.jepm = B.jkey
                and A.key1 between #{frdate} and #{todate}
                and  isnull(B.jkey,'') Like concat('%',#{jkey},'%')
                and a.ijaego_su1 <> 0

                union all

                Select '1' as flag, A.deldate as jdate,   B.jkey, B.jpum, isnull(B.jgugek, '') as jgugek, B.jchajong,   0 as ipsu, A.qty as chulsu
                from  tb_da037 A WITH (NOLOCK), jcode B WITH (NOLOCK)
                WHERE A.pcode = B.jkey
                and A.deldate between #{frdate} and #{todate}
                and  isnull(B.jkey,'') Like concat('%',#{jkey},'%')
                and A.qty <> 0
            ) P
            ORDER BY  p.jkey, P.jdate, p.flag
        ]]>
    </select>

    <select id="SelectBomCheck"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="String">
        <![CDATA[ select  isnull(wflag,'') as wflag
                  from  TB_CA501_BOM WITH (NOLOCK)
                  where  isnull(opcod,'') = #{opcod}  and spcod = #{spcod}
        ]]>
    </select>

    <insert id="InsertBom501" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_CA501_BOM (custcd, opcod, spcod, lvsn, wflag, qty) values
        ('KDMES', #{opcod}, #{spcod}, 1, 'Y' , #{deqty}  )
    </insert>

    <update id="UpdateBom501" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE  TB_CA501_BOM SET qty = #{deqty}  where opcod  = #{opcod} and spcod  = #{spcod}
    </update>

    <delete id="DeleteBom501" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        DELETE FROM TB_CA501_BOM  where opcod  = #{opcod}
    </delete>

    <select id="SelectBomListOpcod"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[ select  A.opcod as opcod, B.jpum as opcodnm, B.jgugek as opgugek,
                          A.spcod as spcod, C.jpum as spcodnm, C.jgugek as spgugek,
                          A.qty as deqty, A.weight as weight
                  from  TB_CA501_BOM A WITH (NOLOCK)
                  join JCODE B on B.jkey = A.opcod
                  join JCODE C on C.jkey = A.spcod
                  where  isnull(A.opcod,'') = #{opcod}
        ]]>
    </select>


    <select id="SelectBomListTot"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[ select  A.opcod as opcod, B.jpum as opcodnm, B.jgugek as opgugek
                  from  TB_CA501_BOM A WITH (NOLOCK)
                  LEFT OUTER join JCODE B on B.jkey = A.opcod
                  where  isnull(A.opcod,'') Like concat('%',#{opcod},'%')
                   and Len(isnull(B.jpum,'') ) > 0
                  Group by A.opcod, B.jpum, B.jgugek
        ]]>
    </select>

</mapper>
